﻿<div class="page-spinner-bar" ng-show="Loading" style="position:unset; width:auto">
    <div class="bounce1 bg-blue"></div>
    <div class="bounce2 bg-blue"></div>
    <div class="bounce3 bg-blue"></div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="note note-success note-shadow note-bordered text-center" ng-show="Notifications.length == 0">
            <h3><i class="fa fa-exclamation-triangle" style="font-size:1em;"></i> &nbsp;Vous n'avez aucune notification.</h3>
        </div>
    </div>
</div>
<div class="portlet light" ng-hide="Loading || Notifications.length == 0">
    <div class="portlet-body">
        <div class="row">
            <div class="col-md-12">
                <div class="scroller" data-height="600px" data-always-visible="1" data-rail-visible1="1">
                    <br />
                    <ul class="timeline">
                        <li style="cursor:pointer" ng-repeat="notification in Notifications" ng-class="{'timeline-blue' : notification.Type == 'Task','timeline-purple' : notification.Type == 'Transfer'}" ng-click="(notification.Type == 'Task')?  $state.go('Layout.UserTasks') : $state.go('Layout.ListTransfer')">
                            <div class="timeline-time">
                                <span class="date">
                                    {{notification.CreatedAt | date:'dd/MM/yyyy'}}
                                </span>
                                <span class="time">
                                    {{notification.CreatedAt | date:'HH:mm'}}
                                </span>
                            </div>
                            <div class="timeline-icon">
                                <i class="fa" ng-class="{'fa-list-alt' : notification.Type == 'Task', 'fa fa-exchange' : notification.Type == 'Transfer'}"></i>
                            </div>
                            <div class="timeline-body">
                                <h2>{{notification.Title}}</h2>
                                <div class="timeline-content">
                                    {{notification.Message}}
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>