﻿<div class="modal-body">
    <form name="UpdateForm" novalidate>
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption font-green">
                    <i class="fa fa-gears font-green"></i>Actions
                </div>
                <div class="actions">
                    <button type="submit" class="btn btn-outline me-yellow" ng-disabled="Loading" ng-click="UpdateExpense(UpdateForm);">
                        <i class="fa fa-check" ng-hide="Loading"></i>
                        <span ng-hide="Loading">Modifier</span>
                        <i class="fa fa-spinner fa-spin" ng-show="Loading"></i>
                    </button>
                    <button type="button" class="btn btn-outline me-blue" ng-disabled="Loading" ng-click="Cancel()">
                        <i class="fa fa-times"></i>
                        <span>Annuler</span>
                    </button>
                </div>
            </div>
            <hr />
            <div class="portlet-body form">
                <div class="form-body">
                    <h4 class="form-section">
                        <a class="btn btn-circle btn-icon-only disabled blue">
                            <i class="fa fa-info"></i>
                        </a>
                        <span class="font-blue form-title">Informations sur la dépense</span>
                    </h4>
                    <hr class="separator" />
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Date <span class="required font-red-thunderbird" aria-required="true"> * </span></label>
                                <div>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                        <input type="text" class="form-control" name="Date" datetime="dd/MM/yyyy" ng-model="Expense.Date" ng-required="true" date-picker set-today-date="false" with-clear-btn="false" max="true">
                                    </div>
                                    <span class="help-block font-red-thunderbird" ng-show="UpdateForm.Date.$error.required &&  ( UpdateForm.Date.$dirty || UpdateForm.$submitted )"> Champ requis </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Agence <span class="required font-red-thunderbird" aria-required="true"> * </span></label>
                                <ui-select name="Agency_Id" ng-model="Expense.Agency_Id" theme="bootstrap" ng-required="true">
                                    <ui-select-match placeholder="Choisir">{{$select.selected.Name}}</ui-select-match>
                                    <ui-select-choices repeat="option.Id as option in Agencies | filter: $select.search">
                                        <div ng-bind-html="option.Name | highlight: $select.search"></div>
                                        <small ng-bind-html="option.City | highlight: $select.search"></small>
                                    </ui-select-choices>
                                </ui-select>
                                <span class="help-block font-red-thunderbird" ng-show="UpdateForm.Agency_Id.$error.required && ( UpdateForm.Agency_Id.$dirty || UpdateForm.$submitted )"> Champ requis </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Désignation <span class="required font-red-thunderbird" aria-required="true"> * </span></label>
                                <div>
                                    <input type="text" class="form-control" name="Name" ng-model="Expense.Name" ng-required="true" capitalize-first>
                                    <span class="help-block font-red-thunderbird" ng-show="UpdateForm.Name.$error.required && ( UpdateForm.Name.$dirty || UpdateForm.$submitted )"> Champ requis </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Montant<span class="required font-red-thunderbird" aria-required="true"> * </span></label>
                                <div>
                                    <div class="input-inline input-medium">
                                        <input type="number" class="form-control input-md" name="Amount" ng-model="Expense.Amount" ng-required="true" touch-spin postfix="DH">
                                    </div>
                                    <span class="help-block font-red-thunderbird" ng-show="UpdateForm.Amount.$error.required && ( UpdateForm.Amount.$dirty || UpdateForm.$submitted )"> Champ requis </span>
                                    <span class="help-block font-red-thunderbird" ng-show="UpdateForm.Amount.$invalid && ( UpdateForm.Amount.$dirty || UpdateForm.$submitted ) && !UpdateForm.Amount.$error.required"> Format invalide </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Catégorie <span class="required font-red-thunderbird" aria-required="true"> * </span></label>
                                <ui-select name="Category_Id" ng-model="Expense.Category_Id" theme="bootstrap" ng-required="true">
                                    <ui-select-match placeholder="Choisir">{{$select.selected.Name}}</ui-select-match>
                                    <ui-select-choices repeat="option.Id as option in Categories | filter: $select.search">
                                        <div ng-bind-html="option.Name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <span class="help-block font-red-thunderbird" ng-show="UpdateForm.Category_Id.$error.required && ( UpdateForm.Category_Id.$dirty || UpdateForm.$submitted )"> Champ requis </span>
                            </div>
                        </div>
                    </div>
                    <h4 class="form-section">
                        <a class="btn btn-circle btn-icon-only disabled blue">
                            <i class="fa fa-comment"></i>
                        </a>
                        <span class="font-blue form-title">Notes</span>
                    </h4>
                    <hr class="separator" />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">Ajouter un commentaire</label>
                                <div>
                                    <textarea type="text" class="form-control" name="Comment" ng-model="Expense.Comment"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
</div>