﻿<div class="modal-body">
    <form name="CreateForm" class="horizontal-form" novalidate>
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption font-green">
                            <i class="fa fa-gears font-green"></i>Actions
                        </div>
                        <div class="actions">
                            <button type="submit" class="btn btn-outline me-green" ng-disabled="Loading" ng-click="Create(CreateForm);">
                                <i class="fa fa-check" ng-hide="Loading"></i>
                                <span ng-hide="Loading">Enregistrer</span>
                                <i class="fa fa-spinner fa-spin" ng-show="Loading"></i>
                            </button>
                            <button type="button" class="btn btn-outline me-red" ng-click="Cancel()">
                                <i class="fa fa-times"></i>
                                <span>Annuler</span>
                            </button>
                        </div>
                    </div>
                    <hr />
                    <div class="portlet-body form">
                        <div class="form-body">
                            <h4 class="form-section">
                                <a class="btn btn-circle btn-icon-only disabled blue">
                                    <i class="fa fa-info"></i>
                                </a>
                                <span class="font-blue form-title">Informations</span>
                            </h4>
                            <hr class="separator" />
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Désignation <span class="required font-red-thunderbird" aria-required="true"> * </span></label>
                                        <div>
                                            <input type="text" class="form-control" name="Name" ng-model="Category.Name" ng-required="true" capitalize-first>
                                            <span class="help-block font-red-thunderbird" ng-show="CreateForm.Name.$error.required && ( CreateForm.Name.$dirty || CreateForm.$submitted )"> Champ requis </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
</div>