﻿<form name="CreateForm" class="horizontal-form" ng-submit="Create(CreateForm);" novalidate>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption font-green">
                        <i class="fa fa-gears font-green"></i>Actions
                    </div>
                    <div class="actions">
                        <button type="button" class="btn btn-outline me-blue" ng-click="$state.go('Layout.ListExpense');" ng-disabled="Loading" tooltip="Retour à la liste"  tooltip-trigger="mouseenter" tooltip-placement="top">
                            <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
                        </button>
                        <button type="submit" class="btn btn-outline me-green" ng-disabled="Loading" >
                            <i class="fa fa-check" ng-hide="Loading"></i>
                            <span ng-hide="Loading">Enregistrer</span>
                            <i class="fa fa-spinner fa-spin" ng-show="Loading"></i>
                        </button>
                        <button type="button" class="btn btn-outline me-red" ng-click="$state.reload();" ng-disabled="Loading">
                            <i class="fa fa-times" aria-hidden="true"></i> Annuler
                        </button>
                        <button type="button" href="javascript:;" class="btn btn-outline me-blue fullscreen" ng-disabled="Loading">
                            <i class="fa fa-arrows-alt"></i>
                        </button>
                    </div>
                </div>
                <hr />
                <div class="portlet-body form">
                    <div class="form-body"> 
                        <h4 class="form-section">
                            <a class="btn btn-circle btn-icon-only disabled blue">
                                <i class="fa fa-info"></i>
                            </a>
                            <span class="font-blue form-title">Informations sur la dépense</span>
                        </h4>
                        <hr class="separator" />
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Date <span class="required font-red-thunderbird" aria-required="true"> * </span></label>
                                    <div>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                            <input type="text" class="form-control" name="Date" datetime="dd/MM/yyyy" ng-model="Expense.Date" ng-required="true" date-picker set-today-date="true" with-clear-btn="false" max="true">
                                        </div>
                                        <span class="help-block font-red-thunderbird" ng-show="CreateForm.Date.$error.required && ( CreateForm.Date.$dirty || CreateForm.$submitted )"> Champ requis </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Agence <span class="required font-red-thunderbird" aria-required="true"> * </span></label>
                                    <ui-select name="Agency_Id" ng-model="Expense.Agency_Id" theme="bootstrap" ng-required="true">
                                        <ui-select-match placeholder="Choisir">{{$select.selected.Name}}</ui-select-match>
                                        <ui-select-choices repeat="option.Id as option in Agencies | filter: $select.search">
                                            <div ng-bind-html="option.Name | highlight: $select.search"></div>
                                            <small ng-bind-html="option.City | highlight: $select.search"></small>
                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="help-block font-red-thunderbird" ng-show="CreateForm.Agency_Id.$error.required && ( CreateForm.Agency_Id.$dirty || CreateForm.$submitted )"> Champ requis </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Désignation <span class="required font-red-thunderbird" aria-required="true"> * </span></label>
                                    <div>
                                        <input type="text" class="form-control" name="Name" ng-model="Expense.Name" ng-required="true" capitalize-first>
                                        <span class="help-block font-red-thunderbird" ng-show="CreateForm.Name.$error.required && ( CreateForm.Name.$dirty || CreateForm.$submitted )"> Champ requis </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Montant<span class="required font-red-thunderbird" aria-required="true"> * </span></label>
                                    <div>
                                        <div class="input-inline input-medium">
                                            <input type="number" class="form-control input-md" name="Amount" ng-model="Expense.Amount" ng-required="true" touch-spin postfix="DH">
                                        </div>
                                        <span class="help-block font-red-thunderbird" ng-show="CreateForm.Amount.$error.required && ( CreateForm.Amount.$dirty || CreateForm.$submitted )"> Champ requis </span>
                                        <span class="help-block font-red-thunderbird" ng-show="CreateForm.Amount.$invalid && ( CreateForm.Amount.$dirty || CreateForm.$submitted ) && !CreateForm.Amount.$error.required"> Format invalide </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Catégorie <span class="required font-red-thunderbird" aria-required="true"> * </span></label>
                                    <div class="input-group">
                                        <ui-select name="Category_Id" ng-model="Expense.Category_Id" theme="bootstrap" ng-required="true">
                                            <ui-select-match placeholder="Choisir">{{$select.selected.Name}}</ui-select-match>
                                            <ui-select-choices repeat="option.Id as option in Categories | filter: $select.search">
                                                <div ng-bind-html="option.Name | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-outline me-blue" ng-click="CreateCategory();" ng-hide="CustomerExist || CreateForm.CIN.$pristine || CheckerLoading">
                                                <i class="fa fa-plus">
                                                </i>
                                            </button>
                                        </span>
                                    </div>
                                    <span class="help-block font-red-thunderbird" ng-show="CreateForm.Category_Id.$error.required && ( CreateForm.Category_Id.$dirty || CreateForm.$submitted )"> Champ requis </span>
                                </div>
                            </div>
                        </div>
                        <h4 class="form-section">
                            <a class="btn btn-circle btn-icon-only disabled blue">
                                <i class="fa fa-comment"></i>
                            </a>
                            <span class="font-blue form-title">Notes</span>
                        </h4>
                        <hr class="separator" />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Ajouter un commentaire</label>
                                    <div>
                                        <textarea type="text" class="form-control" name="Comment" ng-model="Expense.Comment"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>