/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/

.portlet {
    border-radius: 4px !important;
}

    .portlet .portlet-title {
        border-radius: 4px 4px 0px 0px !important;
    }

    .portlet .portlet-body,
    .portlet .portlet-body .form-actions {
        border-radius: 0px 0px 4px 4px !important;
    }


.ui-select-bootstrap {
    border: 1px solid #e5e5e5;
}

.ui-select-match {
    text-transform: none;
}

.btn.btn-outline.me-red {
    border-color: #e7505a;
    color: #e7505a;
    background: 0 0;
}

    .btn.btn-outline.me-red:hover {
        background: #e7505a;
        color: white;
    }

.btn.btn-outline.me-blue {
    border-color: #3598dc;
    color: #3598dc;
    background: 0 0;
}

    .btn.btn-outline.me-blue:hover {
        background: #3598dc;
        color: white;
    }

.btn.btn-outline.me-grey {
    border-color: #67809F;
    color: #67809F;
    background: 0 0;
}

    .btn.btn-outline.me-grey:hover {
        background: #67809F;
        color: white;
    }

.btn.btn-outline.me-yellow {
    border-color: #c49f47;
    color: #c49f47;
    background: 0 0;
}

    .btn.btn-outline.me-yellow:hover {
        background: #c49f47;
        color: white;
    }

.btn.btn-outline.me-green {
    border-color: #4DB3A2;
    color: #4DB3A2;
    background: 0 0;
}

    .btn.btn-outline.me-green:hover {
        background: #4DB3A2;
        color: white;
    }

.btn.btn-outline.me-dark {
    border-color: #2F353B;
    color: #2F353B;
    background: 0 0;
}

    .btn.btn-outline.me-dark:hover {
        background: #2F353B;
        color: white;
    }

.separator {
    margin-top: 0px;
    border: 0;
    border-top: 1px solid #3598DC;
    border-width: 2px;
}

.picker__holder {
    font-family: none;
}

.ui-notification {
    z-index: 10000000;
}

.dataTables_wrapper .dt-buttons {
    float: none;
    text-align: right;
}

.tooltip-inner {
    white-space: pre-wrap;
}

.tooltip-inner {
    text-align: left;
}

.form-title {
    font-weight: 600;
}


.timeline-attendance {
    position: relative;
    padding: 21px 0px 10px;
    margin-top: 4px;
    margin-bottom: 30px;
}

    .timeline-attendance .line {
        position: absolute;
        width: 4px;
        display: block;
        background: currentColor;
        top: 0px;
        bottom: 0px;
        margin-left: 30px;
    }

    .timeline-attendance .separator {
        border-top: 1px solid currentColor;
        padding: 5px;
        padding-left: 40px;
        font-style: italic;
        font-size: .9em;
        margin-left: 30px;
    }

    .timeline-attendance .line::before {
        top: -4px;
    }

    .timeline-attendance .line::after {
        bottom: -4px;
    }

    .timeline-attendance .line::before,
    .timeline-attendance .line::after {
        content: '';
        position: absolute;
        left: -4px;
        width: 12px;
        height: 12px;
        display: block;
        border-radius: 50%;
        background: currentColor;
    }

    .timeline-attendance .panel {
        position: relative;
        margin: 10px 0px 21px 70px;
        clear: both;
    }

        .timeline-attendance .panel::before {
            position: absolute;
            display: block;
            top: 8px;
            left: -24px;
            content: '';
            width: 0px;
            height: 0px;
            border: inherit;
            border-width: 12px;
            border-top-color: transparent;
            border-bottom-color: transparent;
            border-left-color: transparent;
        }

        .timeline-attendance .panel .panel-heading.icon * {
            font-size: 20px;
            vertical-align: middle;
            line-height: 40px;
        }

        .timeline-attendance .panel .panel-heading.icon {
            position: absolute;
            left: -59px;
            display: block;
            width: 40px;
            height: 40px;
            padding: 0px;
            border-radius: 50%;
            text-align: center;
            float: left;
        }

    .timeline-attendance .panel-outline {
        border-color: transparent;
        background: transparent;
        box-shadow: none;
    }

        .timeline-attendance .panel-outline .panel-body {
            padding: 10px 0px;
        }

        .timeline-attendance .panel-outline .panel-heading:not(.icon),
        .timeline-attendance .panel-outline .panel-footer {
            display: none;
        }
