﻿<div class="modal-body">
    <form name="UpdateForm" novalidate>
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption font-green">
                    <i class="fa fa-gears font-green"></i>Actions
                </div>
                <div class="actions">
                    <button type="submit" class="btn btn-outline me-yellow" ng-disabled="Loading" ng-click="UpdateUser(UpdateForm);">
                        <i class="fa fa-check" ng-hide="Loading"></i>
                        <span ng-hide="Loading">Modifier</span>
                        <i class="fa fa-spinner fa-spin" ng-show="Loading"></i>
                    </button>
                    <button type="button" class="btn btn-outline me-blue" ng-disabled="Loading" ng-click="Cancel()">
                        <i class="fa fa-times"></i>
                        <span>Annuler</span>
                    </button>
                </div>
            </div>
            <hr />
            <div class="portlet-body form">
                <div class="form-body">
                    <h4 class="form-section">
                        <a class="btn btn-circle btn-icon-only disabled blue">
                            <i class="fa fa-user"></i>
                        </a>
                        <span class="font-blue form-title">Informations</span>
                    </h4>
                    <hr class="separator" />
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Civilité <span class="required font-red-thunderbird" aria-required="true"> * </span></label>
                                <ui-select name="Civility" ng-model="User.Civility" ng-init="Options = [{ name: 'M.', value: 'M.' },{ name: 'Mme.', value: 'Mme.' },{ name: 'Mlle.', value: 'Mlle.' }];" theme="bootstrap" ng-required="true">
                                    <ui-select-match placeholder="Choisir">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="option.value as option in Options | filter: $select.search">
                                        <div ng-bind-html="option.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <span class="help-block font-red-thunderbird" ng-show="UpdateForm.Civility.$error.required && ( UpdateForm.Civility.$dirty || UpdateForm.$submitted )"> Champ requis </span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Prénom <span class="required font-red-thunderbird" aria-required="true"> * </span></label>
                                <div>
                                    <input type="text" class="form-control" name="FirstName" ng-model="User.FirstName" ng-required="true" capitalize-first>
                                    <span class="help-block font-red-thunderbird" ng-show="UpdateForm.FirstName.$error.required && ( UpdateForm.FirstName.$dirty || UpdateForm.$submitted )"> Champ requis </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Nom <span class="required font-red-thunderbird" aria-required="true"> * </span></label>
                                <div>
                                    <input type="text" class="form-control" name="LastName" ng-model="User.LastName" ng-required="true" capitalize-first>
                                    <span class="help-block font-red-thunderbird" ng-show="UpdateForm.LastName.$error.required && ( UpdateForm.LastName.$dirty || UpdateForm.$submitted )"> Champ requis </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Nom d'utilisateur <span class="required font-red-thunderbird" aria-required="true"> * </span></label>
                                <div>
                                    <input type="text" class="form-control" name="Username" ng-model="User.Username" ng-required="true">
                                    <span class="help-block font-red-thunderbird" ng-show="UpdateForm.Username.$error.required && ( UpdateForm.Username.$dirty || UpdateForm.$submitted )"> Champ requis </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Mot de passe</label>
                                <div>
                                    <input type="text" class="form-control" name="Password" ng-model="User.PasswordToHash" password-checker>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Confirmer le mot de passe</label>
                                    <input type="text" class="form-control" name="RepeatPassword" ng-model="User.RepeatPassword" ng-pattern="User.PasswordToHash" ng-required="UpdateForm.Password.$dirty">
                                <span class="help-block font-red-thunderbird" ng-show="UpdateForm.RepeatPassword.$error.required"> Champ requis </span>
                                    <span class="help-block font-red-thunderbird" ng-show="UpdateForm.RepeatPassword.$invalid && UpdateForm.RepeatPassword.$dirty"> Ces mots de passe ne correspondent pas.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4 class="form-section">
                        <a class="btn btn-circle btn-icon-only disabled blue">
                            <i class="fa fa-home"></i>
                        </a>
                        <span class="font-blue form-title">Affectation & Permissions</span>
                    </h4>
                    <hr class="separator" />
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Agence <span class="required font-red-thunderbird" aria-required="true"> * </span></label>
                                <ui-select name="Agency_Id" ng-model="User.Agency_Id" theme="bootstrap" ng-disabled="User.IsMain" ng-required="true">
                                    <ui-select-match placeholder="Choisir">{{$select.selected.Name}}</ui-select-match>
                                    <ui-select-choices repeat="option.Id as option in Agencies | filter: $select.search">
                                        <div ng-bind-html="option.Name | highlight: $select.search"></div>
                                        <small ng-bind-html="option.City | highlight: $select.search"></small>
                                    </ui-select-choices>
                                </ui-select>
                                <span class="help-block font-red-thunderbird" ng-show="UpdateForm.Agency_Id.$error.required && ( UpdateForm.Agency_Id.$dirty || UpdateForm.$submitted )"> Champ requis </span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Profil <span class="required font-red-thunderbird" aria-required="true"> * </span></label>
                                <ui-select name="Profil" ng-model="User.Roles" theme="bootstrap" ng-init="RolesOpions = [{ name: 'Agent', value: 'User' },{ name: 'Administrateur', value: 'Admin|User' }];" ng-required="true" ng-disabled="User.IsMain">
                                    <ui-select-match placeholder="Choisir">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="option.value as option in RolesOpions | filter: $select.search">
                                        <div ng-bind-html="option.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <span class="help-block font-red-thunderbird" ng-show="UpdateForm.Profil.$error.required && ( UpdateForm.Profil.$dirty || UpdateForm.$submitted )"> Champ requis </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </form>
</div>
<div class="modal-footer">
</div>