﻿
<form name="CreateForm" class="horizontal-form" ng-submit="Create(CreateForm);" novalidate>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption font-green">
                        <i class="fa fa-gears font-green"></i>Actions
                    </div>
                    <div class="actions">
                        <button type="button" class="btn btn-outline me-blue" ng-click="$state.go('Layout.ListUser');" ng-disabled="Loading" tooltip="Retour à la liste"  tooltip-trigger="mouseenter" tooltip-placement="top">
                            <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
                        </button>
                        <button type="submit" class="btn btn-outline me-green" ng-disabled="Loading" >
                            <i class="fa fa-check" ng-hide="Loading"></i>
                            <span ng-hide="Loading">Enregistrer</span>
                            <i class="fa fa-spinner fa-spin" ng-show="Loading"></i>
                        </button>
                        <button type="button" class="btn btn-outline me-red" ng-click="$state.reload();" ng-disabled="Loading">
                            <i class="fa fa-times" aria-hidden="true"></i> Annuler
                        </button>
                        <button type="button" href="javascript:;" class="btn btn-outline me-blue fullscreen" ng-disabled="Loading">
                            <i class="fa fa-arrows-alt"></i>
                        </button>
                    </div>
                </div>
                <hr />
                <div class="portlet-body form">
                    <div class="form-body">
                        <h4 class="form-section">
                            <a class="btn btn-circle btn-icon-only disabled blue">
                                <i class="fa fa-user"></i>
                            </a>
                            <span class="font-blue form-title">Informations</span>
                        </h4>
                        <hr class="separator" />
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Civilité <span class="required font-red-thunderbird" aria-required="true"> * </span></label>
                                    <ui-select name="Civility" ng-model="User.Civility" ng-init="Options = [{ name: 'M.', value: 'M.' },{ name: 'Mme.', value: 'Mme.' },{ name: 'Mlle.', value: 'Mlle.' }];" theme="bootstrap" ng-required="true">
                                        <ui-select-match placeholder="Choisir">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="option.value as option in Options | filter: $select.search">
                                            <div ng-bind-html="option.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="help-block font-red-thunderbird" ng-show="CreateForm.Civility.$error.required && ( CreateForm.Civility.$dirty || CreateForm.$submitted )"> Champ requis </span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Prénom <span class="required font-red-thunderbird" aria-required="true"> * </span></label>
                                    <div>
                                        <input type="text" class="form-control" name="FirstName" ng-model="User.FirstName" ng-required="true" capitalize-first>
                                        <span class="help-block font-red-thunderbird" ng-show="CreateForm.FirstName.$error.required && ( CreateForm.FirstName.$dirty || CreateForm.$submitted )"> Champ requis </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Nom <span class="required font-red-thunderbird" aria-required="true"> * </span></label>
                                    <div>
                                        <input type="text" class="form-control" name="LastName" ng-model="User.LastName" ng-required="true" capitalize-first>
                                        <span class="help-block font-red-thunderbird" ng-show="CreateForm.LastName.$error.required && ( CreateForm.LastName.$dirty || CreateForm.$submitted )"> Champ requis </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Nom d'utilisateur <span class="required font-red-thunderbird" aria-required="true"> * </span></label>
                                    <div>
                                        <div class="input-icon">
                                            <i class="fa fa-user fa-fw"></i>
                                            <input type="text" class="form-control" name="Username" ng-model="User.Username" ng-required="true">
                                        </div>
                                        <span class="help-block font-red-thunderbird" ng-show="CreateForm.Username.$error.required && ( CreateForm.Username.$dirty || CreateForm.$submitted )"> Champ requis </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Mot de passe <span class="required font-red-thunderbird" aria-required="true"> * </span></label>
                                    <div class="password-strength">
                                        <div class="input-icon">
                                            <i class="fa fa-lock fa-fw"></i>
                                            <input type="text" class="form-control" name="Password" ng-model="User.PasswordToHash" ng-required="true" password-checker>
                                        </div>
                                        <span class="help-block font-red-thunderbird" ng-show="CreateForm.Password.$error.required && ( CreateForm.Password.$dirty || CreateForm.$submitted )"> Champ requis </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Confirmer le mot de passe <span class="required font-red-thunderbird" aria-required="true"> * </span></label>
                                    <div>
                                        <div class="input-icon">
                                            <i class="fa fa-lock fa-fw"></i>
                                            <input type="text" class="form-control" name="RepeatPassword" ng-model="User.RepeatPassword" ng-pattern="User.PasswordToHash" ng-required="true">
                                        </div>
                                        <span class="help-block font-red-thunderbird" ng-show="CreateForm.RepeatPassword.$error.required && ( CreateForm.RepeatPassword.$dirty || CreateForm.$submitted )"> Champ requis </span>
                                        <span class="help-block font-red-thunderbird" ng-show="CreateForm.RepeatPassword.$invalid && CreateForm.RepeatPassword.$dirty && !CreateForm.RepeatPassword.$error.required"> Ces mots de passe ne correspondent pas.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h4 class="form-section">
                            <a class="btn btn-circle btn-icon-only disabled blue">
                                <i class="fa fa-home"></i>
                            </a>
                            <span class="font-blue form-title">Affectation & Permissions</span>
                        </h4>
                        <hr class="separator" />
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Agence <span class="required font-red-thunderbird" aria-required="true"> * </span></label>
                                    <ui-select name="Agency_Id" ng-model="User.Agency_Id" theme="bootstrap" ng-required="true">
                                        <ui-select-match placeholder="Choisir">{{$select.selected.Name}}</ui-select-match>
                                        <ui-select-choices repeat="option.Id as option in Agencies | filter: $select.search">
                                            <div ng-bind-html="option.Name | highlight: $select.search"></div>
                                            <small ng-bind-html="option.City | highlight: $select.search"></small>
                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="help-block font-red-thunderbird" ng-show="CreateForm.Agency_Id.$error.required && ( CreateForm.Agency_Id.$dirty || CreateForm.$submitted )"> Champ requis </span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Profil <span class="required font-red-thunderbird" aria-required="true"> * </span></label>
                                    <ui-select name="Profil" ng-model="User.Roles" theme="bootstrap" ng-init="RolesOpions = [{ name: 'Agent', value: 'User' },{ name: 'Administrateur', value: 'Admin|User' }];" ng-required="true">
                                        <ui-select-match placeholder="Choisir">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="option.value as option in RolesOpions | filter: $select.search">
                                            <div ng-bind-html="option.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="help-block font-red-thunderbird" ng-show="CreateForm.Profil.$error.required && ( CreateForm.Profil.$dirty || CreateForm.$submitted )"> Champ requis </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>