﻿<div class="row profile" ng-init="ActiveTab = 0 ; SubActiveTab = 0;">
    <div class="col-md-12">
        <!--BEGIN TABS-->
        <div class="tabbable tabbable-custom tabbable-noborder ">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a data-toggle="tab" ng-click="ActiveTab = 0;">
                    Vue d'ensemble
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" ng-click="ActiveTab = 1;">
                        Paramètres
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div ng-show="ActiveTab == 0">
                    <div class="row">
                        <div class="col-md-3">
                            <ul class="list-unstyled profile-nav">
                                <li>
                                    <img src="/Assets/Images/avatar.png" class="img-responsive" alt="" />
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-10 profile-info">
                                    <h3 class="font-blue">{{user.Civility + ' ' + user.FirstName + ' ' + user.LastName}}</h3>
                                    <hr />
                                    <div class="row static-info">
                                        <div class="col-md-7 name">
                                            Nom d'utilisateur :
                                        </div>
                                        <div class="col-md-5 value">
                                            {{user.Username}}
                                        </div>
                                    </div>
                                    <div class="row static-info">
                                        <div class="col-md-7 name">
                                            Agence :
                                        </div>
                                        <div class="col-md-5 value">
                                            {{user.AgencyName}}
                                        </div>
                                    </div>
                                    <div class="row static-info">
                                        <div class="col-md-7 name">
                                            Profil :
                                        </div>
                                        <div class="col-md-5 value" ng-if="user.UserRoles.split('|')[0] == 'Admin' || user.UserRoles.split('|')[0] == 'SuperAdmin'">
                                            Administrateur
                                        </div>
                                        <div class="col-md-5 value" ng-if="user.UserRoles.split('|')[0] == 'User'">
                                            Agent
                                        </div>
                                    </div>
                                    <div class="row static-info">
                                        <div class="col-md-7 name">
                                            Date de création :
                                        </div>
                                        <div class="col-md-5 value">
                                            19/06/2017
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end row-->
                        </div>
                    </div>
                </div>
                <div ng-show="ActiveTab == 1">
                    <div class="row profile-account">
                        <div class="col-md-3">
                            <ul class="ver-inline-menu tabbable margin-bottom-10">
                                <li class="active">
                                    <a data-toggle="tab" ng-click="SubActiveTab = 0;">
                                        <i class="fa fa-cog"></i> Informations Personnelles
                                    </a>
                                    <span class="after">
                                    </span>
                                </li>
                                <li>
                                    <a data-toggle="tab" ng-click="SubActiveTab = 1;">
                                        <i class="fa fa-lock"></i> Changer mot de passe
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-9">
                            <div class="tab-content">
                                <div ng-show="SubActiveTab == 0">
                                    <form role="form" name="ProfilInformationsForm" ng-submit="UpdateProfilInformations(ProfilInformationsForm);" novalidate>
                                        <div class="form-group">
                                            <label class="control-label">Civilité</label>
                                            <ui-select name="Civility" ng-model="UserProfil.Civility" ng-init="Options = [{ name: 'M.', value: 'M.' },{ name: 'Mme.', value: 'Mme.' },{ name: 'Mlle.', value: 'Mlle.' }];" theme="bootstrap" ng-required="true">
                                                <ui-select-match placeholder="Choisir">{{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices repeat="option.value as option in Options | filter: $select.search">
                                                    <div ng-bind-html="option.name | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                            <span class="help-block font-red-thunderbird" ng-show="ProfilInformationsForm.Civility.$error.required && ( ProfilInformationsForm.Civility.$dirty || ProfilInformationsForm.$submitted )"> Champ requis </span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Prénom</label>
                                            <input type="text" class="form-control" name="FirstName" ng-model="UserProfil.FirstName" ng-required="true"/>
                                            <span class="help-block font-red-thunderbird" ng-show="ProfilInformationsForm.FirstName.$error.required && ( ProfilInformationsForm.FirstName.$dirty || ProfilInformationsForm.$submitted )"> Champ requis </span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Nom</label>
                                            <input type="text" class="form-control" name="LastName" ng-model="UserProfil.LastName" ng-required="true"/>
                                            <span class="help-block font-red-thunderbird" ng-show="ProfilInformationsForm.LastName.$error.required && ( ProfilInformationsForm.LastName.$dirty || ProfilInformationsForm.$submitted )"> Champ requis </span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Nom d'utilisateur</label>
                                            <div class="input-icon">
                                                <i class="fa fa-user fa-fw"></i>
                                                <input type="text" class="form-control" name="Username" ng-model="UserProfil.Username" ng-required="true">
                                            </div>
                                            <span class="help-block font-red-thunderbird" ng-show="ProfilInformationsForm.Username.$error.required && ( ProfilInformationsForm.Username.$dirty || ProfilInformationsForm.$submitted )"> Champ requis </span>
                                        </div>
                                        <div class="margiv-top-10">
                                            <button type="submit" class="btn btn-outline me-green">
                                                <span ng-hide="LoadingProfilInformations">Mofidier</span>
                                                <i class="fa fa-spinner fa-spin" ng-show="LoadingProfilInformations"></i>
                                            </button>
                                            <button type="button" class="btn btn-outline me-red" ng-click="CancelProfilInformations();" >
                                                Annuler
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <div ng-show="SubActiveTab == 1">
                                    <form role="form" name="ProfilPasswordForm" ng-submit="UpdateProfilPassword(ProfilPasswordForm);" novalidate>
                                        <div class="form-group">
                                            <label class="control-label">Actuel</label>
                                            <div class="password-strength">
                                                <div class="input-icon">
                                                    <i class="fa fa-lock fa-fw"></i>
                                                    <input type="text" name="CurrentPassword" ng-model="UserProfil.CurrentPassword" class="form-control"  ng-required="true"/>
                                                </div>
                                                <span class="help-block font-red-thunderbird" ng-show="ProfilPasswordForm.CurrentPassword.$error.required && ( ProfilPasswordForm.CurrentPassword.$dirty || ProfilPasswordForm.$submitted )"> Champ requis </span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Nouveau</label>
                                            <div class="password-strength">
                                                <div class="input-icon">
                                                    <i class="fa fa-lock fa-fw"></i>
                                                    <input type="text" name="PasswordToHash" ng-model="UserProfil.PasswordToHash" class="form-control" password-checker ng-required="true"  />
                                                </div>
                                                <span class="help-block font-red-thunderbird" ng-show="ProfilPasswordForm.PasswordToHash.$error.required && ( ProfilPasswordForm.PasswordToHash.$dirty || ProfilPasswordForm.$submitted )"> Champ requis </span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Confirmer</label>
                                            <div class="password-strength">
                                                <div class="input-icon">
                                                    <i class="fa fa-lock fa-fw"></i>
                                                    <input type="text" name="PasswordConfirm" ng-model="UserProfil.PasswordConfirm" class="form-control" ng-pattern="UserProfil.PasswordToHash" ng-required="true" />
                                                </div>
                                                <span class="help-block font-red-thunderbird" ng-show="ProfilPasswordForm.PasswordConfirm.$error.required && ( ProfilPasswordForm.PasswordConfirm.$dirty || ProfilPasswordForm.$submitted )"> Champ requis </span>
                                                <span class="help-block font-red-thunderbird" ng-show="ProfilPasswordForm.PasswordConfirm.$invalid && ProfilPasswordForm.PasswordConfirm.$dirty && !ProfilPasswordForm.PasswordConfirm.$error.required"> Ces mots de passe ne correspondent pas.</span>
                                            </div>
                                        </div>
                                        <div class="margin-top-10">
                                            <button type="submit" class="btn btn-outline me-green">
                                                <span ng-hide="LoadingProfilPassword">Modifier</span>
                                                <i class="fa fa-spinner fa-spin" ng-show="LoadingProfilPassword"></i>
                                            </button>
                                            <button type="button" class="btn btn-outline me-red" ng-click="CancelProfilPassword();">
                                                Annuler
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!--end col-md-9-->
                    </div>
                </div>
            </div>
        </div>
        <!--END TABS-->
    </div>
</div>