﻿<div class="modal-body">
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption font-green">
                <i class="fa fa-gears font-green"></i>Actions
            </div>
            <div class="actions">
                <button type="button" class="btn btn-outline me-blue" ng-click="Close()">
                    <i class="fa fa-close"></i>
                    <span>Fermer</span>
                </button>
            </div>
        </div>
        <hr />
        <div class="portlet-body form">
            <!-- BEGIN FORM-->
            <form class="form-horizontal" role="form">
                <div class="form-body">
                    <h4 class="form-section">
                        <a class="btn btn-circle btn-icon-only disabled blue">
                            <i class="fa fa-user"></i>
                        </a>
                        <span class="font-blue form-title">Informations sur le client</span>
                    </h4>
                    <hr class="separator" />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-7 bold">Nom complet :</label>
                                <div class="col-md-5">
                                    <p class="form-control-static" ng-bind="Customer.CompleteName">
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-7 bold">C.I.N / C.I.L:</label>
                                <div class="col-md-5">
                                    <p class="form-control-static" ng-bind="Customer.CIN">
                                    </p>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-7 bold">Date de naissance :</label>
                                <div class="col-md-5">
                                    <p class="form-control-static">
                                        {{Customer.BirthDay | date:'dd/MM/yyyy'}}
                                        <span class="label label-danger" ng-show="Customer.BirthDay == null">
                                            Champ vide
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-7 bold">Agence :</label>
                                <div class="col-md-5">
                                    <p class="form-control-static">
                                        {{Customer.AgencyName}}
                                        <span class="label label-danger" ng-show="Customer.AgencyName == null">
                                            Champ vide
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4 class="form-section">
                        <a class="btn btn-circle btn-icon-only disabled blue">
                            <i class="fa fa-map-marker"></i>
                        </a>
                        <span class="font-blue form-title">Coordonnées</span>
                    </h4>
                    <hr class="separator" />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-7 bold">Téléphone 1 :</label>
                                <div class="col-md-5">
                                    <p class="form-control-static">
                                        {{Customer.Phone1}}
                                        <span class="label label-danger" ng-show="Customer.Phone1 == null">
                                            Champ vide
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-7 bold">Téléphone 2 :</label>
                                <div class="col-md-5">
                                    <p class="form-control-static">
                                        {{Customer.Phone2}}
                                        <span class="label label-danger" ng-show="Customer.Phone2 == null">
                                            Champ vide
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-7 bold">Email :</label>
                                <div class="col-md-5">
                                    <p class="form-control-static">
                                        {{Customer.Email}}
                                        <span class="label label-danger" ng-show="Customer.Email == null">
                                            Champ vide
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-7 bold">Adresse :</label>
                                <div class="col-md-5">
                                    <p class="form-control-static">
                                        {{Customer.Address}}
                                        <span class="label label-danger" ng-show="Customer.Address == null">
                                            Champ vide
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4 class="form-section">
                        <a class="btn btn-circle btn-icon-only disabled blue">
                            <i class="fa fa-exchange"></i>
                        </a>
                        <span class="font-blue form-title">Transactions</span>
                    </h4>
                    <hr class="separator" />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-7 bold">Nbr total des transactions : </label>
                                <div class="col-md-5">
                                    <p class="form-control-static">
                                        {{Customer.NumberOfTransactions}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-7 bold">Date de la dernière trs : </label>
                                <div class="col-md-5">
                                    <p class="form-control-static">
                                        <span class="label label-danger" ng-show="Customer.LastTransaction == '0001-01-01T00:00:00'">
                                            Champ vide
                                        </span>
                                        <span class="label label-danger" ng-show="Customer.LastTransaction != '0001-01-01T00:00:00'">
                                            {{Customer.LastTransaction | date:'dd/MM/yyyy HH:ss'}}
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4 class="form-section">
                        <a class="btn btn-circle btn-icon-only disabled blue">
                            <i class="fa fa-comment"></i>
                        </a>
                        <span class="font-blue form-title">Commentaire</span>
                    </h4>
                    <hr class="separator" />
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div class="well">
                                <span ng-show="Customer.Comment != null">
                                    {{Customer.Comment}}
                                </span>
                                <span class="label label-danger" ng-show="Customer.Comment == null">
                                    Aucun commentaire n'est diponible pour ce client.
                                </span>
                            </div>
                        </div>
                    </div>
                    <h4 class="form-section">
                        <a class="btn btn-circle btn-icon-only disabled blue">
                            <i class="fa fa-cloud-upload"></i>
                        </a>
                        <span class="font-blue form-title">Télécharger la pièce d'identité</span>
                    </h4>
                    <hr class="separator" />
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <span ng-if="Customer.FilePath != null">
                                <a class="btn btn-outline me-red" download="{{Customer.FilePath}}" ng-href="{{ UrlDownload }}"><i class="fa fa-cloud-upload"></i>Télécharger</a>
                            </span>
                            <span class="label label-danger" ng-if="Customer.FilePath == null">
                                Aucune pièce d'identité disponible pour ce client
                            </span>
                        </div>
                    </div>
                </div>

            </form>
            <!-- END FORM-->
        </div>
    </div>
</div>
<div class="modal-footer">
</div>