﻿<div class="modal-body">
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption font-green">
                <i class="fa fa-gears font-green"></i>Actions
            </div>
            <div class="actions">
                <button type="button" class="btn btn-outline me-blue" ng-click="Close()">
                    <i class="fa fa-close"></i>
                    <span>Fermer</span>
                </button>
            </div>
        </div>
        <hr />
        <div class="portlet-body form">
            <!-- BEGIN FORM-->
            <form class="form-horizontal" role="form">
                <div class="form-body">
                    <h4 class="form-section">
                        <a class="btn btn-circle btn-icon-only disabled blue">
                            <i class="fa fa-info"></i>
                        </a>
                        <span class="font-blue form-title">Informations sur l'agence</span>
                    </h4>
                    <hr class="separator" />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-7 bold">Nom de la société :</label>
                                <div class="col-md-5">
                                    <p class="form-control-static" ng-bind="Agency.Name">
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-7 bold">Adresse :</label>
                                <div class="col-md-5">
                                    <p class="form-control-static" ng-bind="Agency.Address">
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-7 bold">Ville :</label>
                                <div class="col-md-5">
                                    <p class="form-control-static" ng-bind="Agency.City">
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-7 bold">Email :</label>
                                <div class="col-md-5">
                                    <p class="form-control-static" >
                                        {{Agency.Email}}
                                        <span class="label label-danger" ng-show="Agency.Email == null">
                                            Champ vide
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-7 bold">Téléphone résidentiel :</label>
                                <div class="col-md-5">
                                    <p class="form-control-static" ng-bind="Agency.Phone">
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-7 bold">Téléphone cellulaire :</label>
                                <div class="col-md-5">
                                    <p class="form-control-static">
                                        {{Agency.Cell}}
                                        <span class="label label-danger" ng-show="Agency.Cell == null">
                                            Champ vide
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4 class="form-section">
                        <a class="btn btn-circle btn-icon-only disabled blue">
                            <i class="fa fa-users"></i>
                        </a>
                        <span class="font-blue form-title">Utilisateurs affectés</span>
                    </h4>
                    <hr class="separator" />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-scrollable">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                Nom
                                            </th>
                                            <th>
                                                Prénom
                                            </th>
                                            <th>
                                                Username
                                            </th>
                                            <th>
                                                Statut
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="user in Agency.MatchingUsers ">
                                            <td>
                                                {{user.FirstName}}
                                            </td>
                                            <td>
                                                {{user.LastName}}
                                            </td>
                                            <td>
                                                {{user.Username}}
                                            </td>
                                            <td>
                                                <span class="label label-success" ng-hide="user.IsBlocked">Actif</span>
                                                <span class="label label-danger" ng-show="user.IsBlocked">Suspendu</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
            <!-- END FORM-->
        </div>
    </div>
</div>
<div class="modal-footer">
</div>