﻿<div class="modal-body">
    <form name="UpdateForm" novalidate>
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption font-green">
                    <i class="fa fa-gears font-green"></i>Actions
                </div>
                <div class="actions">
                    <button type="submit" class="btn btn-outline me-yellow" ng-disabled="Loading" ng-click="UpdateAgency(UpdateForm);">
                        <i class="fa fa-check" ng-hide="Loading"></i>
                        <span ng-hide="Loading">Modifier</span>
                        <i class="fa fa-spinner fa-spin" ng-show="Loading"></i>
                    </button>
                    <button type="button" class="btn btn-outline me-blue" ng-disabled="Loading" ng-click="Cancel()">
                        <i class="fa fa-times"></i>
                        <span>Annuler</span>
                    </button>
                </div>
            </div>
            <hr />
            <div class="portlet-body form">
                <div class="form-body">
                    <h4 class="form-section">
                        <a class="btn btn-circle btn-icon-only disabled blue">
                            <i class="fa fa-info"></i>
                        </a>
                        <span class="font-blue form-title">Informations sur l'agence</span>
                    </h4>
                    <hr class="separator" />
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Nom de la société <span class="required font-red-thunderbird" aria-required="true"> * </span></label>
                                <div>
                                    <input type="text" class="form-control" name="AgencyName" ng-model="Agency.Name" ng-required="true" capitalize-first>
                                    <span class="help-block font-red-thunderbird" ng-show="UpdateForm.AgencyName.$error.required && ( UpdateForm.AgencyName.$dirty || UpdateForm.$submitted )"> Champ requis </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Ville <span class="required font-red-thunderbird" aria-required="true"> * </span></label>
                                <ui-select name="City" ng-model="Agency.City" theme="bootstrap" ng-required="true">
                                    <ui-select-match placeholder="Choisir">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="option.value as option in Cities | filter: $select.search">
                                        <div ng-bind-html="option.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <span class="help-block font-red-thunderbird" ng-show="UpdateForm.City.$error.required && ( UpdateForm.City.$dirty || UpdateForm.$submitted )"> Champ requis </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Adresse <span class="required font-red-thunderbird" aria-required="true"> * </span></label>
                                <div>
                                    <input type="text" class="form-control" name="Address" ng-model="Agency.Address" ng-required="true" capitalize-first>
                                    <span class="help-block font-red-thunderbird" ng-show="UpdateForm.Address.$error.required &&  ( UpdateForm.Address.$dirty || UpdateForm.$submitted )"> Champ requis </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4 class="form-section">
                        <a class="btn btn-circle btn-icon-only disabled blue">
                            <i class="fa fa-map-marker"></i>
                        </a>
                        <span class="font-blue form-title">Coordonnées</span>
                    </h4>
                    <hr class="separator" />
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Téléphone résidentiel <span class="required font-red-thunderbird" aria-required="true"> * </span></label>
                                <div>
                                    <input type="text" class="form-control" name="Phone" ng-model="Agency.Phone" ng-required="true" mask="09.99.99.99.99" placeholder="0X.XX.XX.XX.XX">
                                    <span class="help-block font-red-thunderbird" ng-show="UpdateForm.Phone.$error.required && ( UpdateForm.Phone.$dirty || UpdateForm.$submitted )"> Champ requis </span>
                                    <span class="help-block font-red-thunderbird" ng-show="UpdateForm.Phone.$invalid && UpdateForm.Phone.$dirty"> Format du numéro invalide </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Téléphone cellulaire</label>
                                <div>
                                    <input type="text" class="form-control" name="Cell" ng-model="Agency.Cell" mask="09.99.99.99.99" placeholder="0X.XX.XX.XX.XX">
                                    <span class="help-block font-red-thunderbird" ng-show="UpdateForm.Cell.$invalid && UpdateForm.Cell.$dirty"> Format du numéro invalide </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Email</label>
                                <div>
                                    <input type="email" class="form-control" name="Email" ng-model="Agency.Email">
                                    <span class="help-block font-red-thunderbird" ng-show="UpdateForm.Email.$error.email && UpdateForm.Email.$dirty"> Format invalide </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
</div>