﻿<form name="CreateForm" class="horizontal-form" ng-submit="Create(CreateForm);" novalidate>
    <div class="row">
        <div class="col-md-12">
            <div class="note note-success note-shadow note-bordered" ng-hide="CreateAgencyAllowed">
                <h3>Vous avez atteint le nombre maximum d'agences à créer</h3>
                <p>
                    Vous ne pouvez plus créer d'avantage agences, Merci de contacter le support technique.
                </p>
                <p>
                    <button type="button" class="btn blue" ng-click="$state.go('Layout.ListAgency');">
                        Retour à la liste
                    </button>
                </p>
            </div>
            <div class="portlet light" ng-show="CreateAgencyAllowed">
                <div class="portlet-title">
                    <div class="caption font-green">
                        <i class="fa fa-gears font-green"></i>Actions
                    </div>
                    <div class="actions">
                        <button type="button" class="btn btn-outline me-blue" ng-click="$state.go('Layout.ListAgency');" ng-disabled="Loading" tooltip="Retour à la liste"  tooltip-trigger="mouseenter" tooltip-placement="top">
                            <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
                        </button>
                        <button type="submit" class="btn btn-outline me-green" ng-disabled="Loading" >
                            <i class="fa fa-check" ng-hide="Loading"></i>
                            <span ng-hide="Loading">Enregistrer</span>
                            <i class="fa fa-spinner fa-spin" ng-show="Loading"></i>
                        </button>
                        <button type="button" class="btn btn-outline me-red" ng-click="$state.reload();" ng-disabled="Loading">
                            <i class="fa fa-times" aria-hidden="true"></i> Annuler
                        </button>
                        <button type="button" href="javascript:;" class="btn btn-outline me-blue fullscreen" ng-disabled="Loading">
                            <i class="fa fa-arrows-alt"></i>
                        </button>
                    </div>
                </div>
                <hr />
                <div class="portlet-body form">
                    <div class="form-body">
                        <h4 class="form-section">
                            <a class="btn btn-circle btn-icon-only disabled blue">
                                <i class="fa fa-info"></i>
                            </a>
                            <span class="font-blue form-title">Informations sur l'agence</span>
                        </h4>
                        <hr class="separator" />
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Nom <span class="required font-red-thunderbird" aria-required="true"> * </span></label>
                                    <div>
                                        <input type="text" class="form-control" name="Name" ng-model="Agency.Name" ng-required="true" capitalize-first>
                                        <span class="help-block font-red-thunderbird" ng-show="CreateForm.Name.$error.required && (CreateForm.Name.$dirty || CreateForm.$submitted )"> Champ requis </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Adresse <span class="required font-red-thunderbird" aria-required="true"> * </span></label>
                                    <div ng-class="{'has-error':CreateForm.Address.$error.required && CreateForm.Address.$dirty}">
                                        <input type="text" class="form-control" name="Address" ng-model="Agency.Address" ng-required="true" capitalize-first>
                                        <span class="help-block font-red-thunderbird" ng-show="CreateForm.Address.$error.required && (CreateForm.Address.$dirty || CreateForm.$submitted )"> Champ requis </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Ville <span class="required font-red-thunderbird" aria-required="true"> * </span></label>
                                    <ui-select name="City" ng-model="Agency.City" theme="bootstrap" ng-required="true">
                                        <ui-select-match placeholder="Choisir">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="option.value as option in Cities | filter: $select.search">
                                            <div ng-bind-html="option.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="help-block font-red-thunderbird" ng-show="CreateForm.City.$error.required && (CreateForm.City.$dirty || CreateForm.$submitted )"> Champ requis </span>
                                </div>
                            </div>
                        </div>
                        <h4 class="form-section">
                            <a class="btn btn-circle btn-icon-only disabled blue">
                                <i class="fa fa-map-marker"></i>
                            </a>
                            <span class="font-blue form-title">Coordonnées</span>
                        </h4>
                        <hr  class="separator"/>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Téléphone résidentiel <span class="required font-red-thunderbird" aria-required="true"> * </span></label>
                                    <div>
                                        <input type="text" class="form-control" name="Phone" ng-model="Agency.Phone" ng-required="true" mask="09.99.99.99.99" placeholder="0X.XX.XX.XX.XX">
                                        <span class="help-block font-red-thunderbird" ng-show="CreateForm.Phone.$error.required && ( CreateForm.Phone.$dirty || CreateForm.$submitted)"> Champ requis </span>
                                        <span class="help-block font-red-thunderbird" ng-show="CreateForm.Phone.$invalid && CreateForm.Phone.$dirty"> Format du numéro invalide </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Téléphone cellulaire</label>
                                    <div>
                                        <input type="text" class="form-control" name="Cell" ng-model="Agency.Cell" mask="09.99.99.99.99" placeholder="0X.XX.XX.XX.XX">
                                        <span class="help-block font-red-thunderbird" ng-show="CreateForm.Cell.$invalid && CreateForm.Cell.$dirty"> Format du numéro invalide </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Email</label>
                                    <div>
                                        <input type="email" class="form-control" name="Email" ng-model="Agency.Email">
                                        <span class="help-block font-red-thunderbird" ng-show="CreateForm.Email.$error.email && CreateForm.Email.$dirty"> Format invalide </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>