﻿<div class="row">
    <div class="page-spinner-bar" ng-show="LoadingAttendanceType" style="position:unset; width:auto">
        <div class="bounce1 bg-blue"></div>
        <div class="bounce2 bg-blue"></div>
        <div class="bounce3 bg-blue"></div>
    </div>
    <div class="col-md-offset-3 col-md-6" ng-hide="LoadingAttendanceType">
        <input type="text" class="form-control block" ng-model="Attendance.Comment" placeholder="Ajouter un commentaire sur votre pointage ..." ng-required="false" ng-hide="Loading"/>
        <button type="button" class="btn btn-lg btn-block" ng-class="{'bg-green' : Attendance.Type == 'CI', 'bg-red': Attendance.Type == 'CO'}" style="height: 150px !important; text-transform:none;" ng-click="Create();" ng-disabled="Loading || LoadingAttendanceType">
            <div class="page-spinner-bar" ng-show="Loading" style="position:unset; width:auto">
                <div class="bounce1" style="background-color:white;"></div>
                <div class="bounce2" style="background-color:white;"></div>
                <div class="bounce3" style="background-color:white;"></div>
            </div>
            <i ng-class="{'fa fa-sign-in' : Attendance.Type == 'CI', 'fa fa-sign-out' : Attendance.Type == 'CO'}" style="font-size:5em;" ng-hide="Loading"></i><br />
            <span ng-if="Attendance.Type == 'CI'" ng-hide="Loading"> CHECK IN </span>
            <span ng-if="Attendance.Type == 'CO'" ng-hide="Loading">CHECK OUT</span>
            <br />
            <span ng-hide="Loading">{{ clock  | date:'dd/MM/yyyy HH:mm:ss'}}</span>
        </button>
    </div>
</div>
