﻿<div class="modal-body">
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption font-green">
                {{HourRecord.UserName}}
            </div>
            <div class="actions">
                <button type="button" class="btn btn-outline me-blue" ng-click="Close()">
                    <i class="fa fa-close"></i>
                    <span>Fermer</span>
                </button>
            </div>
        </div>
        <hr />
        <div class="portlet-body form">
            <div class="timeline-attendance">
                <!-- Line component -->
                <div class="line text-muted"></div>
                <!-- Separator -->
                <div class="separator text-muted">
                    <time>{{HourRecord.Date | date:'dd/MM/yyyy'}}</time>
                </div>
                <div ng-repeat="attendance in HourRecord.Attendances">
                    <article class="panel panel-success" ng-class="{'panel-success':attendance.Type == 'CI', 'panel-default':attendance.Type == 'CO'}">
                        <div class="panel-heading icon" ng-class="{'bg-red' : attendance.Type == 'CO'}">
                            <i class="fa" ng-class="{'fa-sign-in' : attendance.Type == 'CI', 'fa-sign-out' : attendance.Type == 'CO'}"></i>
                        </div>
                        <div class="panel-heading" ng-class="{'bg-red' : attendance.Type == 'CO'}">
                            <h2 class="panel-title">{{attendance.Date | date:'HH:mm'}}</h2>
                        </div>
                        <div class="panel-body">
                            <span ng-if="attendance.Comment != null">{{attendance.Comment}}</span>
                            <span ng-if="attendance.Comment == null">Aucun commentaire.</span>
                        </div>
                        <div class="panel-footer">
                            <small ng-if="attendance.Type == 'CI'">Check In</small>
                            <small ng-if="attendance.Type == 'CO'">Check Out</small>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
</div>