﻿<div class="modal-body">
    <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption font-green">
                    {{HourRecord.UserName}}&nbsp;<small>{{HourRecord.Date | date:'dd/MM/yyyy'}}</small>
                </div>
                <div class="actions">
                    <button type="button" class="btn btn-outline me-blue" ng-disabled="Loading" ng-click="Cancel()">
                        <i class="fa fa-times"></i>
                        <span>Fermer</span>
                    </button>
                </div>
            </div>
            <hr />
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12">
                        <form name="Form{{$index}}" ng-repeat="attendance in HourRecord.Attendances">
                            <div class="col-md-3" ng-init="attendance.Time =  (attendance.Date | date:'HH:mm');">
                                <input type="text" class="form-control" name="Date" placeholder="HH:mm" ng-model="attendance.Time" ng-pattern="/^([0-2]|0[0-9]|1[0-9]|2[0-3]):?[0-5][0-9]$/" mask="99:99" ng-required="true">
                                <span class="help-block font-red-thunderbird" ng-show="attendance.Time == null "> Champ requis </span>
                            </div>
                            <div class="col-md-3">
                                <ui-select name="Type" ng-model="attendance.Type" ng-init="Options = [{ name: 'Check In', value: 'CI' },{ name: 'Check Out', value: 'CO' }];" theme="bootstrap" ng-required="true">
                                    <ui-select-match placeholder="Type">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="option.value as option in Options | filter: $select.search">
                                        <div ng-bind-html="option.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <span class="help-block font-red-thunderbird" ng-show="attendance.Type == null "> Champ requis </span>
                            </div>
                            <div class="col-md-3">
                                <input type="text" name="Comment" class="form-control" placeholder="Commentaire" ng-model="attendance.Comment" ng-required="false">
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-icon-only btn-circle btn-outline me-yellow" popover="Mofidier" popover-trigger="mouseenter" ng-click="UpdateAttendance(attendance);" ng-disabled="Form{{$index}}.$invalid || Loading"><i class="fa fa-edit"></i></button>
                                <button class="btn btn-icon-only btn-circle btn-outline me-red" placement="left" popover="Supprimer" popover-trigger="mouseenter" ng-click="DeleteAttendance(attendance);"><i class="fa fa-trash"></i></button>
                            </div>
                            <div class="clearfix"></div>
                            <hr />
                        </form>
                    </div>
                </div>
            </div>
        </div>
</div>
<div class="modal-footer">
</div>