﻿<form name="CreateForm" class="horizontal-form" ng-submit="Create(CreateForm);" novalidate>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption font-green">
                        <i class="fa fa-gears font-green"></i>Actions
                    </div>
                    <div class="actions">
                        <button type="button" class="btn btn-outline me-blue" ng-click="$state.go('Layout.ListCompany');" ng-disabled="Loading" tooltip="Retour à la liste"  tooltip-trigger="mouseenter" tooltip-placement="top">
                            <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
                        </button>
                        <button type="submit" class="btn btn-outline me-green" ng-disabled="Loading" >
                            <i class="fa fa-check" ng-hide="Loading"></i>
                            <span ng-hide="Loading">Enregistrer</span>
                            <i class="fa fa-spinner fa-spin" ng-show="Loading"></i>
                        </button>
                        <button type="button" class="btn btn-outline me-red" ng-click="$state.reload();" ng-disabled="Loading">
                            <i class="fa fa-times" aria-hidden="true"></i> Annuler
                        </button>
                        <button type="button" href="javascript:;" class="btn btn-outline me-blue fullscreen" ng-disabled="Loading">
                            <i class="fa fa-arrows-alt"></i>
                        </button>
                    </div>
                </div>
                <hr />
                <div class="portlet-body form">
                    <div class="form-body">
                        <h4 class="form-section">
                            <a class="btn btn-circle btn-icon-only disabled blue">
                                <i class="fa fa-info"></i>
                            </a>
                            <span class="font-blue form-title">Informations sur la société</span>
                        </h4>
                        <hr class="separator" />
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Nom de la société <span class="required font-red-thunderbird" aria-required="true"> * </span></label>
                                    <div>
                                        <input type="text" class="form-control" name="CompanyName" ng-model="Company.CompanyName" ng-required="true" capitalize-first>
                                        <span class="help-block font-red-thunderbird" ng-show="CreateForm.CompanyName.$error.required && ( CreateForm.CompanyName.$dirty || CreateForm.$submitted )"> Champ requis </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Société mère <span class="required font-red-thunderbird" aria-required="true"> * </span></label>
                                    <ui-select name="ParentCompany" ng-model="Company.ParentCompany" ng-init="Options = [{ name: 'CashPlus', value: 'CashPlus' },{ name: 'WafaCash', value: 'WafaCash' }];" theme="bootstrap" ng-required="true">
                                        <ui-select-match placeholder="Choisir">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="option.value as option in Options | filter: $select.search">
                                            <div ng-bind-html="option.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="help-block font-red-thunderbird" ng-show="CreateForm.ParentCompany.$error.required && ( CreateForm.ParentCompany.$dirty || CreateForm.$submitted )"> Champ requis </span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Nombre maximum d'agences <span class="required font-red-thunderbird" aria-required="true"> * </span></label>
                                    <div>
                                        <input type="number" min="0" step="1" class="form-control" name="MaxAgencies" ng-model="Company.MaxAgencies" ng-pattern="/^[0-9]{1,7}$/" ng-required="true">
                                        <span class="help-block font-red-thunderbird" ng-show="CreateForm.MaxAgencies.$error.required && ( CreateForm.MaxAgencies.$dirty || CreateForm.$submitted )"> Champ requis </span>
                                        <span class="help-block font-red-thunderbird" ng-show="CreateForm.MaxAgencies.$invalid && CreateForm.MaxAgencies.$dirty"> La valeur doit être un entier </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="control-label">Adresse <span class="required font-red-thunderbird" aria-required="true"> * </span></label>
                                    <div>
                                        <input type="text" class="form-control" name="Address" ng-model="Company.Address" ng-required="true" capitalize-first>
                                        <span class="help-block font-red-thunderbird" ng-show="CreateForm.Address.$error.required && ( CreateForm.Address.$dirty || CreateForm.$submitted )"> Champ requis </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Ville <span class="required font-red-thunderbird" aria-required="true"> * </span></label>
                                    <ui-select name="City" ng-model="Company.City" theme="bootstrap" ng-required="true">
                                        <ui-select-match placeholder="Choisir">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="option.value as option in Cities | filter: $select.search">
                                            <div ng-bind-html="option.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="help-block font-red-thunderbird" ng-show="CreateForm.City.$error.required && ( CreateForm.City.$dirty || CreateForm.$submitted )"> Champ requis </span>
                                </div>
                            </div>
                        </div>
                        <h4 class="form-section">
                            <a class="btn btn-circle btn-icon-only disabled blue">
                                <i class="fa fa-user"></i>
                            </a>
                            <span class="font-blue form-title">Informations sur le responsable</span>
                        </h4>
                        <hr class="separator" />
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Civilité <span class="required font-red-thunderbird" aria-required="true"> * </span></label>
                                    <ui-select name="Civility" ng-model="Company.Administrator.Civility" ng-init="Options = [{ name: 'M.', value: 'M.' },{ name: 'Mme.', value: 'Mme.' },{ name: 'Mlle.', value: 'Mlle.' },{ name: 'Dr.', value: 'Dr.' },{ name: 'Pr.', value: 'Pr.' }];" theme="bootstrap" ng-required="true">
                                        <ui-select-match placeholder="Choisir">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="option.value as option in Options | filter: $select.search">
                                            <div ng-bind-html="option.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="help-block font-red-thunderbird" ng-show="CreateForm.Civility.$error.required && ( CreateForm.Civility.$dirty || CreateForm.$submitted )"> Champ requis </span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Prénom <span class="required font-red-thunderbird" aria-required="true"> * </span></label>
                                    <div>
                                        <input type="text" class="form-control" name="FirstName" ng-model="Company.Administrator.FirstName"  ng-required="true" capitalize-first>
                                        <span class="help-block font-red-thunderbird" ng-show="CreateForm.FirstName.$error.required && ( CreateForm.FirstName.$dirty || CreateForm.$submitted )"> Champ requis </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Nom <span class="required font-red-thunderbird" aria-required="true"> * </span></label>
                                    <div>
                                        <input type="text" class="form-control" name="LastName" ng-model="Company.Administrator.LastName"  ng-required="true" capitalize-first>
                                        <span class="help-block font-red-thunderbird" ng-show="CreateForm.LastName.$error.required && ( CreateForm.LastName.$dirty || CreateForm.$submitted )"> Champ requis </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Nom d'utilisateur <span class="required font-red-thunderbird" aria-required="true"> * </span></label>
                                    <div>
                                        <input type="text" class="form-control" name="Username" ng-model="Company.Administrator.Username"  ng-required="true">
                                        <span class="help-block font-red-thunderbird" ng-show="CreateForm.Username.$error.required && ( CreateForm.Username.$dirty || CreateForm.$submitted )"> Champ requis </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Mot de passe <span class="required font-red-thunderbird" aria-required="true"> * </span></label>
                                    <div class="password-strength">
                                        <input type="text" class="form-control" name="Password" ng-model="Company.Administrator.PasswordToHash" ng-required="true" password-checker>
                                        <span class="help-block font-red-thunderbird" ng-show="CreateForm.Password.$error.required && ( CreateForm.Password.$dirty || CreateForm.$submitted )"> Champ requis </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Confirmer le mot de passe <span class="required font-red-thunderbird" aria-required="true"> * </span></label>
                                    <div>
                                        <input type="text" class="form-control" name="RepeatPassword" ng-model="Company.Administrator.RepeatPassword" ng-pattern="Company.Administrator.PasswordToHash" ng-required="true">
                                        <span class="help-block font-red-thunderbird" ng-show="CreateForm.RepeatPassword.$error.required && ( CreateForm.RepeatPassword.$dirty || CreateForm.$submitted )"> Champ requis </span>
                                        <span class="help-block font-red-thunderbird" ng-show="CreateForm.RepeatPassword.$invalid && CreateForm.RepeatPassword.$dirty"> Ces mots de passe ne correspondent pas.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <h4 class="form-section">
                            <a class="btn btn-circle btn-icon-only disabled blue">
                                <i class="fa fa-map-marker"></i>
                            </a>
                            <span class="font-blue form-title">Coordonnées</span>
                        </h4>
                        <hr  class="separator"/>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Téléphone résidentiel <span class="required font-red-thunderbird" aria-required="true"> * </span></label>
                                    <div>
                                        <input type="text" class="form-control" name="Phone" ng-model="Company.Phone" ng-required="true" mask="09.99.99.99.99" placeholder="0X.XX.XX.XX.XX">
                                        <span class="help-block font-red-thunderbird" ng-show="CreateForm.Phone.$error.required && ( CreateForm.Phone.$dirty || CreateForm.$submitted )"> Champ requis </span>
                                        <span class="help-block font-red-thunderbird" ng-show="CreateForm.Phone.$invalid && CreateForm.Phone.$dirty"> Format du numéro invalide </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Téléphone cellulaire <span class="required font-red-thunderbird" aria-required="true"> * </span></label>
                                    <div>
                                        <input type="text" class="form-control" name="Cell" ng-model="Company.Cell" ng-required="true" mask="09.99.99.99.99" placeholder="0X.XX.XX.XX.XX">
                                        <span class="help-block font-red-thunderbird" ng-show="CreateForm.Cell.$error.required && ( CreateForm.Cell.$dirty || CreateForm.$submitted )"> Champ requis </span>
                                        <span class="help-block font-red-thunderbird" ng-show="CreateForm.Cell.$invalid && CreateForm.Cell.$dirty"> Format du numéro invalide </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Email <span class="required font-red-thunderbird" aria-required="true"> * </span></label>
                                    <div>
                                        <input type="email" class="form-control" name="Email" ng-model="Company.Email" ng-required="true">
                                        <span class="help-block font-red-thunderbird" ng-show="CreateForm.Email.$error.required && ( CreateForm.Email.$dirty || CreateForm.$submitted )"> Champ requis </span>
                                        <span class="help-block font-red-thunderbird" ng-show="CreateForm.Email.$error.email && CreateForm.Email.$dirty"> Format invalide </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>