﻿<div class="modal-body">
    <form name="UpdateForm" novalidate>
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption font-green">
                    <i class="fa fa-gears font-green"></i>Actions
                </div>
                <div class="actions">
                    <button type="submit" class="btn btn-outline me-yellow" ng-disabled="Loading" ng-click="UpdateCompany(UpdateForm);">
                        <i class="fa fa-check" ng-hide="Loading"></i>
                        <span ng-hide="Loading">Modifier</span>
                        <i class="fa fa-spinner fa-spin" ng-show="Loading"></i>
                    </button>
                    <button type="button" class="btn btn-outline me-blue" ng-click="Cancel()">
                        <i class="fa fa-times"></i>
                        <span>Annuler</span>
                    </button>
                </div>
            </div>
            <hr />
            <div class="portlet-body form">
                <div class="form-body">
                    <h4 class="form-section">
                        <a class="btn btn-circle btn-icon-only disabled blue">
                            <i class="fa fa-info"></i>
                        </a>
                        <span class="font-blue form-title">Informations sur la société</span>
                    </h4>
                    <hr class="separator" />
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Nom de la société <span class="required font-red-thunderbird" aria-required="true"> * </span></label>
                                <div>
                                    <input type="text" class="form-control" name="CompanyName" ng-model="Company.CompanyName" ng-required="true" capitalize-first>
                                    <span class="help-block font-red-thunderbird" ng-show="UpdateForm.CompanyName.$error.required && ( UpdateForm.CompanyName.$dirty || UpdateForm.$submitted )"> Champ requis </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Société mère <span class="required font-red-thunderbird" aria-required="true"> * </span></label>
                                <ui-select name="ParentCompany" ng-model="Company.ParentCompany" ng-init="Options = [{ name: 'CashPlus', value: 'CashPlus' },{ name: 'WafaCash', value: 'WafaCash' }];" theme="bootstrap" ng-disabled="true">
                                    <ui-select-match placeholder="Choisir">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="option.value as option in Options | filter: $select.search">
                                        <div ng-bind-html="option.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                    <span class="help-block font-red-thunderbird" ng-show="UpdateForm.ParentCompany.$error.required && ( UpdateForm.ParentCompany.$dirty || UpdateForm.$submitted )"> Champ requis </span>
                                </ui-select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Nombre maximum d'agences <span class="required font-red-thunderbird" aria-required="true"> * </span></label>
                                <div>
                                    <input type="number" min="0" step="1" class="form-control" name="MaxAgencies" ng-model="Company.MaxAgencies" ng-pattern="/^[0-9]{1,7}$/" ng-required="true">
                                    <span class="help-block font-red-thunderbird" ng-show="UpdateForm.MaxAgencies.$error.required && ( UpdateForm.MaxAgencies.$dirty || UpdateForm.$submitted )"> Champ requis </span>
                                    <span class="help-block font-red-thunderbird" ng-show="UpdateForm.MaxAgencies.$invalid && UpdateForm.MaxAgencies.$dirty"> La valeur doit être un entier </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label class="control-label">Adresse <span class="required font-red-thunderbird" aria-required="true"> * </span></label>
                                <div>
                                    <input type="text" class="form-control" name="Address" ng-model="Company.Address" ng-required="true" capitalize-first>
                                    <span class="help-block font-red-thunderbird" ng-show="UpdateForm.Address.$error.required && ( UpdateForm.Address.$dirty || UpdateForm.$submitted )"> Champ requis </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Ville <span class="required font-red-thunderbird" aria-required="true"> * </span></label>
                                <ui-select name="City" ng-model="Company.City" theme="bootstrap" ng-required="true">
                                    <ui-select-match placeholder="Choisir">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="option.value as option in Cities | filter: $select.search">
                                        <div ng-bind-html="option.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <span class="help-block font-red-thunderbird" ng-show="UpdateForm.City.$error.required && ( UpdateForm.City.$dirty || UpdateForm.$submitted )"> Champ requis </span>
                            </div>
                        </div>
                    </div>
                    <h4 class="form-section">
                        <a class="btn btn-circle btn-icon-only disabled blue">
                            <i class="fa fa-user"></i>
                        </a>
                        <span class="font-blue form-title">Informations sur le responsable</span>
                    </h4>
                    <hr class="separator" />
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Civilité <span class="required font-red-thunderbird" aria-required="true"> * </span></label>
                                <ui-select name="Civility" ng-model="Company.Administrator.Civility" ng-init="Options = [{ name: 'M.', value: 'M.' },{ name: 'Mme.', value: 'Mme.' },{ name: 'Mlle.', value: 'Mlle.' },{ name: 'Dr.', value: 'Dr.' },{ name: 'Pr.', value: 'Pr.' }];" theme="bootstrap" ng-required="true">
                                    <ui-select-match placeholder="Choisir">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="option.value as option in Options | filter: $select.search" value="{{$select.selected.value}}">
                                        <div ng-bind-html="option.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <span class="help-block font-red-thunderbird" ng-show="UpdateForm.Civility.$error.required && ( UpdateForm.Civility.$dirty || UpdateForm.$submitted )"> Champ requis </span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Prénom <span class="required font-red-thunderbird" aria-required="true"> * </span></label>
                                <div>
                                    <input type="text" class="form-control" name="FirstName" ng-model="Company.Administrator.FirstName" ng-required="true" capitalize-first>
                                    <span class="help-block font-red-thunderbird" ng-show="UpdateForm.FirstName.$error.required && ( UpdateForm.FirstName.$dirty || UpdateForm.$submitted )"> Champ requis </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Nom <span class="required font-red-thunderbird" aria-required="true"> * </span></label>
                                <div>
                                    <input type="text" class="form-control" name="LastName" ng-model="Company.Administrator.LastName" ng-required="true" capitalize-first>
                                    <span class="help-block font-red-thunderbird" ng-show="UpdateForm.LastName.$error.required && ( UpdateForm.LastName.$dirty || UpdateForm.$submitted )"> Champ requis </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Nom d'utilisateur <span class="required font-red-thunderbird" aria-required="true"> * </span></label>
                                <div>
                                    <input type="text" class="form-control" name="Username" ng-model="Company.Administrator.Username" ng-required="true">
                                    <span class="help-block font-red-thunderbird" ng-show="UpdateForm.Username.$error.required && ( UpdateForm.Username.$dirty || UpdateForm.$submitted )"> Champ requis </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Mot de passe</label>
                                <div class="password-strength">
                                    <input type="text" class="form-control" name="Password" ng-model="Company.Administrator.PasswordToHash" password-checker>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Confirmer le mot de passe</label>
                                <div>
                                    <input type="text" class="form-control" name="RepeatPassword" ng-model="Company.Administrator.RepeatPassword" ng-pattern="Company.Administrator.PasswordToHash" ng-required="UpdateForm.Password.$dirty">
                                    <span class="help-block font-red-thunderbird" ng-show="UpdateForm.Password.$dirty && UpdateForm.$submitted && UpdateForm.RepeatPassword.$pristine"> Champ requis </span>
                                    <span class="help-block font-red-thunderbird" ng-show="UpdateForm.RepeatPassword.$invalid && UpdateForm.RepeatPassword.$dirty"> Ces mots de passe ne correspondent pas.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4 class="form-section">
                        <a class="btn btn-circle btn-icon-only disabled blue">
                            <i class="fa fa-map-marker"></i>
                        </a>
                        <span class="font-blue form-title">Coordonnées</span>
                    </h4>
                    <hr class="separator" />
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Téléphone résidentiel <span class="required font-red-thunderbird" aria-required="true"> * </span></label>
                                <div>
                                    <input type="text" class="form-control" name="Phone" ng-model="Company.Phone" ng-required="true" mask="09.99.99.99.99" placeholder="0X.XX.XX.XX.XX">
                                    <span class="help-block font-red-thunderbird" ng-show="UpdateForm.Phone.$error.required && ( UpdateForm.Phone.$dirty || UpdateForm.$submiied )"> Champ requis </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Téléphone cellulaire <span class="required font-red-thunderbird" aria-required="true"> * </span></label>
                                <div>
                                    <input type="text" class="form-control" name="Cell" ng-model="Company.Cell" ng-required="true" mask="09.99.99.99.99" placeholder="0X.XX.XX.XX.XX">
                                    <span class="help-block font-red-thunderbird" ng-show="UpdateForm.Cell.$error.required && ( UpdateForm.Cell.$dirty || UpdateForm.$submitted )"> Champ requis </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Email <span class="required font-red-thunderbird" aria-required="true"> * </span></label>
                                <div>
                                    <input type="email" class="form-control" name="Email" ng-model="Company.Email" ng-required="true">
                                    <span class="help-block font-red-thunderbird" ng-show="UpdateForm.Email.$error.required && ( UpdateForm.Email.$dirty || UpdateForm.$submitted )"> Champ requis </span>
                                    <span class="help-block font-red-thunderbird" ng-show="UpdateForm.Email.$error.email && UpdateForm.Email.$dirty"> Format invalide </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
</div>