﻿<div class="modal-body">
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption font-green">
                <i class="fa fa-gears font-green"></i>Actions
            </div>
            <div class="actions">
                <button type="button" class="btn btn-outline me-blue" ng-click="Close()">
                    <i class="fa fa-close"></i>
                    <span>Fermer</span>
                </button>
            </div>
        </div>
        <hr />
        <div class="portlet-body form">
            <!-- BEGIN FORM-->
            <form class="form-horizontal" role="form">
                <div class="form-body">
                    <h4 class="form-section">
                        <a class="btn btn-circle btn-icon-only disabled blue">
                            <i class="fa fa-info"></i>
                        </a>
                        <span class="font-blue form-title">Informations sur la société</span>
                    </h4>
                    <hr class="separator" />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-7 bold">Nom de la société :</label>
                                <div class="col-md-5">
                                    <p class="form-control-static" ng-bind="Company.CompanyName">
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-7 bold">Société mère :</label>
                                <div class="col-md-5">
                                    <p class="form-control-static" ng-bind="Company.ParentCompany">
                                    </p>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-7 bold">Nombre maximum d'agences :</label>
                                <div class="col-md-5">
                                    <p class="form-control-static" ng-bind="Company.MaxAgencies">
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-7 bold">Ville :</label>
                                <div class="col-md-5">
                                    <p class="form-control-static" ng-bind="Company.City">
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-7 bold">Adresse :</label>
                                <div class="col-md-5">
                                    <p class="form-control-static" ng-bind="Company.Address">
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4 class="form-section">
                        <a class="btn btn-circle btn-icon-only disabled blue">
                            <i class="fa fa-user"></i>
                        </a>
                        <span class="font-blue form-title">Informations sur le responsable</span>
                    </h4>
                    <hr class="separator" />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-7 bold">Responsable :</label>
                                <div class="col-md-5">
                                    <p class="form-control-static" ng-bind="Company.Administrator.Civility + ' ' + Company.Administrator.FirstName + ' ' + Company.Administrator.LastName">
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-7 bold">Nom d'utilisateur :</label>
                                <div class="col-md-5">
                                    <p class="form-control-static" ng-bind="Company.Administrator.Username">
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4 class="form-section">
                        <a class="btn btn-circle btn-icon-only disabled blue">
                            <i class="fa fa-map-marker"></i>
                        </a>
                        <span class="font-blue form-title">Coordonnées</span>
                    </h4>
                    <hr class="separator" />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-7 bold">Téléphone résidentiel :</label>
                                <div class="col-md-5">
                                    <p class="form-control-static" ng-bind="Company.Phone">
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-7 bold">Téléphone cellulaire :</label>
                                <div class="col-md-5">
                                    <p class="form-control-static" ng-bind="Company.Cell">
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-7 bold">Email :</label>
                                <div class="col-md-5">
                                    <p class="form-control-static" ng-bind="Company.Email">
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
            <!-- END FORM-->
        </div>
    </div>
</div>
<div class="modal-footer">
</div>