﻿<div class="row">
    <div class="col-md-12">
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption font-green">
                    <i class="fa fa-filter font-green"></i>Filtres
                </div>
                <div class="actions">
                    <button type="button" class="btn btn-outline me-blue" ng-click="$state.go('Layout.CreateOperator');">
                        <i class="fa fa-plus"></i> Ajouter
                    </button>
                    <button type="button" href="javascript:;" class="btn btn-outline me-blue fullscreen">
                        <i class="fa fa-arrows-alt"></i>
                    </button>
                    <button type="button" class="btn  btn-outline me-blue" ng-click="$state.reload();" tooltip="Réinitialiser"  tooltip-trigger="mouseenter" tooltip-placement="top">
                        <i class="fa fa-refresh"></i>
                    </button>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-3">
                        <ui-select ng-model="Filters.TransactionType" ng-init="Options = [{ name: 'In', value: 'I' },{ name: 'Out', value: 'O' },{ name: 'In / Out', value: 'IO' }, { name: 'Indifférent', value: '*' }];" theme="bootstrap" ng-change="Reload(Filters);">
                            <ui-select-match placeholder="Filtre par type des transactions">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="option.value as option in Options | filter: $select.search">
                                <div ng-bind-html="option.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="col-md-3">
                        <ui-select ng-model="Filters.IsByPercentage" ng-init="Options = [{ name: 'Par %', value: 'true' },{ name: 'Par transaction', value: 'false' }, { name: 'Indifférent', value: '*' }];" theme="bootstrap" ng-change="Reload(Filters);">
                            <ui-select-match placeholder="Filtre par type de commission">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="option.value as option in Options | filter: $select.search">
                                <div ng-bind-html="option.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="col-md-3">
                        <ui-select ng-model="Filters.Category" ng-init="Categories = [{ name: 'Transfert d\'argent', value: 'Transfert' }, { name: 'Service', value: 'Service' }, { name: 'Indifférent', value: '*' }];" theme="bootstrap" ng-change="Reload(Filters);">
                            <ui-select-match placeholder="Filtre par catégorie">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="option.value as option in Categories | filter: $select.search">
                                <div ng-bind-html="option.name | highlight: $seOperalect.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped table-bordered table-hover" id="datatable" datatable="" dt-options="DtOptions" dt-columns="DtColumns" dt-instance="DtInstance" width="100%"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>