﻿<div class="modal-body">
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption font-green">
                <i class="fa fa-gears font-green"></i>Actions
            </div>
            <div class="actions">
                <button type="button" class="btn btn-outline me-blue" ng-click="Close()">
                    <i class="fa fa-close"></i>
                    <span>Fermer</span>
                </button>
            </div>
        </div>
        <hr />
        <div class="portlet-body form">
            <!-- BEGIN FORM-->
            <form class="form-horizontal" role="form">
                <div class="form-body">
                    <h4 class="form-section">
                        <a class="btn btn-circle btn-icon-only disabled blue">
                            <i class="fa fa-info"></i>
                        </a>
                        <span class="font-blue form-title"> Informations sur l'opérateur</span>
                    </h4>
                    <hr class="separator" />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-7 bold">Nom de l'opérateur : </label>
                                <div class="col-md-5">
                                    <p class="form-control-static" ng-bind="Operator.Name">
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-7 bold">Catégorie : </label>
                                <div class="col-md-5">
                                    <p class="form-control-static" ng-if="Operator.Category == 'Transfert'">
                                        Transfert d'argent
                                    </p>
                                    <p class="form-control-static" ng-if="Operator.Category == 'Service'">
                                        Service
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-7 bold">Type des transactions :</label>
                                <div class="col-md-5">
                                    <p class="form-control-static" ng-if="Operator.TransactionType == 'I'">
                                        <span class="label label-success">
                                            In
                                        </span>
                                    </p>
                                    <p class="form-control-static" ng-if="Operator.TransactionType == 'O'">
                                        <span class="label label-danger">
                                            Out
                                        </span>
                                    </p>
                                    <p class="form-control-static" ng-if="Operator.TransactionType == 'IO'">
                                        <span class="label label-warning">
                                            In / Out
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4 class="form-section">
                        <a class="btn btn-circle btn-icon-only disabled blue">
                            <i class="fa fa-usd"></i>
                        </a>
                        <span class="font-blue form-title"> Commission</span>
                    </h4>
                    <hr class="separator" />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-7 bold">Commission :</label>
                                <div class="col-md-5">
                                    <p class="form-control-static" ng-if="Operator.IsByPercentage">
                                        {{Operator.Profit + ' %'}}
                                    </p>
                                    <p class="form-control-static" ng-if="!Operator.IsByPercentage">
                                        {{Operator.Profit + ' DH'}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-7 bold">Type de commission :</label>
                                <div class="col-md-5">
                                    <p class="form-control-static" ng-if="Operator.IsByPercentage">
                                        Par pourcentage
                                    </p>
                                    <p class="form-control-static" ng-if="!Operator.IsByPercentage">
                                        Par transaction
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
            <!-- END FORM-->
        </div>
    </div>
</div>
<div class="modal-footer">
</div>