﻿<div class="modal-body">
    <form name="UpdateForm" novalidate>
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption font-green">
                    <i class="fa fa-gears font-green"></i>Actions
                </div>
                <div class="actions">
                    <button type="button" class="btn btn-outline me-yellow" ng-disabled="Loading" ng-click="UpdateOperator(UpdateForm);">
                        <i class="fa fa-check" ng-hide="Loading"></i>
                        <span ng-hide="Loading">Modifier</span>
                        <i class="fa fa-spinner fa-spin" ng-show="Loading"></i>
                    </button>
                    <button type="button" class="btn btn-outline me-blue" ng-disabled="Loading" ng-click="Cancel()">
                        <i class="fa fa-times"></i>
                        <span>Annuler</span>
                    </button>
                </div>
            </div>
            <hr />
            <div class="portlet-body form">
                <div class="form-body">
                    <h4 class="form-section">
                        <a class="btn btn-circle btn-icon-only disabled blue">
                            <i class="fa fa-info"></i>
                        </a>
                        <span class="font-blue form-title">Informations sur l'opérateur</span>
                    </h4>
                    <hr class="separator" />
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Nom de l'opérateur <span class="required font-red-thunderbird" aria-required="true"> * </span></label>
                                <div>
                                    <input type="text" class="form-control" name="Name" ng-model="Operator.Name" ng-required="true" capitalize-first>
                                    <span class="help-block font-red-thunderbird" ng-show="UpdateForm.Name.$error.required && ( UpdateForm.Name.$dirty || UpdateForm.$submitted )"> Champ requis </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Catégorie <span class="required font-red-thunderbird" aria-required="true"> * </span></label>
                                <ui-select name="Category" ng-model="Operator.Category" ng-init="Categories = [{ name: 'Transfert d\'argent', value: 'Transfert' }, { name: 'Service', value: 'Service' }];" theme="bootstrap" ng-required="true">
                                    <ui-select-match placeholder="Choisir">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="option.value as option in Categories | filter: $select.search">
                                        <div ng-bind-html="option.name | highlight: $seOperalect.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <span class="help-block font-red-thunderbird" ng-show="UpdateForm.Category.$error.required && (UpdateForm.Category.$dirty || UpdateForm.$submitted )"> Champ requis </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label class="control-label">
                                    Type des transactions réalisés via cet opérateur<span class="required">
                                        *
                                    </span>
                                </label>
                                <div>
                                    <div class="md-radio-inline">
                                        <label>
                                            <input type="radio" name="TransactionType" ng-model="Operator.TransactionType" value="I" ng-required="true" />
                                            In
                                        </label>
                                        &nbsp;
                                        <label>
                                            <input type="radio" name="TransactionType" ng-model="Operator.TransactionType" value="O" ng-required="true" />
                                            Out
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4 class="form-section">
                        <a class="btn btn-circle btn-icon-only disabled blue">
                            <i class="fa fa-usd"></i>
                        </a>
                        <span class="font-blue form-title">Réglage de la commission</span>
                    </h4>
                    <hr class="separator" />
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">
                                    Type de commission <span class="required">
                                        *
                                    </span>
                                </label>
                                <div>
                                    <div class="md-radio-inline">
                                        <label>
                                            <input type="radio" name="IsByPercentage" ng-model="Operator.IsByPercentage"   ng-value="true;" ng-required="true"  />
                                            Par pourcentage
                                        </label>
                                        &nbsp;
                                        <label>
                                            <input type="radio" name="IsByPercentage" ng-model="Operator.IsByPercentage" n ng-value="false" ng-required="true"  />
                                            Par transaction
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">{{(Operator.IsByPercentage) ? 'Pourcentage':'Profit'}} <span class="required font-red-thunderbird" aria-required="true"> * </span></label>
                                <div>
                                    <div class="input-inline input-medium">
                                        <input type="text" class="form-control" name="Profit" ng-model="Operator.Profit" ng-required="true"  touch-spin postfix="$">
                                        <span class="help-block font-red-thunderbird" ng-show="UpdateForm.Profit.$error.required && ( UpdateForm.Profit.$dirty || UpdateForm.$submitted )"> Champ requis </span>
                                    </div>
                                    <span class="help-block" ng-show="Operator.IsByPercentage">
                                        Veuillez définir le pourcentage
                                    </span>
                                    <span class="help-block" ng-show="!Operator.IsByPercentage">
                                        Veuillez définir le profit gagné par transaction
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
</div>