﻿<div class="modal-body">
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption font-green">
                <i class="fa fa-gears font-green"></i>Actions
            </div>
            <div class="actions">
                <button type="button" class="btn btn-outline me-blue" ng-click="Close()">
                    <i class="fa fa-close"></i>
                    <span>Fermer</span>
                </button>
            </div>
        </div>
        <hr />
        <div class="portlet-body form">
            <!-- BEGIN FORM-->
            <form class="form-horizontal" role="form">
                <div class="form-body">
                    <h4 class="form-section">
                        <a class="btn btn-circle btn-icon-only disabled blue">
                            <i class="fa fa-info"></i>
                        </a>
                        <span class="font-blue form-title"> Informations</span>
                    </h4>
                    <hr class="separator" />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-7 bold">Désignation : </label>
                                <div class="col-md-5">
                                    <p class="form-control-static">
                                        {{Category.Name}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-7 bold">Date de création : </label>
                                <div class="col-md-5">
                                    <p class="form-control-static">
                                        {{Category.CreatedAt | date:'dd/MM/yyyy HH:mm'}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
            <!-- END FORM-->
        </div>
    </div>
</div>
<div class="modal-footer">
</div>