﻿<div class="row">
    <div class="col-md-12">
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption font-green">
                    <i class="fa fa-gears font-green"></i>Actions
                </div>
                <div class="actions">
                    <button type="button" class="btn btn-outline me-blue" ng-click="$state.go('Layout.CreateCategory');">
                        <i class="fa fa-plus"></i> Ajouter
                    </button>
                    <button type="button" href="javascript:;" class="btn btn-outline me-blue fullscreen">
                        <i class="fa fa-arrows-alt"></i>
                    </button>
                    <button type="button" class="btn  btn-outline me-blue" ng-click="$state.reload();" tooltip="Réinitialiser"  tooltip-trigger="mouseenter" tooltip-placement="top">
                        <i class="fa fa-refresh"></i>
                    </button>
                </div>
            </div>
            <div class="portlet-body">
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped table-bordered table-hover" id="datatable" datatable="" dt-options="DtOptions" dt-columns="DtColumns" dt-instance="DtInstance" width="100%"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>