﻿<div class="modal-body">
    <form name="UpdateForm" novalidate>
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption font-green">
                    <i class="fa fa-gears font-green"></i>Actions
                </div>
                <div class="actions">
                    <button type="submit" class="btn btn-outline me-yellow" ng-disabled="Loading || !CustomerExist || Transaction.Amount == 0" ng-click="UpdateTransaction(UpdateForm);">
                        <i class="fa fa-check" ng-hide="Loading"></i>
                        <span ng-hide="Loading">Modifier</span>
                        <i class="fa fa-spinner fa-spin" ng-show="Loading"></i>
                    </button>
                    <button type="button" class="btn btn-outline me-blue" ng-disabled="Loading" ng-click="Cancel()">
                        <i class="fa fa-times"></i>
                        <span>Annuler</span>
                    </button>
                </div>
            </div>
            <div class="portlet-body form">
                <div class="form-body">
                    <h4 class="form-section">
                        <a class="btn btn-circle btn-icon-only disabled blue">
                            <i class="fa fa-cube"></i>
                        </a>
                        <span class="font-blue form-title">Opérateur</span>
                    </h4>
                    <hr class="separator" />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Date de la transaction <span class="required font-red-thunderbird" aria-required="true"> * </span></label>
                                        <div>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                                <input type="text" class="form-control" name="Date" ng-model="Transaction.Date" ng-required="true" date-picker set-today-date="false" with-clear-btn="false" max="true">
                                            </div>
                                            <span class="help-block font-red-thunderbird" ng-show="UpdateForm.Date.$error.required && ( UpdateForm.Date.$dirty || UpdateForm.$submitted )"> Champ requis </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Opérateur <span class="required font-red-thunderbird" aria-required="true"> * </span></label>
                                        <ui-select name="Operator" ng-model="Transaction.Operator" theme="bootstrap" ng-required="true">
                                            <ui-select-match placeholder="Choisir">{{$select.selected.Name}}</ui-select-match>
                                            <ui-select-choices repeat="option as option in Operators | filter: $select.search">
                                                <div ng-bind-html="option.Name | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                        <span class="help-block font-red-thunderbird" ng-show="UpdateForm.Operator.$error.required && ( UpdateForm.Operator.$dirty || UpdateForm.$submitted )"> Champ requis </span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Montant de la transaction<span class="required font-red-thunderbird" aria-required="true"> * </span></label>
                                        <div>
                                            <div class="input-inline input-medium">
                                                <input type="number" class="form-control input-md" name="Amount" ng-model="Transaction.Amount" ng-required="true" touch-spin postfix="DH">
                                            </div>
                                            <span class="help-block font-green">
                                            </span>
                                            <span class="help-block font-red-thunderbird" ng-show="UpdateForm.Amount.$error.required && ( UpdateForm.Amount.$dirty || UpdateForm.$submitted )"> Champ requis </span>
                                            <span class="help-block font-red-thunderbird" ng-show="UpdateForm.Amount.$invalid && ( UpdateForm.Amount.$dirty || UpdateForm.$submitted ) && !UpdateForm.Amount.$error.required"> Format invalide </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6" ng-show="Transaction.Operator.IsMain">
                                    <div class="form-group">
                                        <label class="control-label">
                                            Type de la transaction <span class="required">
                                                *
                                            </span>
                                        </label>
                                        <div>
                                            <div class="md-radio-inline">
                                                <label>
                                                    <input type="radio" name="TransactionType" ng-model="Transaction.TransactionType" ng-value="'I'" ng-checked="true" ng-required="Transaction.Operator.IsMain" />
                                                    In
                                                </label>
                                                &nbsp;
                                                <label>
                                                    <input type="radio" name="TransactionType" ng-model="Transaction.TransactionType" ng-value="'O'" ng-required="Transaction.Operator.IsMain" />
                                                    Out
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" ng-show="Transaction.Operator.IsMain">
                                    <div class="form-group">
                                        <label class="control-label">Frais payés <span class="required font-red-thunderbird" aria-required="true"> * </span></label>
                                        <ui-select name="FeesPaidBy" ng-model="Transaction.FeesPaidBy" ng-init="Options = [{ name: 'Expéditeur', value: 'E' },{ name: 'Receveur', value: 'R' },{ name: 'Frais partagés', value: 'S' }];" theme="bootstrap" ng-required="Transaction.Operator.IsMain">
                                            <ui-select-match placeholder="Choisir">{{$select.selected.name}}</ui-select-match>
                                            <ui-select-choices repeat="option.value as option in Options | filter: $select.search">
                                                <div ng-bind-html="option.name | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                        <span class="help-block font-red-thunderbird" ng-show="UpdateForm.FeesPaidBy.$error.required && ( UpdateForm.FeesPaidBy.$dirty || UpdateForm.$submitted )"> Champ requis </span>
                                        <span class="help-block font-green">
                                            <label class="checkbox-inline">
                                                <input type="checkbox" ng-model="Transaction.WithSMSOption" ng-value="true"> Avec SMS de notification
                                            </label>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4 class="form-section">
                        <a class="btn btn-circle btn-icon-only disabled blue">
                            <i class="fa fa-user"></i>
                        </a>
                        <span class="font-blue form-title">Client</span>
                    </h4>
                    <hr class="separator" />
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">C.I.N / C.I.L &nbsp;<i class="fa fa-question-circle" tooltip="Entrer le numéro C.I.L à la place de la C.I.N en cas de paiement des factures Elec ou Eau" tooltip-trigger="mouseenter" tooltip-placement="top"></i><span class="required font-red-thunderbird" aria-required="true"> * </span></label>
                                <div>
                                    <input type="text" class="form-control" name="CIN" ng-model="Transaction.Customer.CIN" ng-required="true" trim upper-case>
                                    <span class="help-block font-red-thunderbird" ng-show="UpdateForm.CIN.$error.required && ( UpdateForm.CIN.$dirty || UpdateForm.$submitted )"> Champ requis </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8" style="margin-top:25px;">
                            <div ng-show="CheckerLoading" class="page-spinner-bar" style="position:unset; width:auto">
                                <div class="bounce1"></div>
                                <div class="bounce2"></div>
                                <div class="bounce3"></div>
                            </div>
                            <div class="portlet box blue" ng-hide="CustomerExist || CheckerLoading || UpdateForm.CIN.$error.required">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="fa fa-exclamation-triangle"></i>
                                        &nbsp; Ajouter un nouveau client
                                    </div>
                                    <div class="tools">
                                        <a href="javascript:;" class="collapse">
                                        </a>
                                        <a href="#portlet-config" data-toggle="modal" class="config">
                                        </a>
                                        <a href="javascript:;" class="reload">
                                        </a>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div class="row static-info">
                                        <div class="col-md-5 name">
                                            Civilité :
                                        </div>
                                        <div class="col-md-7 value">
                                            <ui-select ng-model="Customer.Civility" ng-init="Options = [{ name: 'M.', value: 'M.' },{ name: 'Mme.', value: 'Mme.' },{ name: 'Mlle.', value: 'Mlle.' },{ name: 'Dr.', value: 'Dr.' },{ name: 'Pr.', value: 'Pr.' }];" theme="bootstrap">
                                                <ui-select-match placeholder="Choisir">{{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices repeat="option.value as option in Options | filter: $select.search">
                                                    <div ng-bind-html="option.name | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                    <div class="row static-info">
                                        <div class="col-md-5 name">
                                            Prénom :
                                        </div>
                                        <div class="col-md-7 value">
                                            <input type="text" class="form-control" name="FirstName" ng-model="Customer.FirstName" capitalize-first>
                                        </div>
                                    </div>
                                    <div class="row static-info">
                                        <div class="col-md-5 name">
                                            Nom :
                                        </div>
                                        <div class="col-md-7 value">
                                            <input type="text" class="form-control" name="LastName" ng-model="Customer.LastName" capitalize-first>
                                        </div>
                                    </div>
                                    <div class="row static-info">
                                        <div class="col-md-5 name">
                                            N° C.I.N :
                                        </div>
                                        <div class="col-md-7 value">
                                            <input type="text" class="form-control" name="NewCustomerCIN" ng-model="Customer.CIN" trim upper-case>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <button type="submit" class="btn btn-outline me-green" ng-disabled="CreateCustomerBtnDisabled" ng-click="CreateCustomer();">
                                                <i class="fa fa-check" ng-hide="CreateCustomerLoading"></i>
                                                <span ng-hide="CreateCustomerLoading">Enregistrer</span>
                                                <i class="fa fa-spinner fa-spin" ng-show="CreateCustomerLoading"></i>
                                            </button>
                                            <br />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <label><span class="required font-red-thunderbird" aria-required="true"> * </span> le reste des informations client peuvent être remplises par la suite dans la rubrique clients.</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="portlet box blue" ng-show="CustomerExist && !CheckerLoading">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="fa fa-user"></i>Informations sur le client
                                    </div>
                                    <div class="tools">
                                        <a href="javascript:;" class="collapse">
                                        </a>
                                        <a href="#portlet-config" data-toggle="modal" class="config">
                                        </a>
                                        <a href="javascript:;" class="reload">
                                        </a>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div class="row static-info">
                                        <div class="col-md-5 name">
                                            Nom Complet:
                                        </div>
                                        <div class="col-md-7 value" ng-bind="Transaction.Customer.Civility + ' ' + Transaction.Customer.FirstName + ' ' + Transaction.Customer.LastName">
                                        </div>
                                    </div>
                                    <div class="row static-info">
                                        <div class="col-md-5 name">
                                            C.I.N:
                                        </div>
                                        <div class="col-md-7 value" ng-bind="Transaction.Customer.CIN">
                                        </div>
                                    </div>
                                    <div class="row static-info">
                                        <div class="col-md-5 name">
                                            Date de naissance:
                                        </div>
                                        <div class="col-md-7 value">
                                            <span class="label label-success" ng-if="Transaction.Customer.BirthDay != null">
                                                {{Transaction.Customer.BirthDay | date:'dd/MM/yyyy'}}
                                            </span>
                                            <span class="label label-danger" ng-if="Transaction.Customer.BirthDay == null">
                                                Champ vide
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row static-info">
                                        <div class="col-md-5 name">
                                            Téléphone 1:
                                        </div>
                                        <div class="col-md-7 value">
                                            <span ng-if="Transaction.Customer.Phone1 != null">
                                                {{Transaction.Customer.Phone1}}
                                            </span>
                                            <span class="label label-danger" ng-if="Transaction.Customer.Phone1 == null">
                                                Champ vide
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row static-info">
                                        <div class="col-md-5 name">
                                            Téléphone 2:
                                        </div>
                                        <div class="col-md-7 value">
                                            <span ng-if="Transaction.Customer.Phone2 != null">
                                                {{Transaction.Customer.Phone2}}
                                            </span>
                                            <span class="label label-danger" ng-if="Transaction.Customer.Phone2 == null">
                                                Champ vide
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row static-info">
                                        <div class="col-md-5 name">
                                            Email:
                                        </div>
                                        <div class="col-md-7 value">
                                            <span ng-if="Transaction.Customer.Email != null">
                                                {{Transaction.Customer.Email}}
                                            </span>
                                            <span class="label label-danger" ng-if="Transaction.Customer.Email == null">
                                                Champ vide
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row static-info">
                                        <div class="col-md-5 name">
                                            Adresse:
                                        </div>
                                        <div class="col-md-7 value">
                                            <span ng-if="Transaction.Customer.Address != null">
                                                {{Transaction.Customer.Address}}
                                            </span>
                                            <span class="label label-danger" ng-if="Transaction.Customer.Address == null">
                                                Champ vide
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4 class="form-section">
                        <a class="btn btn-circle btn-icon-only disabled blue">
                            <i class="fa fa-comment"></i>
                        </a>
                        <span class="font-blue form-title">Notes</span>
                    </h4>
                    <hr class="separator" />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">Ajouter un commentaire</label>
                                <div>
                                    <textarea type="text" class="form-control" name="Comment" ng-model="Transaction.Comment"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4 class="form-section">
                        <a class="btn btn-circle btn-icon-only disabled blue">
                            <i class="fa fa-cloud-upload"></i>
                        </a>
                        <span class="font-blue form-title">Télécharger un reçu</span>
                    </h4>
                    <hr class="separator" />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group ">
                                <div ng-show="uploader.isHTML5" onclick="document.getElementById('file-dialog').click()" style="cursor:pointer">
                                    <div class="file-drop-zone margin-bottom-20" over-class="file-drop-zone-over">
                                        <span ng-if="Transaction.FilePath == null">
                                            Cliquer pour télécharger un reçu.
                                        </span>
                                        <span ng-if="Transaction.FilePath != null">
                                            Cliquer pour remplacer l'ancien reçu.
                                        </span>
                                    </div>
                                    <input id="file-dialog" ng-show="false" type="file" nv-file-select="" uploader="uploader" ng-click="uploader.clearQueue()" />
                                </div>
                                <div class="clearfix margin-top-10">
                                    N.B : Le transfert du fichier devrait être dans l'un des formats suivants: JPG, PNG ou PDF.
                                    <br />
                                    La taille du fichier ne doit pas dépasser 1MB.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <span ng-if="Transaction.FilePath != null">
                                <a class="btn btn-outline me-red" download="{{Transaction.FilePath}}" ng-href="{{ UrlDownload }}"><i class="fa fa-cloud-upload"></i>Télécharger le reçu existant</a>
                            </span>
                        </div>
                    </div>
                    <div class="row" ng-show="uploader.queue.length != 0">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="table-scrollable table-scrollable-borderless">
                                <table class="table table-hover">
                                    <thead>
                                        <tr class="uppercase">
                                            <th ng-show="uploader.isHTML5"></th>
                                            <th class="text-center" ng-show="uploader.isHTML5">Nom du fichier</th>
                                            <th class="text-center" ng-show="uploader.isHTML5">Taille</th>
                                            <th class="text-center" ng-show="uploader.isHTML5"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in uploader.queue">
                                            <td ng-show="uploader.isHTML5">
                                                <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
                                            </td>
                                            <td class="text-center">
                                                {{ item.file.name }}
                                            </td>
                                            <td class="text-center" ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                            <td class="text-center">
                                                <span ng-show="true" class="text-success"><i class="fa fa-check"></i></span>
                                            </td>
                                            <td class="text-center" nowrap>
                                                <button type="button" class="btn btn-danger btn-xs" ng-click="uploader.clearQueue()">
                                                    <span class="fa fa-times"></span> Annuler
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
</div>