﻿<form name="CreateForm" class="horizontal-form" novalidate>
    <div class="row">
        <div class="col-md-8">
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption font-green">
                        <i class="fa fa-gears font-green"></i>Actions
                    </div>
                    <div class="actions">
                        <button type="button" class="btn btn-outline me-blue" ng-click="$state.go('Layout.ListTransaction');" ng-disabled="Loading" tooltip="Retour à la liste"  tooltip-trigger="mouseenter" tooltip-placement="top">
                            <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
                        </button>
                        <button type="submit" class="btn btn-outline me-green" ng-click="Create(CreateForm);" ng-disabled="Loading">
                            <i class="fa fa-check" ng-hide="Loading"></i>
                            <span ng-hide="Loading">Enregistrer</span>
                            <i class="fa fa-spinner fa-spin" ng-show="Loading"></i>
                        </button>
                        <button type="button" class="btn btn-outline me-red" ng-click="$state.reload();" ng-disabled="Loading">
                            <i class="fa fa-times" aria-hidden="true"></i> Annuler
                        </button>
                        <button type="button" href="javascript:;" class="btn btn-outline me-blue fullscreen" ng-disabled="Loading">
                            <i class="fa fa-arrows-alt"></i>
                        </button>
                    </div>
                </div>
                <hr />
                <div class="portlet-body form">
                    <div class="form-body">

                        <!--Operator-->
                        <h4 class="form-section">
                            <a class="btn btn-circle btn-icon-only disabled blue">
                                <i class="fa fa-cube"></i>
                            </a>
                            <span class="font-blue form-title">Opérateur</span>
                        </h4>
                        <hr class="separator" />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Date <span class="required font-red-thunderbird" aria-required="true"> * </span></label>
                                            <div >
                                                <div class="input-group" >
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </span>
                                                    <input type="text" class="form-control" name="Date" ng-model="Transaction.Date" ng-required="true" date-picker set-today-date="true" with-clear-btn="false" max="true">
                                                </div>
                                                <span class="help-block font-red-thunderbird" ng-show="CreateForm.Date.$error.required && ( CreateForm.Date.$dirty || CreateForm.$submitted )"> Champ requis </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Opérateur <span class="required font-red-thunderbird" aria-required="true"> * </span></label>
                                            <ui-select name="Operator" ng-model="Transaction.Operator" theme="bootstrap" ng-required="true">
                                                <ui-select-match placeholder="Choisir">{{$select.selected.Name}}</ui-select-match>
                                                <ui-select-choices repeat="option as option in Operators | filter: $select.search">
                                                    <div ng-bind-html="option.Name | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                            <span class="help-block font-red-thunderbird" ng-show="CreateForm.Operator.$error.required && ( CreateForm.Operator.$dirty || CreateForm.$submitted )"> Champ requis </span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Montant de la transaction<span class="required font-red-thunderbird" aria-required="true"> * </span></label>
                                            <div>
                                                <div class="input-inline input-medium">
                                                    <input type="number" class="form-control input-md" name="Amount" ng-model="Transaction.Amount"  ng-required="true" touch-spin postfix="DH">
                                                </div>
                                                <span class="help-block font-red-thunderbird" ng-show="( CreateForm.Amount.$error.required && ( CreateForm.Amount.$dirty || CreateForm.$submitted ) ) || (Transaction.Amount == 0 && CreateForm.$submitted)"> Champ requis </span>
                                                <span class="help-block font-red-thunderbird" ng-show="CreateForm.Amount.$invalid && ( CreateForm.Amount.$dirty || CreateForm.$submitted ) && !CreateForm.Amount.$error.required"> Format invalide </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6" ng-show="IsMainOperator">
                                        <div class="form-group">
                                            <label class="control-label">
                                                Type de la transaction <span class="required">
                                                    *
                                                </span>
                                            </label>
                                            <div>
                                                <div class="md-radio-inline">
                                                    <label>
                                                        <input type="radio" name="TransactionType" ng-model="Transaction.TransactionType"  ng-value="'I'" ng-checked="true" ng-required="Transaction.Operator.IsMain" />
                                                        In
                                                    </label>
                                                    &nbsp;
                                                    <label>
                                                        <input type="radio" name="TransactionType" ng-model="Transaction.TransactionType"  ng-value="'O'" ng-required="true" />
                                                        Out
                                                    </label>
                                                </div>
                                                <span class="help-block font-red-thunderbird" ng-show="CreateForm.TransactionType.$error.required && CreateForm.$submitted "> Champ requis </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6" ng-show="IsMainOperator">
                                        <div class="form-group">
                                            <label class="control-label">Frais payés par <span class="required font-red-thunderbird" aria-required="true"> * </span></label>
                                            <ui-select name="FeesPaidBy" ng-model="Transaction.FeesPaidBy" ng-init="Options = [{ name: 'Expéditeur', value: 'E' },{ name: 'Receveur', value: 'R' },{ name: 'Frais partagés', value: 'S' }]; Transaction.FeesPaidBy = 'E'" theme="bootstrap" ng-required="Transaction.Operator.IsMain" >
                                                <ui-select-match placeholder="Choisir">{{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices repeat="option.value as option in Options | filter: $select.search">
                                                    <div ng-bind-html="option.name | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                            <span class="help-block font-red-thunderbird" ng-show="CreateForm.FeesPaidBy.$error.required && ( CreateForm.FeesPaidBy.$dirty || CreateForm.$submitted )"> Champ requis </span>
                                            <span class="help-block font-green">
                                                <label class="checkbox-inline">
                                                    <input type="checkbox" ng-model="Transaction.WithSMSOption" ng-value="true" > Avec SMS de notification
                                                </label>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Customer-->
                        <h4 class="form-section">
                            <a class="btn btn-circle btn-icon-only disabled blue">
                                <i class="fa fa-user"></i>
                            </a>
                            <span class="font-blue form-title">Client</span>
                        </h4>
                        <hr class="separator" />
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">C.I.N / C.I.L &nbsp;<i class="fa fa-question-circle" tooltip="Entrer le numéro C.I.L à la place de la C.I.N en cas de paiement des factures Elec ou Eau"  tooltip-trigger="mouseenter" tooltip-placement="top"></i><span class="required font-red-thunderbird" aria-required="true"> * </span></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="CIN" ng-model="Transaction.Customer.CIN" ng-required="true" trim upper-case>
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-outline me-blue" style="font-size:11px;" ng-click="CreateCustomer();" ng-hide="CustomerExist || CreateForm.CIN.$pristine || CheckerLoading">
                                                <i class="fa fa-plus">
                                                </i>
                                            </button>
                                        </span>
                                    </div>
                                    <span class="help-block font-red-thunderbird" ng-show="CreateForm.CIN.$error.required && (CreateForm.CIN.$dirty || CreateForm.$submitted)"> Champ requis </span>
                                    <span class="help-block font-red-thunderbird" ng-show="((!CustomerExist && CreateForm.$submitted && CreateForm.CIN.$dirty) || (!CustomerExist && CreateForm.CIN.$dirty)) && !CreateForm.CIN.$error.required"> <i class="fa fa-exclamation-triangle"></i> Client n'extse pas ! </span>
                                </div>
                            </div>
                            <div class="col-md-8" style="margin-top:25px;">
                                <div ng-show="CheckerLoading" class="page-spinner-bar" style="position:unset; width:auto">
                                    <div class="bounce1"></div>
                                    <div class="bounce2"></div>
                                    <div class="bounce3"></div>
                                </div>
                                <div class="portlet box blue" ng-show="CustomerExist && !CheckerLoading">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <i class="fa fa-user"></i>Informations sur le client
                                        </div>
                                        <div class="tools">
                                            <a href="javascript:;" class="collapse">
                                            </a>
                                            <a href="#portlet-config" data-toggle="modal" class="config">
                                            </a>
                                            <a href="javascript:;" class="reload">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        <div class="row static-info">
                                            <div class="col-md-5 name">
                                                Nom Complet:
                                            </div>
                                            <div class="col-md-7 value"  ng-bind="Transaction.Customer.Civility + ' ' + Transaction.Customer.FirstName + ' ' + Transaction.Customer.LastName">
                                            </div>
                                        </div>
                                        <div class="row static-info">
                                            <div class="col-md-5 name">
                                                C.I.N:
                                            </div>
                                            <div class="col-md-7 value" ng-bind="Transaction.Customer.CIN">
                                            </div>
                                        </div>
                                        <div class="row static-info">
                                            <div class="col-md-5 name">
                                                Date de naissance:
                                            </div>
                                            <div class="col-md-7 value">
                                                <span class="label label-success" ng-if="Transaction.Customer.BirthDay != null">
                                                    {{Transaction.Customer.BirthDay | date:'dd/MM/yyyy'}}
                                                </span>
                                                <span class="label label-danger" ng-if="Transaction.Customer.BirthDay == null">
                                                    Champ vide
                                                </span>
                                            </div>
                                        </div>
                                        <div class="row static-info">
                                            <div class="col-md-5 name">
                                                Téléphone 1:
                                            </div>
                                            <div class="col-md-7 value">
                                                <span ng-if="Transaction.Customer.Phone1 != null">
                                                    {{Transaction.Customer.Phone1}}
                                                </span>
                                                <span class="label label-danger" ng-if="Transaction.Customer.Phone1 == null">
                                                    Champ vide
                                                </span>
                                            </div>
                                        </div>
                                        <div class="row static-info">
                                            <div class="col-md-5 name">
                                                Téléphone 2:
                                            </div>
                                            <div class="col-md-7 value">
                                                <span ng-if="Transaction.Customer.Phone2 != null">
                                                    {{Transaction.Customer.Phone2}}
                                                </span>
                                                <span class="label label-danger" ng-if="Transaction.Customer.Phone2 == null">
                                                    Champ vide
                                                </span>
                                            </div>
                                        </div>
                                        <div class="row static-info">
                                            <div class="col-md-5 name">
                                                Email:
                                            </div>
                                            <div class="col-md-7 value">
                                                <span ng-if="Transaction.Customer.Email != null">
                                                    {{Transaction.Customer.Email}}
                                                </span>
                                                <span class="label label-danger" ng-if="Transaction.Customer.Email == null">
                                                    Champ vide
                                                </span>
                                            </div>
                                        </div>
                                        <div class="row static-info">
                                            <div class="col-md-5 name">
                                                Adresse:
                                            </div>
                                            <div class="col-md-7 value">
                                                <span ng-if="Transaction.Customer.Address != null">
                                                    {{Transaction.Customer.Address}}
                                                </span>
                                                <span class="label label-danger" ng-if="Transaction.Customer.Address == null">
                                                    Champ vide
                                                </span>     
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Comment-->
                        <h4 class="form-section">
                            <a class="btn btn-circle btn-icon-only disabled blue">
                                <i class="fa fa-comment"></i>
                            </a>
                            <span class="font-blue form-title">Notes</span>
                        </h4>
                        <hr class="separator" />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Ajouter un commentaire</label>
                                    <div>
                                        <textarea type="text" class="form-control" name="Comment" ng-model="Transaction.Comment"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--FileUpload-->
                        <h4 class="form-section">
                            <a class="btn btn-circle btn-icon-only disabled blue">
                                <i class="fa fa-cloud-upload"></i>
                            </a>
                            <span class="font-blue form-title">Télécharger un reçu</span>
                        </h4>
                        <hr class="separator" />
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <div class="form-group ">
                                    <div ng-show="uploader.isHTML5" onclick="document.getElementById('file-dialog').click()" style="cursor:pointer">
                                        <div class="file-drop-zone margin-bottom-20" over-class="file-drop-zone-over">
                                            Cliquer pour télécharger
                                        </div>
                                        <input id="file-dialog" ng-show="false" type="file" nv-file-select="" uploader="uploader" ng-click="uploader.clearQueue()" />
                                    </div>
                                    <div class="clearfix margin-top-10">
                                        N.B : Le transfert du fichier devrait être dans l'un des formats suivants: JPG, PNG ou PDF.
                                        <br />
                                        La taille du fichier ne doit pas dépasser 1MB.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-show="uploader.queue.length != 0">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="table-scrollable table-scrollable-borderless">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr class="uppercase">
                                                <th ng-show="uploader.isHTML5"></th>
                                                <th class="text-center" ng-show="uploader.isHTML5">Nom du fichier</th>
                                                <th class="text-center" ng-show="uploader.isHTML5">Taille</th>
                                                <th class="text-center" ng-show="uploader.isHTML5"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in uploader.queue">
                                                <td ng-show="uploader.isHTML5">
                                                    <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
                                                </td>
                                                <td class="text-center">
                                                    {{ item.file.name }}
                                                </td>
                                                <td class="text-center" ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                                <td class="text-center">
                                                    <span ng-show="true" class="text-success"><i class="fa fa-check"></i></span>
                                                </td>
                                                <td class="text-center" nowrap>
                                                    <button type="button" class="btn btn-danger btn-xs" ng-click="uploader.clearQueue()">
                                                        <span class="fa fa-times"></span> Annuler
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="portlet light" sticky>
                <div class="portlet-title">
                    <div class="caption font-green">
                        <i class="fa fa-file-o font-green"></i>Récap de la transaction
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        <div class="row static-info">
                            <div class="col-md-5 name">
                                Opérateur
                            </div>
                            <div class="col-md-7 value">
                                {{Transaction.Operator.Name}}
                            </div>
                        </div>
                        <div class="row static-info">
                            <div class="col-md-5 name">
                                Type
                            </div>
                            <div class="col-md-7 value">
                                <span ng-if="Transaction.Operator.TransactionType == 'I' || Transaction.TransactionType =='I' ">
                                    In
                                </span>
                                <span ng-if="Transaction.Operator.TransactionType == 'O' || Transaction.TransactionType =='O'">
                                    Out
                                </span>
                            </div>
                        </div>
                        <hr />
                        <div class="row static-info">
                            <div class="col-md-5 name">
                                Frais de la Trs
                            </div>
                            <div class="col-md-7 value">
                                {{Transaction.Fees | currency : '' : 2 }} DH
                            </div>
                        </div>
                        <div class="row static-info" ng-if="Transaction.TransactionType == 'O'">
                            <div class="col-md-5 name">
                                Frais reçu
                            </div>
                            <div class="col-md-7 value">
                                {{0 | currency : '' : 2 }} DH
                            </div>
                        </div>
                        <div class="row static-info" ng-if="Transaction.TransactionType == 'I' && Transaction.FeesPaidBy == 'E'">
                            <div class="col-md-5 name">
                                Frais reçu
                            </div>
                            <div class="col-md-7 value">
                                {{Transaction.Fees | currency : '' : 2 }} DH
                            </div>
                        </div>
                        <div class="row static-info" ng-if="Transaction.TransactionType == 'I' && Transaction.FeesPaidBy == 'R'">
                            <div class="col-md-5 name">
                                Frais reçu
                            </div>
                            <div class="col-md-7 value">
                                {{0 | currency : '' : 2 }} DH
                            </div>
                        </div>
                        <div class="row static-info" ng-if="Transaction.TransactionType == 'I' && Transaction.FeesPaidBy == 'S'">
                            <div class="col-md-5 name">
                                Frais reçu
                            </div>
                            <div class="col-md-7 value">
                                {{Transaction.Fees / 2 | currency : '' : 2 }} DH
                            </div>
                        </div>
                        <div class="row static-info" ng-if="Transaction.TransactionType == null">
                            <div class="col-md-5 name">
                                Frais reçu
                            </div>
                            <div class="col-md-7 value">
                                {{Transaction.Fees | currency : '' : 2 }} DH
                            </div>
                        </div>
                        <hr />
                        <div class="row static-info" ng-show="Transaction.TransactionType == 'O'">
                            <div class="col-md-5 name">
                                Mnt Total Sortant
                            </div>
                            <div class="col-md-7 value">
                                {{Transaction.Amount  | currency : '' : 2 }} DH
                            </div>
                        </div>
                        <div class="row static-info" ng-show="Transaction.TransactionType == 'I'">
                            <div class="col-md-5 name">
                                Mnt Total Entrant
                            </div>
                            <div class="col-md-7 value">
                                <span ng-if="IsMainOperator && Transaction.FeesPaidBy == 'E'">
                                    {{Transaction.Amount + Transaction.Fees | currency : '' : 2 }} DH
                                </span>
                                <span ng-if="IsMainOperator && Transaction.FeesPaidBy == 'R'">
                                    {{Transaction.Amount | currency : '' : 2 }} DH
                                </span>
                                <span ng-if="IsMainOperator && Transaction.FeesPaidBy == 'S'">
                                    {{Transaction.Amount + (Transaction.Fees/2) | currency : '' : 2 }} DH
                                </span>
                                <span ng-if="!IsMainOperator">
                                    {{Transaction.Amount | currency : '' : 2 }} DH
                                </span>
                            </div>
                        </div>
                        <div class="row static-info">
                            <div class="col-md-5 name">
                                Commission
                            </div>
                            <div class="col-md-7 value">
                                {{Transaction.Profit | currency : '' : 2 }} DH
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>