﻿<div class="modal-body">
    <form name="CreateForm" class="horizontal-form" novalidate>
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption font-green">
                            <i class="fa fa-gears font-green"></i>Actions
                        </div>
                        <div class="actions">
                            <button type="submit" class="btn btn-outline me-green" ng-disabled="Loading || CustomerExist" ng-click="Create(CreateForm);">
                                <i class="fa fa-check" ng-hide="Loading"></i>
                                <span ng-hide="Loading">Enregistrer</span>
                                <i class="fa fa-spinner fa-spin" ng-show="Loading"></i>
                            </button>
                            <button type="button" class="btn btn-outline me-red" ng-click="Cancel()">
                                <i class="fa fa-times"></i>
                                <span>Annuler</span>
                            </button>
                        </div>
                    </div>
                    <hr />
                    <div class="portlet-body form">
                        <div class="form-body">

                            <h4 class="form-section">
                                <a class="btn btn-circle btn-icon-only disabled blue">
                                    <i class="fa fa-user"></i>
                                </a>
                                <span class="font-blue form-title">Informations sur le client</span>
                            </h4>
                            <hr class="separator" />
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Civilité <span class="required font-red-thunderbird" aria-required="true"> * </span></label>
                                        <ui-select name="Civility" ng-model="Customer.Civility" ng-init="Options = [{ name: 'M.', value: 'M.' },{ name: 'Mme.', value: 'Mme.' },{ name: 'Mlle.', value: 'Mlle.' },{ name: 'Dr.', value: 'Dr.' },{ name: 'Pr.', value: 'Pr.' }];" theme="bootstrap" ng-required="true">
                                            <ui-select-match placeholder="Choisir">{{$select.selected.name}}</ui-select-match>
                                            <ui-select-choices repeat="option.value as option in Options | filter: $select.search">
                                                <div ng-bind-html="option.name | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                        <span class="help-block font-red-thunderbird" ng-show="CreateForm.Civility.$error.required && (CreateForm.Civility.$dirty || CreateForm.$submitted )"> Champ requis </span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Prénom <span class="required font-red-thunderbird" aria-required="true"> * </span></label>
                                        <div>
                                            <input type="text" class="form-control" name="FirstName" ng-model="Customer.FirstName" ng-required="true" capitalize-first>
                                            <span class="help-block font-red-thunderbird" ng-show="CreateForm.FirstName.$error.required && ( CreateForm.FirstName.$dirty || CreateForm.$submitted )"> Champ requis </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Nom <span class="required font-red-thunderbird" aria-required="true"> * </span></label>
                                        <div>
                                            <input type="text" class="form-control" name="LastName" ng-model="Customer.LastName" ng-required="true" capitalize-first>
                                            <span class="help-block font-red-thunderbird" ng-show="CreateForm.LastName.$error.required && ( CreateForm.LastName.$dirty || CreateForm.$submitted )"> Champ requis </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">C.I.N / C.I.L &nbsp;<i class="fa fa-question-circle" tooltip="Entrer le numéro C.I.L à la place de la C.I.N en cas de paiement des factures Elec ou Eau" tooltip-trigger="mouseenter" tooltip-placement="top"></i><span class="required font-red-thunderbird" aria-required="true"> * </span></label>
                                        <div>
                                            <input type="text" class="form-control" name="CIN" ng-model="Customer.CIN" ng-required="true" trim upper-case>
                                            <span class="help-block font-red-thunderbird" ng-show="CreateForm.CIN.$error.required && ( CreateForm.CIN.$dirty || CreateForm.$submitted )"> Champ requis </span>
                                            <span class="help-block font-red-thunderbird" ng-show="CustomerExist && !CreateForm.CIN.$error.required"> Client Existe déjà </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Date de naissance</label>
                                        <div>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                                <input type="text" class="form-control" name="BirthDay" ng-model="Customer.BirthDay" date-picker set-today-date="false" max="true">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <h4 class="form-section">
                                <a class="btn btn-circle btn-icon-only disabled blue">
                                    <i class="fa fa-map-marker"></i>
                                </a>
                                <span class="font-blue form-title">Coordonnées</span>
                            </h4>
                            <hr class="separator" />
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Téléphone 1</label>
                                        <div>
                                            <input type="text" class="form-control" name="Phone1" ng-model="Customer.Phone1" phone-mask>
                                            <span class="help-block font-red-thunderbird" ng-show="CreateForm.Phone1.$invalid && CreateForm.Phone1.$dirty"> Format du numéro invalide </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Téléphone 2</label>
                                        <div>
                                            <input type="text" class="form-control" name="Phone2" ng-model="Customer.Phone2" phone-mask>
                                            <span class="help-block font-red-thunderbird" ng-show="CreateForm.Phone2.$invalid && CreateForm.Phone2.$dirty"> Format du numéro invalide </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Email</label>
                                        <div>
                                            <input type="email" class="form-control" name="Email" ng-model="Customer.Email">
                                            <span class="help-block font-red-thunderbird" ng-show="CreateForm.Email.$error.email && CreateForm.Email.$dirty"> Format invalide </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label class="control-label">Adresse</label>
                                        <div>
                                            <input type="text" class="form-control" name="Address" ng-model="Customer.Address" capitalize-first>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <h4 class="form-section">
                                <a class="btn btn-circle btn-icon-only disabled blue">
                                    <i class="fa fa-comment"></i>
                                </a>
                                <span class="font-blue form-title">Notes</span>
                            </h4>
                            <hr class="separator" />
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">Ajouter un commentaire</label>
                                        <div>
                                            <textarea type="text" class="form-control" name="Comment" ng-model="Customer.Comment"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <h4 class="form-section">
                                <a class="btn btn-circle btn-icon-only disabled blue">
                                    <i class="fa fa-cloud-upload"></i>
                                </a>
                                <span class="font-blue form-title">Télécharger une pièce d'identité</span>
                            </h4>
                            <hr class="separator" />
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3">
                                    <div class="form-group ">
                                        <div ng-show="customerUploader.isHTML5" onclick="document.getElementById('file-dialog-customer').click()" style="cursor:pointer">
                                            <div class="file-drop-zone margin-bottom-20" over-class="file-drop-zone-over">
                                                Cliquer pour télécharger
                                            </div>
                                            <input id="file-dialog-customer" ng-show="false" type="file" nv-file-select="" uploader="customerUploader" ng-click="customerUploader.clearQueue()" />
                                        </div>
                                        <div class="clearfix margin-top-10">
                                            N.B : Le transfert du fichier devrait être dans l'un des formats suivants: JPG, PNG ou PDF.
                                            <br />
                                            La taille du fichier ne doit pas dépasser 1MB.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" ng-show="customerUploader.queue.length != 0">
                                <div class="col-md-8 col-md-offset-2">
                                    <div class="table-scrollable table-scrollable-borderless">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr class="uppercase">
                                                    <th ng-show="customerUploader.isHTML5"></th>
                                                    <th class="text-center" ng-show="customerUploader.isHTML5">Nom du fichier</th>
                                                    <th class="text-center" ng-show="customerUploader.isHTML5">Taille</th>
                                                    <th class="text-center" ng-show="customerUploader.isHTML5"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in customerUploader.queue">
                                                    <td ng-show="customerUploader.isHTML5">
                                                        <div ng-show="customerUploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
                                                    </td>
                                                    <td class="text-center">
                                                        {{ item.file.name }}
                                                    </td>
                                                    <td class="text-center" ng-show="customerUploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                                    <td class="text-center">
                                                        <span ng-show="true" class="text-success"><i class="fa fa-check"></i></span>
                                                    </td>
                                                    <td class="text-center" nowrap>
                                                        <button type="button" class="btn btn-danger btn-xs" ng-click="customerUploader.clearQueue()">
                                                            <span class="fa fa-times"></span> Annuler
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
</div>