﻿<div class="modal-body">
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption font-green">
                <i class="fa fa-gears font-green"></i>Actions
            </div>
            <div class="actions">
                <button type="button" class="btn btn-outline me-blue" ng-click="Close()">
                    <i class="fa fa-close"></i>
                    <span>Fermer</span>
                </button>
            </div>
        </div>
        <hr />
        <div class="portlet-body form">
            <!-- BEGIN FORM-->
            <form class="form-horizontal" role="form">
                <div class="form-body">
                    <h4 class="form-section">
                        <a class="btn btn-circle btn-icon-only disabled blue">
                            <i class="fa fa-info"></i>
                        </a>
                        <span class="font-blue form-title"> Informations sur la transaction</span>
                    </h4>
                    <hr class="separator" />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-7 bold">Date de la transaction : </label>
                                <div class="col-md-5">
                                    <p class="form-control-static">
                                        {{Transaction.Date | date:'dd/MM/yyyy'}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-7 bold">Nom de l'opérateur : </label>
                                <div class="col-md-5">
                                    <p class="form-control-static" ng-bind="Transaction.OperatorName">
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-7 bold">Type de la transaction :</label>
                                <div class="col-md-5">
                                    <p class="form-control-static" ng-if="Transaction.TransactionType == 'I'">
                                        <span class="label label-success">
                                            In
                                        </span>
                                    </p>
                                    <p class="form-control-static" ng-if="Transaction.TransactionType == 'O'">
                                        <span class="label label-danger">
                                            Out
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-7 bold">Montant de la transaction : </label>
                                <div class="col-md-5">
                                    <p class="form-control-static">
                                        {{Transaction.Amount | currency : '' : 2 }} DH
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-7 bold">Frais reçus : </label>
                                <div class="col-md-5">
                                    <p class="form-control-static">
                                        {{Transaction.Fees | currency : '' : 2 }} DH
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-7 bold">Commission : </label>
                                <div class="col-md-5">
                                    <p class="form-control-static">
                                        {{Transaction.Profit | currency : '' : 2 }} DH
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4 class="form-section">
                        <a class="btn btn-circle btn-icon-only disabled blue">
                            <i class="fa fa-user"></i>
                        </a>
                        <span class="font-blue form-title"> Client</span>
                    </h4>
                    <hr class="separator" />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-7 bold">Nom Complet :</label>
                                <div class="col-md-5">
                                    <p class="form-control-static">
                                        {{Transaction.Customer.Civility + ' ' + Transaction.Customer.FirstName + ' '  + Transaction.Customer.LastName}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-7 bold">C.I.N / C.I.L:</label>
                                <div class="col-md-5">
                                    <p class="form-control-static">
                                        {{Transaction.Customer.CIN}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-7 bold">Téléphone 1 :</label>
                                <div class="col-md-5">
                                    <p class="form-control-static">
                                        <span class="label label-danger" ng-if="Transaction.Customer.Phone1 == null">
                                            Champ vide
                                        </span>
                                        <span ng-if="Transaction.Customer.Phone1 != null">
                                            {{Transaction.Customer.Phone1}}
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-7 bold">Adresse :</label>
                                <div class="col-md-5">
                                    <p class="form-control-static">
                                        <span class="label label-danger" ng-if="Transaction.Customer.Address == null">
                                            Champ vide
                                        </span>
                                        <span ng-if="Transaction.Customer.Address != null">
                                            {{Transaction.Customer.Address}}
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h4 class="form-section">
                    <a class="btn btn-circle btn-icon-only disabled blue">
                        <i class="fa fa-comment"></i>
                    </a>
                    <span class="font-blue form-title">Commentaire</span>
                </h4>
                <hr class="separator" />
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="well">
                            <span class="label label-danger" ng-if="Transaction.Comment == null">
                                Aucun commentaire n'est diponible pour cette transaction.
                            </span>
                            <span ng-if="Transaction.Comment != null">
                                {{Transaction.Comment}}
                            </span>
                        </div>
                    </div>
                </div>
                <h4 class="form-section">
                    <a class="btn btn-circle btn-icon-only disabled blue">
                        <i class="fa fa-cloud-upload"></i>
                    </a>
                    <span class="font-blue form-title">Télécharger le reçu de la transaction</span>
                </h4>
                <hr class="separator" />
                <div class="row">
                    <div class="col-md-12 text-center">
                        <span ng-if="Transaction.FilePath != null">
                            <a class="btn btn-outline me-red" download="{{Transaction.FilePath}}" ng-href="{{ UrlDownload }}"><i class="fa fa-cloud-upload"></i>Télécharger</a>
                        </span>
                        <span class="label label-danger" ng-if="Transaction.FilePath == null">
                            Aucune pièce d'identité n'est disponible pour ce client
                        </span>
                    </div>
                </div>
            </form>
            <!-- END FORM-->
        </div>
    </div>
</div>
<div class="modal-footer">
</div>