﻿<div class="tiles">
    <div class="tile double-down bg-blue-hoki">
        <a  ui-sref="Layout.Dashboard" style="text-decoration:none;">
            <div class="tile-body">
                <i class="fa fa-line-chart"></i>
            </div>
            <div class="tile-object">
                <div class="name text-center">
                    Tableau de bord
                </div>
            </div>
        </a>
    </div>
    <div class="tile double bg-green">
        <a ui-sref="Layout.ListTransaction" style="text-decoration:none;">
            <div class="tile-body">
                <i class="fa fa-exchange"></i>
            </div>
            <div class="tile-object">
                <div class="name">
                    Transactions
                </div>
                <div class="number">
                </div>
            </div>
        </a>
    </div>
    <div class="tile bg-red-sunglo">
        <a ui-sref="Layout.ListExpense" style="text-decoration:none;">
            <div class="tile-body">
                <i class="fa fa-list-ul"></i>
            </div>
            <div class="tile-object">
                <div class="name">
                    Dépenses
                </div>
            </div>
        </a>
    </div>
    <div class="tile double bg-yellow-saffron">
        <a ui-sref="Layout.ListAgency" style="text-decoration:none;">
            <div class="tile-body">
                <i class="fa fa-home"></i>
            </div>
            <div class="tile-object">
                <div class="name">
                    Agences
                </div>
            </div>
        </a>
    </div>
    <div class="tile double bg-grey-cascade">
        <a ui-sref="Layout.ListUser" style="text-decoration:none;">
            <div class="tile-body">
                <i class="fa fa-user"></i>
            </div>
            <div class="tile-object">
                <div class="name">
                    Utilisateurs
                </div>
            </div>
        </a>
    </div>
    <div class="tile bg-yellow-gold">
        <a ui-sref="Layout.ListCustomer" style="text-decoration:none;">
            <div class="tile-body">
                <i class="fa fa-users"></i>
            </div>
            <div class="tile-object">
                <div class="name">
                    Clients
                </div>
            </div>
        </a>
    </div>
    <div class="tile bg-blue">
        <a ui-sref="Layout.ListProvision" style="text-decoration:none;">
            <div class="tile-body">
                <i class="fa fa-archive"></i>
            </div>
            <div class="tile-object">
                <div class="name">
                    Caisse
                </div>
            </div>
        </a>
    </div>
    <div class="tile double bg-purple-studio">
        <a ui-sref="Layout.ListOperator" style="text-decoration:none;">
            <div class="tile-body">
                <i class="fa fa-cube"></i>
            </div>
            <div class="tile-object">
                <div class="name">
                    Opérateurs
                </div>
            </div>
        </a>
    </div>
    <div class="tile bg-blue">
        <a ui-sref="Layout.ListNotification" style="text-decoration:none;">
            <div class="tile-body">
                <i class="fa fa-bell-o"></i>
            </div>
            <div class="tile-object">
                <div class="name">
                    Notifications
                </div>
                <div class="number">
                    {{user.NotificationsCount}}
                </div>
            </div>
        </a>
    </div>
</div>