﻿<div class="row" ng-init="ActiveTab = 'C'">
    <div class="col-md-12">
        <div class="tabbable tabbable-custom tabbable-noborder ">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a class="font-blue bold" data-toggle="tab" ng-click="ActiveTab = 'C';">
                        Caisses
                    </a>
                </li>
                <li>
                    <a class="font-green bold" data-toggle="tab" ng-click="ActiveTab = 'T';">
                        Transactions
                    </a>
                </li>
                <li>
                    <a class="font-red bold" data-toggle="tab" ng-click="ActiveTab = 'E';">
                        Dépenses
                    </a>
                </li>
                <li>
                    <a class="font-yellow bold" data-toggle="tab" ng-click="ActiveTab = 'Cu';">
                        Clients
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div ng-show="ActiveTab == 'C'">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="font-blue" style="font-weight:500;"> En temps réeel</h3>
                            <hr />
                            <div class="page-spinner-bar" ng-show="LoadingCashBoxes" style="position:unset; width:auto">
                                <div class="bounce1 bg-blue"></div>
                                <div class="bounce2 bg-blue"></div>
                                <div class="bounce3 bg-blue"></div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" ng-repeat="cashBox in CashBoxes">
                                    <div class="dashboard-stat blue">
                                        <div class="visual">
                                            <i class="fa fa-archive"></i>
                                        </div>
                                        <div class="details">
                                            <div class="number font-red-thunderbird" style="font-size:1.5em;" ng-if="cashBox.Amount < 0">
                                                - {{cashBox.Amount | currency:'':2}}
                                            </div>
                                            <div class="number" style="font-size:1.5em;" ng-if="cashBox.Amount >= 0">
                                                {{cashBox.Amount | currency:'':2}} 
                                            </div>
                                            <div class="desc">
                                                DH
                                            </div>
                                        </div>
                                        <a class="more bold" href="javascript:;" style="text-decoration:none; cursor:default;">
                                            {{cashBox.AgencyName}}
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-12" ng-show="CashBoxes.length == 0">
                                    <div class="note bg-blue note-shadow text-center">
                                        <i class="fa fa-exclamation-triangle "></i>
                                        <h4 class="block">Aucune donée n'est disponible.</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="font-blue" style="font-weight:500;">Dérnières opérations de caisse</h3>
                            <hr />
                            <div class="page-spinner-bar" ng-show="LoadingLastOperations" style="position:unset; width:auto">
                                <div class="bounce1 bg-blue"></div>
                                <div class="bounce2 bg-blue"></div>
                                <div class="bounce3 bg-blue"></div>
                            </div>
                            <div class="note bg-blue note-shadow text-center" ng-show="Operations.length == 0">
                                <i class="fa fa-exclamation-triangle "></i>
                                <h4 class="block">Aucune donée n'est disponible.</h4>
                            </div>
                            <div class="scroller" style="height: 337px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
                                <ul class="feeds">
                                    <li ng-repeat="operation in Operations">
                                        <div class="col1">
                                            <div class="cont">
                                                <div class="cont-col1">
                                                    <div class="label label-sm bg-green" ng-if="operation.Type == 'P'">
                                                        <i class="fa fa-long-arrow-right"></i>
                                                    </div>
                                                    <div class="label label-sm bg-red" ng-if="operation.Type == 'W'">
                                                        <i class="fa fa-long-arrow-left"></i>
                                                    </div>
                                                    <div class="label label-sm bg-blue-hoki" ng-if="operation.Type == 'T'">
                                                        <i class="fa fa-exchange"></i>
                                                    </div>
                                                </div>
                                                <div class="cont-col2">
                                                    <div class="desc" ng-if="operation.Type == 'P'">
                                                        Alimentation : {{operation.AgencyName}} | Montant : {{operation.Amount | currency:'':2}} DH  <span ng-show="operation.IsDeleted"> <span class="label label-sm bg-red">Opération annulée</span> </span> 
                                                    </div>
                                                    <div class="desc" ng-if="operation.Type == 'W'">
                                                        Retrait : {{operation.AgencyName}} | Montant : {{operation.Amount | currency:'':2}} DH <span ng-show="operation.IsDeleted"> <span class="label label-sm bg-red" >Opération annulée</span> </span> 
                                                    </div>
                                                    <div class="desc" ng-if="operation.Type == 'T'">
                                                        Transfert : {{operation.AgencyName}} <i class="fa fa-exchange"></i> {{operation.ReceiverName}} | Montant : {{operation.Amount | currency:'':2}} DH <span ng-show="operation.IsDeleted"><span class="label label-sm bg-red">Opération annulée</span> </span> 
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col2">
                                            <div class="date bold">
                                                {{operation.Date | date:'dd/MM/yyyy HH:mm'}}
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h3 class="font-blue" style="font-weight:500;">Total des opérations <small class="font-blue">{{DateTimeNow | date:'MM/yyyy'}}</small></h3>
                            <hr />
                            <div class="page-spinner-bar" ng-show="LoadingOperationsTotalAmount" style="position:unset; width:auto">
                                <div class="bounce1 bg-blue"></div>
                                <div class="bounce2 bg-blue"></div>
                                <div class="bounce3 bg-blue"></div>
                            </div>
                            <div class="portlet light" ng-hide="LoadingOperationsTotalAmount">
                                <div class="portlet-body form">
                                    <div class="form-body">
                                        <div class="row static-info">
                                            <div class="col-xs-4 value font-blue">
                                                Agence
                                            </div>
                                            <div class="col-xs-4 value font-green">
                                                Alimentations
                                            </div>
                                            <div class="col-xs-4 value font-red">
                                                Retraits
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row static-info" ng-repeat="operation in OperationsTotalAmount">
                                            <div class="col-xs-4 name">
                                                {{operation.AgencyName}}
                                            </div>
                                            <div class="col-xs-4 value">
                                                {{operation.MonthlyProvisions | currency:'':2}} DH
                                            </div>
                                            <div class="col-xs-4 value">
                                                {{operation.MonthlyWithdrawals | currency:'':2}} DH
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row static-info">
                                            <div class="col-xs-4 value font-blue">
                                                Total
                                            </div>
                                            <div class="col-xs-4 value font-green">
                                                + {{ProvisionsTotalAmount | currency:'':2}} DH
                                            </div>
                                            <div class="col-xs-4 value font-red">
                                                - {{WithdrawalsTotalAmount | currency:'':2}} DH
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-show="ActiveTab == 'T'">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="font-green" style="font-weight:500;">En temps réeel</h3>
                            <hr />
                            <div class="page-spinner-bar" ng-show="LoadingTransactions" style="position:unset; width:auto">
                                <div class="bounce1 bg-green"></div>
                                <div class="bounce2 bg-green"></div>
                                <div class="bounce3 bg-green"></div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" ng-repeat="dashboardTransaction in DashboardTransactions">
                                    <div class="dashboard-stat green">
                                        <div class="visual">
                                            <i class="fa fa-exchange"></i>
                                        </div>
                                        <div class="details">
                                            <div class="number" style="font-size:1.5em;">
                                                Aujourd'hui : {{dashboardTransaction.DailyTransactions}}
                                            </div>
                                            <div class="desc">
                                                Ce Mois : {{dashboardTransaction.MonthlyTransactions}}
                                            </div>
                                        </div>
                                        <a class="more bold" href="javascript:;" style="text-decoration:none; cursor:default;">
                                            {{dashboardTransaction.AgencyName}}
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-12" >
                                    <div class="note note-success note-shadow text-center" ng-show="DashboardTransactions.length == 0">
                                        <i class="fa fa-exclamation-triangle "></i>
                                        <h4 class="block">Aucune donée n'est disponible.</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="font-green" style="font-weight:500;">Dérnières transactions</h3>
                            <hr />
                            <div class="page-spinner-bar" ng-show="LoadingLastTransactions" style="position:unset; width:auto">
                                <div class="bounce1 bg-green"></div>
                                <div class="bounce2 bg-green"></div>
                                <div class="bounce3 bg-green"></div>
                            </div>
                            <div class="note note-success note-shadow text-center" ng-show="LastTransactions.length == 0">
                                <i class="fa fa-exclamation-triangle "></i>
                                <h4 class="block">Aucune donée n'est disponible.</h4>
                            </div>
                            <div class="scroller" style="height: 337px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
                                <ul class="feeds">
                                    <li ng-repeat="transaction in LastTransactions">
                                        <div class="col1">
                                            <div class="cont">
                                                <div class="cont-col1">
                                                    <div class="label label-sm bg-green" ng-if="transaction.TransactionType == 'I'">
                                                        <i class="fa fa-long-arrow-right"></i>
                                                    </div>
                                                    <div class="label label-sm bg-red" ng-if="transaction.TransactionType == 'O'">
                                                        <i class="fa fa-long-arrow-left"></i>
                                                    </div>
                                                </div>
                                                <div class="cont-col2">
                                                    <div class="desc" ng-if="transaction.TransactionType == 'I'">
                                                        {{transaction.OperatorName}} | {{transaction.AgencyName}} | Montant : {{transaction.Amount | currency:'':2}} DH <span class="label label-sm label-success">In</span>  <span ng-show="transaction.IsDeleted">  <span class="label label-sm bg-red">Opération annulée</span> </span> 
                                                    </div>
                                                    <div class="desc" ng-if="transaction.TransactionType == 'O'">
                                                        {{transaction.OperatorName}} | {{transaction.AgencyName}} | Montant : {{transaction.Amount | currency:'':2}} DH <span class="label label-sm bg-red">Out</span>  <span ng-show="transaction.IsDeleted"> | <span class="label label-sm bg-red">Opération annulée</span> </span> 
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col2">
                                            <div class="date bold">
                                                {{transaction.Date | date:'dd/MM/yyyy HH:mm'}}
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h3 class="font-green" style="font-weight:500;">Total des transactions <small class="font-green">{{DateTimeNow | date:'MM/yyyy'}}</small></h3>
                            <hr />
                            <div class="page-spinner-bar" ng-show="LoadingTransactions" style="position:unset; width:auto">
                                <div class="bounce1 bg-green"></div>
                                <div class="bounce2 bg-green"></div>
                                <div class="bounce3 bg-green"></div>
                            </div>
                            <div class="portlet light" ng-hide="LoadingTransactions">
                                <div class="portlet-body form">
                                    <div class="form-body">
                                        <div class="row static-info">
                                            <div class="col-xs-4 value font-green">
                                                Agence
                                            </div>
                                            <div class="col-xs-4 value font-green">
                                                Nombre
                                            </div>
                                            <div class="col-xs-4 value font-green">
                                                Volume
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row static-info" ng-repeat="transaction in DashboardTransactions">
                                            <div class="col-xs-4 name">
                                                {{transaction.AgencyName}}
                                            </div>
                                            <div class="col-xs-4 value">
                                                {{transaction.MonthlyTransactions}}
                                            </div>
                                            <div class="col-xs-4 value">
                                                {{transaction.MonthlyVolume | currency:'':2}} DH
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row static-info">
                                            <div class="col-xs-4 value font-green">
                                                Total
                                            </div>
                                            <div class="col-xs-4 value">
                                                {{TransactionsTotalNumber}}
                                            </div>
                                            <div class="col-xs-4 value">
                                                {{TransactionsTotalVolume | currency:'':2}} DH
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-show="ActiveTab == 'E'">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="font-red" style="font-weight:500;">En temps réeel</h3>
                            <hr />
                            <div class="page-spinner-bar" ng-show="LoadingExpenses" style="position:unset; width:auto">
                                <div class="bounce1 bg-red"></div>
                                <div class="bounce2 bg-red"></div>
                                <div class="bounce3 bg-red"></div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" ng-repeat="expense in DashboardExpenses">
                                    <div class="dashboard-stat red">
                                        <div class="visual">
                                            <i class="fa fa-money"></i>
                                        </div>
                                        <div class="details">
                                            <div class="number" style="font-size:1.5em;">
                                                Aujourd'hui : {{expense.DailyExpenses | currency:'':2}} DH
                                            </div>
                                            <div class="desc">
                                                Ce Mois : {{expense.MonthlyExpenses | currency:'':2}} DH
                                            </div>
                                        </div>
                                        <a class="more bold" href="javascript:;" style="text-decoration:none; cursor:default;">
                                            {{expense.AgencyName}}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="font-red" style="font-weight:500;">Dérnières dépenses</h3>
                            <hr />
                            <div class="page-spinner-bar" ng-show="LoadingLastExpenses" style="position:unset; width:auto">
                                <div class="bounce1 bg-red"></div>
                                <div class="bounce2 bg-red"></div>
                                <div class="bounce3 bg-red"></div>
                            </div>
                            <div class="note bg-red note-shadow text-center" ng-show="LastExpenses.length == 0">
                                <i class="fa fa-exclamation-triangle "></i>
                                <h4 class="block">Aucune donée n'est disponible.</h4>
                            </div>
                            <div class="scroller" style="height: 337px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
                                <ul class="feeds">
                                    <li ng-repeat="expense in LastExpenses">
                                        <div class="col1">
                                            <div class="cont">
                                                <div class="cont-col1">
                                                </div>
                                                <div class="cont-col2">
                                                    <div class="desc">
                                                        <span class="label label-sm bg-red"> {{expense.CategoryName}}</span>  {{expense.AgencyName}}  | {{expense.Name}} : {{expense.Amount}}   <span ng-show="expense.IsDeleted"> <span class="label label-sm bg-red">Opération annulée</span> </span> 
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col2">
                                            <div class="date bold">
                                                {{expense.Date | date:'dd/MM/yyyy HH:mm'}}
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h3 class="font-red" style="font-weight:500;">Total des dépenses <small class="font-red">{{DateTimeNow | date:'MM/yyyy'}}</small></h3>
                            <hr />
                            <div class="page-spinner-bar" ng-show="LoadingExpenses" style="position:unset; width:auto">
                                <div class="bounce1 bg-red"></div>
                                <div class="bounce2 bg-red"></div>
                                <div class="bounce3 bg-red"></div>
                            </div>
                            <div class="portlet light" ng-hide="LoadingExpenses">
                                <div class="portlet-body form">
                                    <div class="form-body">
                                        <div class="row static-info">
                                            <div class="col-xs-6 name font-red">
                                                Agence
                                            </div>
                                            <div class="col-xs-6 value font-red">
                                                Montant
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row static-info" ng-repeat="expense in DashboardExpenses">
                                            <div class="col-xs-6 name">
                                                {{expense.AgencyName}}
                                            </div>
                                            <div class="col-xs-6 value">
                                                {{expense.MonthlyExpenses |  currency:'':2}} DH
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row static-info">
                                            <div class="col-xs-6 value font-red">
                                                Total
                                            </div>
                                            <div class="col-xs-6 value">
                                                {{ExpensesTotalAmount |  currency:'':2}} DH
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-show="ActiveTab == 'Cu'">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="font-yellow" style="font-weight:500;">Meilleurs clients</h3>
                            <hr />
                            <div class="note bg-yellow note-shadow text-center" ng-show="BestCustomers.length == 0">
                                <i class="fa fa-exclamation-triangle "></i>
                                <h4 class="block">Aucune donée n'est disponible.</h4>
                            </div>
                            <div class="page-spinner-bar" ng-show="LoadingBestCustomers" style="position:unset; width:auto">
                                <div class="bounce1 bg-yellow"></div>
                                <div class="bounce2 bg-yellow"></div>
                                <div class="bounce3 bg-yellow"></div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" ng-repeat="customer in BestCustomers.slice(0,4)">
                                    <div class="dashboard-stat yellow">
                                        <div class="visual">
                                            <i class="fa fa-trophy">{{$index + 1}}</i>
                                        </div>
                                        <div class="details">
                                            <div class="number" style="font-size:1.5em;">
                                                {{customer.CompleteName}}
                                            </div>
                                            <div class="desc">
                                                {{customer.NumberOfTransactions}} transactions
                                            </div>
                                        </div>
                                        <a class="more bold" style="text-decoration:none; cursor:default;">
                                            <span ng-if="customer.AgencyName == null">Non attribué</span>
                                            <span ng-if="customer.AgencyName != null">{{customer.AgencyName}}</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="font-yellow" style="font-weight:500;">Dérnièrs clients ajoutés</h3>
                            <hr />
                            <div class="page-spinner-bar" ng-show="LoadingLastCustomers" style="position:unset; width:auto">
                                <div class="bounce1 bg-yellow"></div>
                                <div class="bounce2 bg-yellow"></div>
                                <div class="bounce3 bg-yellow"></div>
                            </div>
                            <div class="note bg-yellow note-shadow text-center" ng-show="LastCustomers.length == 0">
                                <i class="fa fa-exclamation-triangle "></i>
                                <h4 class="block">Aucune donée n'est disponible.</h4>
                            </div>
                            <div class="scroller" style="height: 337px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
                                <ul class="feeds">
                                    <li ng-repeat="customer in LastCustomers">
                                        <div class="col1">
                                            <div class="cont">
                                                <div class="cont-col1">
                                                    <div class="label label-sm bg-yellow" ng-if="customer.Civility == 'Mme.' || customer.Civility == 'Mlle.' ">
                                                        <i class="fa fa-female"></i>
                                                    </div>
                                                    <div class="label label-sm bg-yellow" ng-if="customer.Civility == 'M.'">
                                                        <i class="fa fa-male"></i>
                                                    </div>
                                                    <div class="label label-sm bg-yellow" ng-if="customer.Civility == 'Dr.' || customer.Civility == 'Pr.'">
                                                        <i class="fa fa-user-secret"></i>
                                                    </div>
                                                </div>
                                                <div class="cont-col2">
                                                    <div class="desc">
                                                        {{customer.CompleteName}} | {{customer.CIN}} <span class="label label-sm bg-yellow">{{customer.AgencyName}}</span>  <span ng-show="customer.IsDeleted"> <span class="label label-sm bg-red">Client supprimé</span> </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col2">
                                            <div class="date bold">
                                                {{customer.CreatedAt | date:'dd/MM/yyyy HH:mm'}}
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h3 class="font-yellow" style="font-weight:500;">Top 10 clients </h3>
                            <hr />
                            <div class="page-spinner-bar" ng-show="LoadingBestCustomers" style="position:unset; width:auto">
                                <div class="bounce1 bg-yellow"></div>
                                <div class="bounce2 bg-yellow"></div>
                                <div class="bounce3 bg-yellow"></div>
                            </div>
                            <div class="portlet light" ng-hide="LoadingBestCustomers">
                                <div class="portlet-body form">
                                    <div class="form-body">
                                        <div class="row static-info">
                                            <div class="col-xs-4 name font-yellow">
                                                Client
                                            </div>
                                            <div class="col-xs-4 value font-yellow text-center">
                                                Transactions
                                            </div>
                                            <div class="col-xs-4 value font-yellow">
                                                Agence
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row static-info" ng-repeat="customer in BestCustomers">
                                            <div class="col-xs-4 name">
                                                {{customer.CompleteName}}
                                            </div>
                                            <div class="col-xs-4 value text-center">
                                                {{customer.NumberOfTransactions}}
                                            </div>
                                            <div class="col-xs-4 value">
                                                {{customer.AgencyName}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>