﻿<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
<div class="menu-toggler sidebar-toggler">
</div>
<!-- END SIDEBAR TOGGLER BUTTON -->
<!-- BEGIN LOGO -->
<div class="logo">
    <img src="/Assets/Images/Logo2.png" alt="logo" class="logo-default"/>
</div>
<!-- END LOGO -->
<!-- BEGIN LOGIN -->
<div class="content" ng-init="IsLoginForm = true;">
    <!-- BEGIN LOGIN FORM -->
    <form class="login-form" name="LoginForm" ng-submit="Login(LoginForm.$valid, Username, Password, RememberMe);" ng-show="IsLoginForm" enter-key="Login(LoginForm.$valid, Username, Password, RememberMe);" novalidate> 
        <div class="form-title">
            <span class="form-title">Bienvenue.</span>
            <span class="form-subtitle">Merci de s'authentifier.</span>
        </div>
        <div class="form-group">
            <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
            <label class="control-label visible-ie8 visible-ie9">Username</label>
            <input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="Username" name="Username" ng-model="Username" ng-required="true"/>
            <span class="help-block font-red-thunderbird" ng-show="LoginForm.Username.$error.required && ( LoginForm.Username.$dirty || LoginForm.$submitted )"> Champ requis </span>
        </div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">Password</label>
            <input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="Password" name="Password" ng-model="Password" ng-required="true"/>
            <span class="help-block font-red-thunderbird" ng-show="LoginForm.Password.$error.required && ( LoginForm.Password.$dirty || LoginForm.$submitted )"> Champ requis </span>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-success btn-block uppercase" ng-disabled="loading">
                <span ng-hide="loading">Connexion</span>
                <i ng-show="loading" class="fa fa-spinner fa-spin"></i>
            </button>
        </div>
        <div class="form-actions text-center">
            <div class="checkbox">
                <label style="color:white;"><input type="checkbox" ng-model="RememberMe">Garder ma session active</label>
            </div>
        </div>
        <!--<div class="form-actions text-center">
            <div class="forget-password-block">
                <a href="javascript:;" id="forget-password" class="forget-password" ng-click="IsLoginForm = !IsLoginForm;">Mot de passe oublié ?</a>
            </div>
        </div>-->
    </form>
    <!-- END LOGIN FORM -->
    <!-- BEGIN FORGOT PASSWORD FORM -->
    <!--<form class="forget-form" name="ForgetForm" ng-submit="RetrievePassword(ForgetForm.$valid);" ng-show="!IsLoginForm" novalidate>
        <div class="form-title">
            <span class="form-title">Mot de passe oublié ?</span>
            <span class="form-subtitle">Entrer votre email pour le récupérer</span>
        </div>
        <div class="alert alert-danger" ng-show="(ForgetForm.EmailForgetForm.$error.required && ForgetForm.EmailForgetForm.$dirty)">
            <button class="close" data-close="alert"></button>
            <span>
                Le champ Email est requis.
            </span>
        </div>
        <div class="alert alert-danger" ng-show="(ForgetForm.EmailForgetForm.$error.email)">
            <button class="close" data-close="alert"></button>
            <span>
                Format invalide.
            </span>
        </div>
        <div class="form-group">
            <input class="form-control placeholder-no-fix" type="email" autocomplete="off" placeholder="Email" name="EmailForgetForm" ng-model="EmailForgetForm" required/>
        </div>
        <div class="form-actions">
            <button type="button" id="back-btn" class="btn btn-default" ng-click="IsLoginForm = !IsLoginForm;">Back</button>
            <button type="submit" class="btn btn-primary uppercase pull-right" ng-disabled="ForgetForm.$invalid">Submit</button>
        </div>
    </form>-->
    <!-- END FORGOT PASSWORD FORM -->
</div>