﻿<div class="modal-body">
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption font-green">
                <i class="fa fa-gears font-green"></i>Actions
            </div>
            <div class="actions">
                <button type="button" class="btn btn-outline me-blue" ng-click="Close()">
                    <i class="fa fa-close"></i>
                    <span>Fermer</span>
                </button>
            </div>
        </div>
        <hr />
        <div class="portlet-body form">
            <!-- BEGIN FORM-->
            <form class="form-horizontal" role="form">
                <div class="form-body">
                    <h4 class="form-section">
                        <a class="btn btn-circle btn-icon-only disabled blue">
                            <i class="fa fa-info"></i>
                        </a>
                        <span class="font-blue form-title"> Informations sur le retrait</span>
                    </h4>
                    <hr class="separator" />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-7 bold">Date : </label>
                                <div class="col-md-5">
                                    <p class="form-control-static">
                                        {{Withdrawal.Date | date:'dd/MM/yyyy HH:mm'}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-7 bold">Montant : </label>
                                <div class="col-md-5">
                                    <p class="form-control-static">
                                        {{Withdrawal.Amount | currency : '' : 2}} DH
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-7 bold">Agence :</label>
                                <div class="col-md-5">
                                    <p class="form-control-static">
                                        {{Withdrawal.AgencyName}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4 class="form-section">
                        <a class="btn btn-circle btn-icon-only disabled blue">
                            <i class="fa fa-comment"></i>
                        </a>
                        <span class="font-blue form-title"> Commentaire</span>
                    </h4>
                    <hr class="separator" />
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div class="well">
                                <span class="label label-danger" ng-if="Withdrawal.Comment == null">
                                    Aucun commentaire n'est diponible pour cette alimentation.
                                </span>
                                <span ng-if="Withdrawal.Comment != null">
                                    {{Withdrawal.Comment}}
                                </span> 
                            </div>
                        </div>
                    </div>
                </div>

            </form>
            <!-- END FORM-->
        </div>
    </div>
</div>
<div class="modal-footer">
</div>