﻿<div class="row">
    <div class="col-md-12">
        <div class="tabbable tabbable-custom tabbable-noborder ">
            <ul class="nav nav-tabs hidden-print">
                <li ng-class="{ 'active': CurrentAgency.AgencyName == agency.AgencyName }" ng-repeat="agency in DailyReports">
                    <a data-toggle="tab" ng-click="SetCurrentAgency($index, agency);">
                        {{agency.AgencyName}}
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet light">
                                <div class="portlet-body">
                                    <div class="invoice">
                                        <div class="row invoice-logo">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label">Jour</label>
                                                    <div>
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-calendar"></i>
                                                            </span>
                                                            <input type="text" class="form-control" name="Day" ng-model="DailyReport.Day" ng-change="GetReport(Index, DailyReport.Day)" date-picker set-today-date="true" with-clear-btn="false" max="true">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-offset-2 col-xs-6">
                                                <h3 class="font-blue pull-right" style="margin-top:0px; font-weight:500;">{{CurrentAgency.AgencyName}}</h3>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <h3>Transactions</h3>
                                                <table class="table table-striped table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th class="text-center">
                                                                #
                                                            </th>
                                                            <th class="text-center">
                                                                Opérateur
                                                            </th>
                                                            <th class="hidden-480 text-center">
                                                                Type de transaction
                                                            </th>
                                                            <th class="hidden-480 text-center">
                                                                Nombre
                                                            </th>
                                                            <th class="hidden-480 text-center">
                                                                Volume
                                                            </th>
                                                            <th class="hidden-480 text-center">
                                                                Commission
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="transaction in CurrentAgency.DailyTransactions">
                                                            <td class="text-center">
                                                                {{$index +1}}
                                                            </td>
                                                            <td class="text-center">
                                                                {{transaction.OperatorName}}
                                                            </td>
                                                            <td class="hidden-480 text-center" ng-if="transaction.TransactionType == 'I'">
                                                                In
                                                            </td>
                                                            <td class="hidden-480 text-center" ng-if="transaction.TransactionType == 'O'">
                                                                Out
                                                            </td>
                                                            <td class="hidden-480 text-center">
                                                                {{transaction.Number}}
                                                            </td>
                                                            <td class="hidden-480 text-center">
                                                                {{transaction.Volume | currency:'':2}} DH
                                                            </td>
                                                            <td class="hidden-480 text-center">
                                                                {{transaction.Profit| currency:'':2}} DH
                                                            </td>
                                                        </tr>
                                                        <tr style="border-top:2pt solid #ddd;">
                                                            <td class="text-center">
                                                            </td>
                                                            <td class="hidden-480 text-center">
                                                            </td>
                                                            <td class="hidden-480 text-center bold">
                                                                Total :
                                                            </td>
                                                            <td class="hidden-480 text-center">
                                                                {{ CurrentAgency.DailyTransactions | sumByColumn: 'Number' }}
                                                            </td>
                                                            <td class="hidden-480 text-center">
                                                                {{ CurrentAgency.DailyTransactions | sumByColumn: 'Volume' | currency:'':2}} DH
                                                            </td>
                                                            <td class="hidden-480 text-center">
                                                                {{ CurrentAgency.DailyTransactions | sumByColumn: 'Profit' | currency:'':2}} DH
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <h3>Opérations de Caisse</h3>
                                                <table class="table table-striped table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                #
                                                            </th>
                                                            <th>
                                                                Opération
                                                            </th>
                                                            <th class="hidden-480">
                                                                Nombre
                                                            </th>
                                                            <th class="hidden-480">
                                                                Volume
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="operation in CurrentAgency.DailyOperations">
                                                            <td>
                                                                {{$index+1}}
                                                            </td>
                                                            <td>
                                                                {{operation.OperationName}}
                                                            </td>
                                                            <td class="hidden-480">
                                                                {{operation.Number}}
                                                            </td>
                                                            <td class="hidden-480">
                                                                {{operation.Volume | currency:'':2}} DH
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="col-xs-6">
                                                <h3>Dépenses</h3>
                                                <table class="table table-striped table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                #
                                                            </th>
                                                            <th>
                                                                Catégorie
                                                            </th>
                                                            <th class="hidden-480">
                                                                Nombre
                                                            </th>
                                                            <th class="hidden-480">
                                                                Volume
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="expense in CurrentAgency.DailyExpenses">
                                                            <td>
                                                                {{$index +1}}
                                                            </td>
                                                            <td>
                                                                {{expense.CategoryName}}
                                                            </td>
                                                            <td class="hidden-480">
                                                                {{expense.Number}}
                                                            </td>
                                                            <td class="hidden-480">
                                                                {{expense.Volume | currency:'':2}} DH
                                                            </td>
                                                        </tr>
                                                        <tr style="border-top:2pt solid #ddd;">
                                                            <td>
                                                            </td>
                                                            <td class="bold">
                                                                Total
                                                            </td>
                                                            <td class="hidden-480">
                                                                {{ CurrentAgency.DailyExpenses | sumByColumn: 'Number' }}
                                                            </td>
                                                            <td class="hidden-480">
                                                                {{ CurrentAgency.DailyExpenses | sumByColumn: 'Volume' | currency:'':2}} DH
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-xs-offset-3 col-xs-6">
                                                <div class="well">
                                                    <div class="row static-info">
                                                        <div class="col-md-8 value">
                                                            Caisse de départ :
                                                        </div>
                                                        <div class="col-md-4 value" ng-if="CurrentAgency.InitialCashBox >= 0">
                                                            + {{CurrentAgency.InitialCashBox | currency:'':2}} DH
                                                        </div>
                                                        <div class="col-md-4 value" ng-if="CurrentAgency.InitialCashBox < 0">
                                                            - {{-CurrentAgency.InitialCashBox | currency:'':2}} DH
                                                        </div>
                                                    </div>
                                                    <div class="row static-info">
                                                        <div class="col-md-8 value">
                                                            Alimentations :
                                                        </div>
                                                        <div class="col-md-4 value">
                                                            + {{CurrentAgency.DailyOperations[0].Volume | currency:'':2}} DH
                                                        </div>
                                                    </div>
                                                    <div class="row static-info">
                                                        <div class="col-md-8 value">
                                                            Retraits :
                                                        </div>
                                                        <div class="col-md-4 value">
                                                            - {{CurrentAgency.DailyOperations[1].Volume | currency:'':2}} DH
                                                        </div>
                                                    </div>
                                                    <div class="row static-info">
                                                        <div class="col-md-8 value">
                                                            Total Dépenses :
                                                        </div>
                                                        <div class="col-md-4 value">
                                                            - {{CurrentAgency.GrandTotalExpenses | currency:'':2}} DH
                                                        </div>
                                                    </div>
                                                    <div class="row static-info">
                                                        <div class="col-md-8 value">
                                                            Balance Franchise :
                                                        </div>
                                                        <div class="col-md-4 value" ng-if="CurrentAgency.GrandTotalIn - CurrentAgency.GrandTotalOut >= 0">
                                                            + {{CurrentAgency.GrandTotalIn - CurrentAgency.GrandTotalOut | currency:'':2}} DH
                                                        </div>
                                                        <div class="col-md-4 value" ng-if="CurrentAgency.GrandTotalIn - CurrentAgency.GrandTotalOut < 0">
                                                            - {{-(CurrentAgency.GrandTotalIn - CurrentAgency.GrandTotalOut) | currency:'':2}} DH
                                                        </div>
                                                    </div>
                                                    <hr class="bg-blue" />
                                                    <div class="row static-info">
                                                        <div class="col-md-8 value">
                                                            Caisse Finale :
                                                        </div>
                                                        <div class="col-md-4 value" ng-if="CurrentAgency.FinalCashBox >= 0">
                                                            + {{CurrentAgency.FinalCashBox | currency:'':2}} DH
                                                        </div>
                                                        <div class="col-md-4 value" ng-if="CurrentAgency.FinalCashBox < 0">
                                                            - {{-CurrentAgency.FinalCashBox | currency:'':2}} DH
                                                        </div>
                                                    </div>
                                                    <div class="row static-info">
                                                        <div class="col-md-8 value">
                                                            Commission journalière :
                                                        </div>
                                                        <div class="col-md-4 value">
                                                            {{CurrentAgency.GrandTotalProfit | currency:'':2}} DH
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-offset-3 col-md-6 text-center">
                                                <a class="btn btn-lg blue hidden-print margin-bottom-5" onclick="javascript:window.print();">
                                                    Imprimer <i class="fa fa-print"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>