﻿<div class="row">
    <div class="col-md-12">
        <div class="tabbable tabbable-custom tabbable-noborder ">
            <ul class="nav nav-tabs hidden-print">
                <li ng-class="{ 'active': CurrentAgency.AgencyName == agency.AgencyName }" ng-repeat="agency in ExpenseReport">
                    <a data-toggle="tab" ng-click="SetCurrentAgency($index, agency);">
                        {{agency.AgencyName}}
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div>
                    <div class="row" ng-show="Loading">
                        <div class="col-md-12">
                            <div class="page-spinner-bar" style="position:unset; width:auto">
                                <div class="bounce1 bg-blue"></div>
                                <div class="bounce2 bg-blue"></div>
                                <div class="bounce3 bg-blue"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-hide="Loading">
                        <div class="col-md-12">
                            <div class="portlet light">
                                <div class="portlet-body">
                                    <div class="invoice">
                                        <div class="row invoice-logo">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label">Année</label>
                                                    <div>
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-calendar"></i>
                                                            </span>
                                                            <ui-select name="Year" ng-model="Year" theme="bootstrap" ng-required="true" ng-change="GetExpenseReport(Index, Year);">
                                                                <ui-select-match placeholder="Choisir">{{$select.selected}}</ui-select-match>
                                                                <ui-select-choices repeat="option as option in Years | filter: $select.search">
                                                                    <div ng-bind-html="option | highlight: $select.search"></div>
                                                                </ui-select-choices>
                                                            </ui-select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-offset-2 col-xs-6">
                                                <h3 class="font-blue pull-right" style="margin-top:0px; font-weight:500;">{{CurrentAgency.AgencyName}}</h3>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <br />
                                            <div class="col-md-12">
                                                <div class="note note-success note-shadow note-bordered text-center" ng-show="CurrentAgency.MonthlyExpenses.length == 0">
                                                    <h3><i class="fa fa-exclamation-triangle" style="font-size:1em;"></i> &nbsp;Aucune donnée n'est disponible pour cette année.</h3>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-hide="CurrentAgency.MonthlyExpenses.length == 0">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <h3>Dépense <small>par mois</small></h3>
                                                    <div id="monthly-expense-chart" class="chart" style="height: 400px;">
                                                    </div>
                                                </div>
                                            </div>
                                            <hr />
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <h3>Dépenses <small>par catégorie</small></h3>
                                                    <div id="category-expense-chart" class="chart" style="height: 400px;">
                                                    </div>
                                                </div>
                                            </div>
                                            <hr />
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <h3>Liste des Dépenses <small>par mois</small></h3>
                                                    <table class="table table-striped table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th>
                                                                    #
                                                                </th>
                                                                <th>
                                                                    Mois
                                                                </th>
                                                                <th class="hidden-480">
                                                                    Total Mensuel
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="monthlyExpense in CurrentAgency.MonthlyExpenses">
                                                                <td>
                                                                    {{$index +1}}
                                                                </td>
                                                                <td>
                                                                    {{monthlyExpense.Month}}
                                                                </td>
                                                                <td class="hidden-480">
                                                                    {{monthlyExpense.Volume | currency:'':2}} DH
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="col-xs-6">
                                                    <h3>Liste des Dépenses <small>par catégorie | Année : {{Year}}</small></h3>
                                                    <div class="scroller" data-height="450px" data-always-visible="1" data-rail-visible1="1">
                                                        <table class="table table-striped table-hover">
                                                            <thead>
                                                                <tr>
                                                                    <th>
                                                                        #
                                                                    </th>
                                                                    <th>
                                                                        Catégorie
                                                                    </th>
                                                                    <th class="hidden-480">
                                                                        Total
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="categoryExpense in CurrentAgency.CategoryExpenses">
                                                                    <td>
                                                                        {{$index +1}}
                                                                    </td>
                                                                    <td>
                                                                        {{categoryExpense.CategoryName}}
                                                                    </td>
                                                                    <td class="hidden-480">
                                                                        {{categoryExpense.Volume | currency:'':2}} DH
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr />
                                            <div class="row">
                                                <div class="col-xs-offset-3 col-xs-6">
                                                    <div class="well">
                                                        <hr class="bg-blue" />
                                                        <div class="row static-info">
                                                            <div class="col-md-8 value">
                                                                Total Annuel des Dépenses :
                                                            </div>
                                                            <div class="col-md-4 value">
                                                                {{CurrentAgency.GrandTotal | currency:'':2}} DH
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
