﻿<div class="row">
    <div class="col-md-12">
        <div class="tabbable tabbable-custom tabbable-noborder ">
            <ul class="nav nav-tabs hidden-print">
                <li ng-class="{ 'active': CurrentAgency.AgencyName == agency.AgencyName }" ng-repeat="agency in MonthlyReports">
                    <a data-toggle="tab" ng-click="SetCurrentAgency($index, agency);">
                        {{agency.AgencyName}}
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet light">
                                <div class="portlet-body">
                                    <div class="invoice">
                                        <div class="row invoice-logo">
                                            <div class="col-xs-3">
                                                <div class="form-group">
                                                    <label class="control-label">Mois</label>
                                                    <div>
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-calendar"></i>
                                                            </span>
                                                            <ui-select name="Year" ng-model="Month" theme="bootstrap" ng-required="true" ng-change="GetMonthlyReport(Index, Month, Year);">
                                                                <ui-select-match placeholder="Choisir">{{$select.selected.name}}</ui-select-match>
                                                                <ui-select-choices repeat="option.value as option in Months | filter: $select.search">
                                                                    <div ng-bind-html="option.name | highlight: $select.search"></div>
                                                                </ui-select-choices>
                                                            </ui-select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-3">
                                                <div class="form-group">
                                                    <label class="control-label">Année</label>
                                                    <div>
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-calendar"></i>
                                                            </span>
                                                            <ui-select name="Year" ng-model="Year" theme="bootstrap" ng-required="true" ng-change="GetMonthlyReport(Index, Month, Year);">
                                                                <ui-select-match placeholder="Choisir">{{$select.selected}}</ui-select-match>
                                                                <ui-select-choices repeat="option as option in Years | filter: $select.search">
                                                                    <div ng-bind-html="option | highlight: $select.search"></div>
                                                                </ui-select-choices>
                                                            </ui-select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <h3 class="font-blue pull-right" style="margin-top:0px; font-weight:500;">{{CurrentAgency.AgencyName}}</h3>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <h3>Transactions</h3>
                                                <table class="table table-striped table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th class="text-center">
                                                                #
                                                            </th>
                                                            <th class="text-center">
                                                                Opérateur
                                                            </th>
                                                            <th class="hidden-480 text-center">
                                                                Type de transaction
                                                            </th>
                                                            <th class="hidden-480 text-center">
                                                                Nombre
                                                            </th>
                                                            <th class="hidden-480 text-center">
                                                                Volume
                                                            </th>
                                                            <th class="text-center">
                                                                Commission
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="transaction in CurrentAgency.MonthlyTransactions">
                                                            <td class="text-center">
                                                                {{$index +1}}
                                                            </td>
                                                            <td class="text-center">
                                                                {{transaction.OperatorName}}
                                                            </td>
                                                            <td class="hidden-480 text-center" ng-if="transaction.TransactionType == 'I'">
                                                                In
                                                            </td>
                                                            <td class="hidden-480 text-center" ng-if="transaction.TransactionType == 'O'">
                                                                Out
                                                            </td>
                                                            <td class="hidden-480 text-center">
                                                                {{transaction.Number}}
                                                            </td>
                                                            <td class="hidden-480 text-center">
                                                                {{transaction.Volume | currency:'':2}} DH
                                                            </td>
                                                            <td class="hidden-480 text-center">
                                                                {{transaction.Profit| currency:'':2}} DH
                                                            </td>
                                                        </tr>
                                                        <tr style="border-top:2pt solid #ddd;">
                                                            <td class="text-center"></td>
                                                            <td class="hidden-480 text-center"></td>
                                                            <td class="hidden-480 text-center bold">
                                                                Total :
                                                            </td>
                                                            <td class="hidden-480 text-center">
                                                                {{ CurrentAgency.MonthlyTransactions | sumByColumn: 'Number' }}
                                                            </td>
                                                            <td class="hidden-480 text-center">
                                                                {{ CurrentAgency.MonthlyTransactions | sumByColumn: 'Volume' | currency:'':2}} DH
                                                            </td>
                                                            <td class="hidden-480 text-center">
                                                                {{ CurrentAgency.MonthlyTransactions | sumByColumn: 'Profit' | currency:'':2}} DH
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <h3>Dépenses</h3>
                                                <table class="table table-striped table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                #
                                                            </th>
                                                            <th>
                                                                Catégorie
                                                            </th>
                                                            <th class="hidden-480">
                                                                Nombre
                                                            </th>
                                                            <th class="hidden-480">
                                                                Volume
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="expense in CurrentAgency.MonthlyExpenses">
                                                            <td>
                                                                {{$index +1}}
                                                            </td>
                                                            <td>
                                                                {{expense.CategoryName}}
                                                            </td>
                                                            <td class="hidden-480">
                                                                {{expense.Number}}
                                                            </td>
                                                            <td class="hidden-480">
                                                                {{expense.Volume | currency:'':2}} DH
                                                            </td>
                                                        </tr>
                                                        <tr style="border-top:2pt solid #ddd;">
                                                            <td></td>
                                                            <td class="bold">
                                                                Total
                                                            </td>
                                                            <td class="hidden-480">
                                                                {{ CurrentAgency.MonthlyExpenses | sumByColumn: 'Number' }}
                                                            </td>
                                                            <td class="hidden-480">
                                                                {{ CurrentAgency.MonthlyExpenses | sumByColumn: 'Volume' | currency:'':2}} DH
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-xs-offset-3 col-xs-6">
                                                <div class="well">
                                                    <div class="row static-info">
                                                        <div class="col-md-8 value">
                                                            Commision Brute :
                                                        </div>
                                                        <div class="col-md-4 value">
                                                            + {{CurrentAgency.GrandTotalProfit | currency:'':2}} DH
                                                        </div>
                                                    </div>
                                                    <div class="row static-info">
                                                        <div class="col-md-8 value">
                                                            Total Dépenses :
                                                        </div>
                                                        <div class="col-md-4 value">
                                                            - {{CurrentAgency.GrandTotalExpenses | currency:'':2}} DH
                                                        </div>
                                                    </div>
                                                    <hr class="bg-blue" />
                                                    <div class="row static-info">
                                                        <div class="col-md-8 value">
                                                            Comission Nette :
                                                        </div>
                                                        <div class="col-md-4 value font-green" ng-if="(CurrentAgency.GrandTotalProfit - CurrentAgency.GrandTotalExpenses ) >= 0">
                                                            + {{(CurrentAgency.GrandTotalProfit - CurrentAgency.GrandTotalExpenses ) | currency:'':2}} DH
                                                        </div>
                                                        <div class="col-md-4 value font-red" ng-if="(CurrentAgency.GrandTotalProfit - CurrentAgency.GrandTotalExpenses ) < 0">
                                                            - {{-(CurrentAgency.GrandTotalProfit - CurrentAgency.GrandTotalExpenses ) | currency:'':2}} DH
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-offset-3 col-md-6 text-center">
                                                <a class="btn btn-lg blue hidden-print margin-bottom-5" onclick="javascript:window.print();">
                                                    Imprimer <i class="fa fa-print"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>