﻿<div class="row">
    <div class="col-md-12">
        <div class="tabbable tabbable-custom tabbable-noborder ">
            <ul class="nav nav-tabs hidden-print">
                <li ng-class="{ 'active': CurrentAgency.AgencyName == agency.AgencyName }" ng-repeat="agency in ProfitReport">
                    <a data-toggle="tab" ng-click="SetCurrentAgency($index, agency);">
                        {{agency.AgencyName}}
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div>
                    <div class="row" ng-show="Loading">
                        <div class="col-md-12">
                            <div class="page-spinner-bar" style="position:unset; width:auto">
                                <div class="bounce1 bg-blue"></div>
                                <div class="bounce2 bg-blue"></div>
                                <div class="bounce3 bg-blue"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-hide="Loading">
                        <div class="col-md-12">
                            <div class="portlet light">
                                <div class="portlet-body">
                                    <div class="invoice">
                                        <div class="row invoice-logo">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label">Année</label>
                                                    <div>
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-calendar"></i>
                                                            </span>
                                                            <ui-select name="Year" ng-model="Year" theme="bootstrap" ng-required="true" ng-change="GetProfitReport(Index, Year);">
                                                                <ui-select-match placeholder="Choisir">{{$select.selected}}</ui-select-match>
                                                                <ui-select-choices repeat="option as option in Years | filter: $select.search">
                                                                    <div ng-bind-html="option | highlight: $select.search"></div>
                                                                </ui-select-choices>
                                                            </ui-select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-offset-2 col-xs-6">
                                                <h3 class="font-blue pull-right" style="margin-top:0px; font-weight:500;">{{CurrentAgency.AgencyName}}</h3>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <br />
                                            <div class="col-md-12">
                                                <div class="note note-success note-shadow note-bordered text-center" ng-show="CurrentAgency.MonthlyExpenses.length == 0 && CurrentAgency.MonthlyProfits.length == 0">
                                                    <h3><i class="fa fa-exclamation-triangle" style="font-size:1em;"></i> &nbsp;Aucune donnée n'est disponible pour cette année.</h3>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-hide="CurrentAgency.MonthlyExpenses.length == 0 && CurrentAgency.MonthlyProfits.length == 0">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <h3>Commission <small>par mois</small></h3>
                                                    <div id="monthly-profit-chart" class="chart" style="height: 400px;">
                                                    </div>
                                                </div>
                                            </div>
                                            <hr />
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <h3>Commission <small>par opérateur</small></h3>
                                                    <div id="operator-profit-chart" class="chart" style="height: 400px;">
                                                    </div>
                                                </div>
                                            </div>
                                            <hr />
                                            <div class="row">
                                                <div class="col-xs-offset-3 col-xs-6">
                                                    <div class="well">
                                                        <div class="row static-info">
                                                            <div class="col-md-8 value">
                                                                Commission annuelle :
                                                            </div>
                                                            <div class="col-md-4 value">
                                                                + {{CurrentAgency.GrandTotalProfit | currency:'':2}} DH
                                                            </div>
                                                        </div>
                                                        <div class="row static-info">
                                                            <div class="col-md-8 value">
                                                                Dépenses annuelles :
                                                            </div>
                                                            <div class="col-md-4 value">
                                                                - {{CurrentAgency.GrandTotalExpense | currency:'':2}} DH
                                                            </div>
                                                        </div>
                                                        <hr class="bg-blue" />
                                                        <div class="row static-info">
                                                            <div class="col-md-8 value">
                                                                Bilan Final :
                                                            </div>
                                                            <div class="col-md-4 value font-green" ng-if="(CurrentAgency.GrandTotalProfit - CurrentAgency.GrandTotalExpense) >= 0">
                                                               + {{(CurrentAgency.GrandTotalProfit - CurrentAgency.GrandTotalExpense) | currency:'':2}} DH
                                                            </div>
                                                            <div class="col-md-4 value font-red" ng-if="(CurrentAgency.GrandTotalProfit - CurrentAgency.GrandTotalExpense) < 0">
                                                               - {{- (CurrentAgency.GrandTotalProfit - CurrentAgency.GrandTotalExpense) | currency:'':2}} DH
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
