﻿<!-- BEGIN HEADER INNER -->
<div class="page-header-inner">
    <!-- BEGIN LOGO -->
    <div class="page-logo">
        <a href="index.html">
            <img src="/Assets/Images/Logo1.png" alt="logo" class="logo-default" />
        </a>
        <div class="menu-toggler sidebar-toggler" ng-click="settings.layout.pageSidebarClosed = ! settings.layout.pageSidebarClosed;">
        </div>
    </div>
    <!-- END LOGO -->
    <!-- BEGIN RESPONSIVE MENU TOGGLER -->
    <a class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
    </a>
    <!-- END RESPONSIVE MENU TOGGLER -->
    <div class="page-actions hidden-sm hidden-xs">
        <div class="btn-group hidden-sm hidden-xs">
            <button type="button" class="btn red-haze btn-sm dropdown-toggle hidden-sm hidden-xs" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" style="cursor:default;">
                <span class="hidden-sm hidden-xs"><i class="fa fa-calendar hidden-sm hidden-xs"></i>&nbsp;&nbsp;{{ clock  | date:'dd/MM/yyyy HH:mm:ss'}}</span>
            </button>
            <!--<button type="button" class="btn red-haze btn-sm dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                <span class="hidden-sm hidden-xs">Configuration&nbsp;</span><i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a ui-sref="Layout.ListAgency">
                        <i class="fa fa-home"></i> Gestion des Agences
                    </a>
                </li>
                <li class="divider">
                </li>
            </ul>-->
        </div>
    </div>
    <!-- BEGIN PAGE TOP -->
    <div class="page-top">
        <div class="top-menu">
            <ul class="nav navbar-nav pull-right">
                <li class="separator hide">
                </li>
                <li class="dropdown dropdown-extended dropdown-inbox" id="header_inbox_bar">
                    <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" ng-click="SetViewed();">
                        <i class="fa fa-bell-o"></i>
                        <span class="badge badge-danger" ng-show="NotificationAlert.NotificationsCount != 0" >
                            {{NotificationAlert.NotificationsCount}}
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="external">
                            <h3>
                                <span class="bold" ng-if="NotificationAlert.NotificationsCount == 1 || NotificationAlert.NotificationsCount == 0">{{NotificationAlert.NotificationsCount}} nouvelle</span> <span ng-if="NotificationAlert.NotificationsCount == 1 || NotificationAlert.NotificationsCount == 0">notification</span>
                                <span class="bold" ng-if="NotificationAlert.NotificationsCount != 1 && NotificationAlert.NotificationsCount != 0">{{NotificationAlert.NotificationsCount}} nouvelles</span> <span ng-if="NotificationAlert.NotificationsCount != 1 && NotificationAlert.NotificationsCount != 0">notifications</span>
                            </h3>
                            <a ui-sref="Layout.ListNotification">Voir tout</a>
                        </li>
                        <li>
                            <ul class="dropdown-menu-list" style="height: 212px;" data-handle-color="#637283">
                                <li ng-repeat="notification in NotificationAlert.LastNotifications">
                                    <a ui-sref="Layout.ListNotification">
                                        <span class="subject" style="margin-left:0px;">
                                            <span class="from">
                                                {{notification.Title}}
                                            </span>
                                            <span class="time">{{notification.CreatedAt | date:'dd/MM/yyyy HH:mm'}} </span>
                                        </span>
                                        <span class="message" style="margin-left:0px;">
                                            {{notification.Message}}
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="separator hide">
                </li>
                <li class="dropdown dropdown-user">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <span class="username username-hide-on-mobile">
                            {{user.FirstName + ' ' + user.LastName}}
                        </span>
                        &nbsp;
                        <i style="color:green; font-size:1.5em;" class="fa fa-circle fa-3x"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-default">
                        <li>
                            <a ui-sref="Layout.UserProfil">
                                <i class="fa fa-user"></i> Mon Profil
                            </a>
                        </li>
                        <li>
                            <a ui-sref="Layout.UserTasks">
                                <i class="fa fa-tasks"></i> Mes Tâches
                            </a>
                        </li>
                        <li>
                            <a ui-sref="Layout.CreateAttendance">
                                <i class="fa fa-check"></i> Pointage
                            </a>
                        </li>
                        <li class="divider">
                        </li>
                        <li>
                            <a href="#" ng-click="Logout()">
                                <i class="fa fa-key"></i> Déconnexion
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- END TOP NAVIGATION MENU -->
    </div>
    <!-- END PAGE TOP -->
</div>
<!-- END HEADER INNER -->