﻿<!-- BEGIN HEADER -->
<div data-ng-include="'/App/Views/Shared/Header.html'" data-ng-controller="HeaderController" class="page-header md-shadow-z-1-i navbar navbar-fixed-top">
</div>
<!-- END HEADER -->

<div class="clearfix">
</div>

<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <div data-ng-include="'/App/Views/Shared/Sidebar.html'" data-ng-controller="SidebarController" class="page-sidebar-wrapper">
    </div>
    <!-- END SIDEBAR -->
    <div class="page-content-wrapper">
        <div class="page-content">
            <!-- BEGIN PAGE HEAD -->
            <div data-ng-include="'/App/Views/Shared/PageHead.html'" data-ng-controller="PageHeadController" class="page-head">
            </div>
            <!-- END PAGE HEAD -->
            <!-- BEGIN ACTUAL CONTENT -->
            <div ui-view class="fade-in-up">
            </div>
            <!-- END ACTUAL CONTENT -->
        </div>
    </div>
</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
<div data-ng-include="'/App/Views/Shared/Footer.html'" data-ng-controller="FooterController" class="page-footer">
</div>
<!-- END FOOTER -->