﻿<!-- BEGIN PAGE TITLE -->
<div class="page-title">
    <h1><span data-ng-bind="$state.current.data.pageTitle"></span> <small data-ng-bind="$state.current.data.pageSubTitle"></small></h1>
</div>
<!-- END PAGE TITLE -->