﻿<div class="page-sidebar navbar-collapse collapse ">
    <!-- BEGIN SIDEBAR MENU -->
    <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
    <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
    <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
    <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <!--ng-class="{'page-sidebar-menu-closed': settings.layout.pageSidebarClosed}"-->
    <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" ng-class="{'page-sidebar-menu-closed': settings.layout.pageSidebarClosed}">
        <li class="start" ng-class="{active : $state.$current.name  == 'Layout.QuickAccess'}">
            <a ui-sref="Layout.QuickAccess">
                <i class="fa fa-google-wallet"></i>
                <span class="title">Accès rapide</span>
            </a>
        </li>
        <li ng-class="{active : $state.$current.name  == 'Layout.Dashboard'}">
            <a ui-sref="Layout.Dashboard">
                <i class="fa fa-line-chart"></i>
                <span class="title">Tableau de bord</span>
            </a>
        </li>
        <li class="heading">
            <h3>Gestion</h3>
        </li>
        <li ng-class="{active : $state.$current.name  == 'Layout.ListTransaction' || $state.$current.name  == 'Layout.CreateTransaction'}">
            <a ui-sref="Layout.ListTransaction">
                <i class="fa fa-exchange"></i>
                <span class="title">Transactions</span>
            </a>
        </li>
        <li ng-class="{active : $state.$current.name  == 'Layout.ListCustomer' || $state.$current.name  == 'Layout.CreateCustomer'}">
            <a ui-sref="Layout.ListCustomer">
                <i class="fa fa-users"></i>
                <span class="title">Clients</span>
            </a>
        </li>
        <li ng-class="{active : $state.$current.name  == 'Layout.ListProvision' || $state.$current.name  == 'Layout.CreateProvision' || $state.$current.name  == 'Layout.ListWithdrawal' || $state.$current.name  == 'Layout.CreateWithdrawal' || $state.$current.name  == 'Layout.ListTransfer' || $state.$current.name  == 'Layout.CreateTransfer'}">
            <a href="javascript:;">
                <i class="fa fa-archive"></i>
                <span class="title">Caisse</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li ng-class="{active : $state.$current.name  == 'Layout.ListProvision' || $state.$current.name  == 'Layout.CreateProvision'}">
                    <a ui-sref="Layout.ListProvision">
                        <span><i class="fa fa-arrow-circle-right"></i> Alimentations</span>
                    </a>
                </li>
                <li ng-class="{active : $state.$current.name  == 'Layout.ListWithdrawal' || $state.$current.name  == 'Layout.CreateWithdrawal'}">
                    <a ui-sref="Layout.ListWithdrawal">
                        <span><i class="fa fa-arrow-circle-left"></i> Retraits</span>
                    </a>
                </li>
                <li ng-class="{active : $state.$current.name  == 'Layout.ListTransfer' || $state.$current.name  == 'Layout.CreateTransfer'}">
                    <a ui-sref="Layout.ListTransfer">
                        <span><i class="fa fa-arrows-h"></i> Transferts</span>
                    </a>
                </li>
            </ul>
        </li>
        <li ng-class="{active : $state.$current.name  == 'Layout.ListExpense' || $state.$current.name  == 'Layout.CreateExpense' || $state.$current.name  == 'Layout.ListCategory' || $state.$current.name  == 'Layout.CreateCategory'}">
            <a href="javascript:;">
                <i class="fa fa-book"></i>
                <span class="title">Dépenses</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li ng-class="{active : $state.$current.name  == 'Layout.ListExpense' || $state.$current.name  == 'Layout.CreateExpense'}">
                    <a ui-sref="Layout.ListExpense">
                        <span><i class="fa fa-list-ul"></i> Gestion des dépenses</span>
                    </a>
                </li>
                <li ng-class="{active : $state.$current.name  == 'Layout.ListCategory' || $state.$current.name  == 'Layout.CreateCategory'}">
                    <a ui-sref="Layout.ListCategory">
                        <span><i class="fa fa-sitemap"></i> Gestion des Catégories</span>
                    </a>
                </li>
            </ul>
        </li>
        <li ng-class="{active : $state.$current.name  == 'Layout.DailyReport' || $state.$current.name  == 'Layout.MonthlyReport' || $state.$current.name  == 'Layout.ExpenseReport' || $state.$current.name  == 'Layout.ProfitReport'}">
            <a href="javascript:;">
                <i class="fa fa-edit"></i>
                <span class="title">Rapports</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li ng-class="{active : $state.$current.name  == 'Layout.DailyReport'}">
                    <a ui-sref="Layout.DailyReport">
                        <span><i class="fa fa-file-text-o"></i> Rapport Journalier</span>
                    </a>
                </li>
                <li ng-class="{active : $state.$current.name  == 'Layout.MonthlyReport'}" ng-show="user.UserRoles.split('|').includes('Admin')">
                    <a ui-sref="Layout.MonthlyReport">
                        <span><i class="fa fa-file-text-o"></i> Rapport Mensuel</span>
                    </a>
                </li>
                <li ng-class="{active : $state.$current.name  == 'Layout.ExpenseReport'}" ng-show="user.UserRoles.split('|').includes('Admin')">
                    <a ui-sref="Layout.ExpenseReport">
                        <span><i class="fa fa-file-text-o"></i> Rapport Dépenses</span>
                    </a>
                </li>
                <li ng-class="{active : $state.$current.name  == 'Layout.ProfitReport'}" ng-show="user.UserRoles.split('|').includes('Admin')">
                    <a ui-sref="Layout.ProfitReport">
                        <span><i class="fa fa-file-text-o"></i> Rapport Commissions</span>
                    </a>
                </li>
            </ul>
        </li>
        <li ng-class="{active : $state.$current.name  == 'Layout.ListAgency' || $state.$current.name  == 'Layout.CreateAgency' || $state.$current.name  == 'Layout.ListUser' || $state.$current.name  == 'Layout.CreateUser' || $state.$current.name  == 'Layout.ListOperator' || $state.$current.name  == 'Layout.CreateOperator' || $state.$current.name  == 'Layout.ListTask' || $state.$current.name  == 'Layout.CreateTask' || $state.$current.name  == 'Layout.ListAttendance'}" ng-show="user.UserRoles.split('|').includes('Admin')">
            <a href="javascript:;">
                <i class="fa fa-cogs"></i>
                <span class="title">Administration</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li ng-class="{active : $state.$current.name  == 'Layout.ListAgency' || $state.$current.name  == 'Layout.CreateAgency'}">
                    <a ui-sref="Layout.ListAgency">
                        <span><i class="fa fa-home"></i> Gestion des Agences</span>
                    </a>
                </li>
                <li ng-class="{active : $state.$current.name  == 'Layout.ListUser' || $state.$current.name  == 'Layout.CreateUser'}">
                    <a ui-sref="Layout.ListUser">
                        <span><i class="fa fa-users"></i> Gestion des Utilisateurs</span>
                    </a>
                </li>
                <li ng-class="{active : $state.$current.name  == 'Layout.ListOperator' || $state.$current.name  == 'Layout.CreateOperator'}">
                    <a ui-sref="Layout.ListOperator">
                        <span><i class="fa fa-cube"></i> Gestion des Opérateurs</span>
                    </a>
                </li>
                <li ng-class="{active : $state.$current.name  == 'Layout.ListTask' || $state.$current.name  == 'Layout.CreateTask'}">
                    <a ui-sref="Layout.ListTask">
                        <span><i class="fa fa-tasks"></i> Planification des Tâches</span>
                    </a>
                </li>
                <li ng-class="{active : $state.$current.name  == 'Layout.ListAttendance'}">
                    <a ui-sref="Layout.ListAttendance">
                        <span><i class="fa fa-check"></i> Gestion des Pointages</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="heading" ng-show="user.UserRoles.split('|').includes('SuperAdmin')">
            <h3>Gestion de l'application</h3>
        </li>
        <li ng-class="{active : $state.$current.name  == 'Layout.ListCompany' || $state.$current.name  == 'Layout.CreateCompany'}" ng-show="user.UserRoles.split('|').includes('SuperAdmin')">
            <a ui-sref="Layout.ListCompany">
                <i class="fa fa-building"></i>
                <span class="title">Sociétés</span>
            </a>
        </li>
    </ul>
    <!-- END SIDEBAR MENU -->
</div>	