﻿<div class="modal-body">
    <form name="UpdateForm" novalidate>
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption font-green">
                    <i class="fa fa-gears font-green"></i>Actions
                </div>
                <div class="actions">
                    <button type="submit" class="btn btn-outline me-yellow" ng-disabled="Loading" ng-click="UpdateTask(UpdateForm);">
                        <i class="fa fa-check" ng-hide="Loading"></i>
                        <span ng-hide="Loading">Modifier</span>
                        <i class="fa fa-spinner fa-spin" ng-show="Loading"></i>
                    </button>
                    <button type="button" class="btn btn-outline me-blue" ng-disabled="Loading" ng-click="Cancel()">
                        <i class="fa fa-times"></i>
                        <span>Annuler</span>
                    </button>
                </div>
            </div>
            <hr />
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-offset-3 col-md-6">
                        <div name="UpdateForm" class="form form-horizontal">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="text" class="form-control todo-taskbody-tasktitle" name="Title" placeholder="Titre" ng-model="Task.Title" ng-required="true" ng-maxlength="20" capitalize-first>
                                    <span class="help-block font-red-thunderbird" ng-show="UpdateForm.Title.$error.required && ( UpdateForm.Title.$dirty || UpdateForm.$submitted )"> Champ requis </span>
                                    <span class="help-block font-red-thunderbird" ng-show="UpdateForm.Title.$error.maxlength"> Le titre trop long ! </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <textarea class="form-control todo-taskbody-taskdesc" name="Description" rows="8" placeholder="Description" ng-model="Task.Description" ng-required="true" capitalize-first></textarea>
                                    <span class="help-block font-red-thunderbird" ng-show="UpdateForm.Description.$error.required && ( UpdateForm.Description.$dirty || UpdateForm.$submitted )"> Champ requis </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                        <input type="text" class="form-control" name="Date" ng-model="Task.Date" date-picker set-today-date="false" with-clear-btn="true" max="false" placeholder="Date d'éxecution" ng-required="true">
                                    </div>
                                    <span class="help-block font-red-thunderbird" ng-show="UpdateForm.Date.$error.required && ( UpdateForm.Date.$dirty || UpdateForm.$submitted )"> Champ requis </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6">
                                    <ui-select name="User_Id" ng-model="Task.User_Id" theme="bootstrap" ng-required="true">
                                        <ui-select-match placeholder="Assignée à">{{$select.selected.FullName}}</ui-select-match>
                                        <ui-select-choices repeat="option.Id as option in Users | filter: $select.search">
                                            <div ng-bind-html="option.FullName | highlight: $select.search"></div>
                                            <small ng-bind-html="option.AgencyName | highlight: $select.search"></small>
                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="help-block font-red-thunderbird" ng-show="UpdateForm.User_Id.$error.required && ( UpdateForm.User_Id.$dirty || UpdateForm.$submitted )"> Champ requis </span>
                                </div>
                                <div class="col-md-6">
                                    <ui-select name="Importance" ng-model="Task.Importance" ng-init="Options = [{ name: 'Urgent', value: 'High' },{ name: 'Moyen', value: 'Medium' },{ name: 'Faible', value: 'Low' }];" theme="bootstrap" ng-required="true">
                                        <ui-select-match placeholder="Importance">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="option.value as option in Options | filter: $select.search">
                                            <div ng-bind-html="option.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="help-block font-red-thunderbird" ng-show="UpdateForm.Importance.$error.required && ( UpdateForm.Importance.$dirty || UpdateForm.$submitted )"> Champ requis </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
    </form>
</div>
<div class="modal-footer">
</div>