﻿<div class="row">
    <div class="col-md-12">
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption font-green">
                    <i class="fa fa-filter font-green"></i>Filtres
                </div>
                <div class="actions">
                    <button type="button" class="btn btn-outline me-blue" ng-click="$state.go('Layout.CreateTask');">
                        <i class="fa fa-plus"></i> Ajouter
                    </button>
                    <button type="button" href="javascript:;" class="btn btn-outline me-blue fullscreen">
                        <i class="fa fa-arrows-alt"></i>
                    </button>
                    <button type="button" class="btn  btn-outline me-blue" ng-click="$state.reload();" tooltip="Réinitialiser"  tooltip-trigger="mouseenter" tooltip-placement="top">
                        <i class="fa fa-refresh"></i>
                    </button>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Début</label>
                            <div>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                    <input type="text" class="form-control" name="StartDate" ng-model="Filters.StartDate" ng-change="Reload(Filters);" date-picker set-today-date="true" with-clear-btn="false" max="false">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Fin</label>
                            <div>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                    <input type="text" class="form-control" name="EndDate" ng-model="Filters.EndDate" ng-change="Reload(Filters);" date-picker set-today-date="true" with-clear-btn="false" max="false">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <ui-select ng-model="Filters.Importance" theme="bootstrap" ng-change="Reload(Filters);" ng-init="ImportanceOptions = [{ name: 'Urgent', value: 'High' }, { name: 'Moyen', value: 'Medium' }, { name: 'Faible', value: 'Low' }, { name: 'Indifférent', value: '*' }];">
                            <ui-select-match placeholder="Filtre par importance">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="option.value as option in ImportanceOptions | filter: $select.search">
                                <div ng-bind-html="option.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="col-md-3">
                        <ui-select ng-model="Filters.Status" theme="bootstrap" ng-change="Reload(Filters);" ng-init="StatusOptions = [{ name: 'En cours', value: 'Pending' }, { name: 'Tâche terminée', value: 'Completed' }, { name: 'Indifférent', value: '*' }];">
                            <ui-select-match placeholder="Filtre par statut">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="option.value as option in StatusOptions | filter: $select.search">
                                <div ng-bind-html="option.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped table-bordered table-hover" id="datatable" datatable="" dt-options="DtOptions" dt-columns="DtColumns" dt-instance="DtInstance" width="100%"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>