﻿<div class="modal-body">
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption font-green">
                <i class="fa fa-gears font-green"></i>Actions
            </div>
            <div class="actions">
                <button type="button" class="btn btn-outline me-blue" ng-click="Close()">
                    <i class="fa fa-close"></i>
                    <span>Fermer</span>
                </button>
            </div>
        </div>
        <hr />
        <div class="portlet-body form">
            <div class="todo-tasklist-item"  ng-class="{'todo-tasklist-item-border-red' : Task.Importance === 'High', 'todo-tasklist-item-border-yellow' : Task.Importance === 'Medium', 'todo-tasklist-item-border-blue' : Task.Importance === 'Low'}">
                <div class="todo-tasklist-item-title">
                    <i class="fa fa-user"></i> &nbsp; {{Task.UserName}}
                </div>
                <div class="todo-tasklist-item-title">
                    {{Task.Title}}
                </div>
                <div class="todo-tasklist-item-text">
                    {{Task.Description}}
                </div>
                <div class="todo-tasklist-controls pull-left">
                    <span class="todo-tasklist-date"><i class="fa fa-calendar"></i> {{Task.Date | date:'dd/MM/yyyy'}} </span>
                    <span class="todo-tasklist-badge badge badge-roundless bg-red" ng-if="Task.Importance == 'High'">Urgent</span>
                    <span class="todo-tasklist-badge badge badge-roundless bg-yellow" ng-if="Task.Importance == 'Medium'">Moyen</span>
                    <span class="todo-tasklist-badge badge badge-roundless bg-blue" ng-if="Task.Importance == 'Low'">Faible</span>
                    <span class="todo-tasklist-badge badge badge-roundless bg-grey" ng-if="Task.Status === 'Pending'">En cours</span>
                    <span class="todo-tasklist-badge badge badge-roundless bg-green" ng-if="Task.Status === 'Completed'">Tâche terminée</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
</div>