﻿<div class="row">
    <div class="col-md-12">
        <div class="page-spinner-bar" ng-show="LoadingTasks" style="position:unset; width:auto">
            <div class="bounce1 bg-blue"></div>
            <div class="bounce2 bg-blue"></div>
            <div class="bounce3 bg-blue"></div>
        </div>
        <div class="todo-sidebar" ng-hide="LoadingTasks">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject font-green-sharp bold uppercase">Importance </span>
                    </div>
                </div>
                <div class="portlet-body todo-project-list-content" ng-init="ImportanceFilter = ''">
                    <div class="todo-project-list">
                        <ul class="nav nav-pills nav-stacked">
                            <li ng-class="{'active' : ImportanceFilter == ''}">
                                <a ng-click="ImportanceFilter = ''">
                                    <span class="badge bg-grey" ng-class="{'badge-active' : ImportanceFilter == ''}"> {{UserTask.TasksCount}} </span> Voir tout
                                </a>
                            </li>
                            <li ng-class="{'active' : ImportanceFilter == 'High'}">
                                <a ng-click="ImportanceFilter = 'High'">
                                    <span class="badge bg-red" ng-class="{'badge-active' : ImportanceFilter == 'High'}"> {{UserTask.HighTasksCount}} </span> Urgent
                                </a>
                            </li>
                            <li ng-class="{'active' : ImportanceFilter == 'Medium'}">
                                <a ng-click="ImportanceFilter = 'Medium'">
                                    <span class="badge bg-yellow " ng-class="{'badge-active' : ImportanceFilter == 'Medium'}"> {{UserTask.MediumTasksCount}} </span> Moyen
                                </a>
                            </li>
                            <li ng-class="{'active' : ImportanceFilter == 'Low'}"> 
                                <a ng-click="ImportanceFilter = 'Low'">
                                    <span class="badge bg-blue" ng-class="{'badge-active' : ImportanceFilter == 'Low'}"> {{UserTask.LowTasksCount}} </span> Faible
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="todo-content" ng-hide="LoadingTasks">
            <div class="portlet light">
                <!-- PROJECT HEAD -->
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-bar-chart font-green-sharp hide"></i>
                        <span class="caption-subject font-green-sharp bold uppercase">Tâches</span>
                    </div>
                </div>
                <!-- end PROJECT HEAD -->
                <div class="portlet-body">
                    <div class="row">
                        <div class="todo-tasklist scroller" data-height="600px" data-always-visible="1" data-rail-visible1="1">
                            <div class="col-md-6" ng-repeat="task in UserTask.Tasks | filter:{Importance: ImportanceFilter}">
                                <div class="todo-tasklist-item" ng-class="{'todo-tasklist-item-border-red' : task.Importance === 'High', 'todo-tasklist-item-border-yellow' : task.Importance === 'Medium', 'todo-tasklist-item-border-blue' : task.Importance === 'Low'}" style="cursor:default;">
                                    <div class="todo-tasklist-item-title">
                                        {{task.Title}}
                                    </div>
                                    <div class="todo-tasklist-item-text">
                                        {{task.Description}}
                                    </div>
                                    <div class="todo-tasklist-controls">
                                        <span class="todo-tasklist-date"><i class="fa fa-calendar"></i> {{task.Date | date:'dd/MM/yyyy'}} </span>
                                        <span class="todo-tasklist-badge badge badge-roundless bg-red" ng-if="task.Importance == 'High'">Urgent</span>
                                        <span class="todo-tasklist-badge badge badge-roundless bg-yellow" ng-if="task.Importance == 'Medium'">Moyen</span>
                                        <span class="todo-tasklist-badge badge badge-roundless bg-blue" ng-if="task.Importance == 'Low'">Faible</span>
                                        <span class="todo-tasklist-badge badge badge-roundless bg-grey">En cours</span>
                                    </div>
                                    <br />
                                    <button type="button" class="btn bg-green btn-block" style="text-transform:none;" ng-click="CloseTask(task);" ng-disabled="Loading"><i class="fa fa-spinner fa-spin" ng-show="Loading"></i><i class="fa fa-check" ng-hide="Loading"></i><span ng-hide="Loading">Marquer Tâche Terminée</span></button>
                                </div>
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>