﻿<div class="row">
    <div class="col-md-12">
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption font-green">
                    <i class="fa fa-filter font-green"></i>Filtres
                </div>
                <div class="actions">
                    <button type="button" class="btn btn-outline me-blue" ng-click="$state.go('Layout.CreateTransfer');">
                        <i class="fa fa-plus"></i> Ajouter
                    </button>
                    <button type="button" href="javascript:;" class="btn btn-outline me-blue fullscreen">
                        <i class="fa fa-arrows-alt"></i>
                    </button>
                    <button type="button" class="btn  btn-outline me-blue" ng-click="$state.reload();" tooltip="Réinitialiser"  tooltip-trigger="mouseenter" tooltip-placement="top">
                        <i class="fa fa-refresh"></i>
                    </button>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Début</label>
                            <div>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                    <input type="text" class="form-control" name="StartDate" ng-model="Filters.StartDate" ng-change="Reload(Filters);" date-picker set-today-date="true" with-clear-btn="false" max="true">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Fin</label>
                            <div>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                    <input type="text" class="form-control" name="EndDate" ng-model="Filters.EndDate" ng-change="Reload(Filters);" date-picker set-today-date="true" with-clear-btn="false" max="true">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label class="control-label">Filtre par agence émettrice</label>
                        <ui-select ng-model="Filters.Agency" theme="bootstrap" ng-change="Reload(Filters);">
                            <ui-select-match placeholder="Choisir">{{$select.selected.Name}}</ui-select-match>
                            <ui-select-choices repeat="option.Id as option in Agencies | filter: $select.search">
                                <div ng-bind-html="option.Name | highlight: $select.search"></div>
                                <small ng-bind-html="option.City | highlight: $select.search"></small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Filtre par agence réceptrice</label>
                        <ui-select ng-model="Filters.Receiver" theme="bootstrap" ng-change="Reload(Filters);">
                            <ui-select-match placeholder="Choisir">{{$select.selected.Name}}</ui-select-match>
                            <ui-select-choices repeat="option.Id as option in Agencies | filter: $select.search">
                                <div ng-bind-html="option.Name | highlight: $select.search"></div>
                                <small ng-bind-html="option.City | highlight: $select.search"></small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped table-bordered table-hover" id="datatable" datatable="" dt-options="DtOptions" dt-columns="DtColumns" dt-instance="DtInstance" width="100%"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>